@import "_variables";

.cq-share {
    .cq-menu-dropdown {
        left: 50%;
        width: 280px;
        height: 200px;
        color: black;
        transform: translateX(-50%); 
    }

    .title {
        background: $DEFAULT-main;
        height: 40px;
        line-height: 40px;
        padding-left: 16px;
        font-size: 16px;
        box-shadow: inset 0 -1px 0 0 $DEFAULT-border;
    }
    .body {
        background: #FAFAFA;
        height: 100%;
        padding: 16px;

        .content {
            display: flex;
            input { 
                background: $DEFAULT-main;
                line-height: 32px;
                height: 32px;
                outline: none;
                flex-grow: 1;
                border: 1px solid $DEFAULT-border;
                padding-left: 4px;
                @include box-sizing(border-box);
                @include border-radius(4px);
            }
            .ic-icon {
                background: $active-color;
                width: 32px;
                height: 32px;
                padding-top: 4px;
                position: relative;
                left: -1px;
                @include border-radius(0 4px 4px 0);
                @include box-sizing(border-box);
                &:after {
                    width: auto !important;
                    left: auto !important;
                    right: -10px;
                    white-space: nowrap;
                    bottom: 36px;
                }
                &:before {
                    bottom: 32px;
                }
            }
            .download-btn {
                background: $DEFAULT-main;
                border: 1px solid $DEFAULT-border;
                width: 56px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                margin-right: 8px;
                cursor: pointer;
                @include border-radius(4px);
                @include box-sizing(border-box);
                &:hover {
                    border-color: $active-color; 
                }
            }
        }

        .caption2 {
            margin-top: 10px;
        }
    }
}