@import "_variables";

.ciq-list {
    height: 250px;
    overflow-y: auto;
    position: relative;
    .ciq-list-item {
        border: 1px solid $DEFAULT-border;
        border-top: none;
        background: $DEFAULT-main;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        color: $DEFAULT-text-strong;
        padding-left: 16px;
        cursor: pointer;
        @include box-sizing(border-box);
        &:first-child {
            border-top: 1px solid $DEFAULT-border;
        }
        &.selected {
            background-color: rgba($active-color, 0.4);
        }
        &.disabled {
            pointer-events: none;
            >* {
                opacity: 0.2;
                cursor: auto;
            }
        }
    }
}