.cq-settings-dialog {
    display: flex;
    flex-direction: column;
    // background: rgba(255, 255, 255, 0.95) !important;
    .titlebar {
        height: 40x;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 24px;
            padding-left: 16px;
        }
        .icons {
            display: flex;
            align-items: center;
            height: 50px;
        }
        &.no-tabs {
            border-bottom: 1px solid #E9E9ED;
        }
    }

    .tabs {
        height: 40px;
        box-sizing: border-box;
        align-items: stretch;
        display: flex;
        position: relative;
        border-bottom: 1px solid #E9E9ED;
        > div {
            text-align: center;
            line-height: 40px;
            width: 50%;
            cursor: pointer;
            font-size: 14px;
            &.active { font-weight: bold; }
        }
        .active-border {
            position: absolute;
            background: #4C5794;
            height: 2px;
            width: calc(50% + 1px);
            bottom: -1px;
            left: 0;
            transition: left linear 0.1s;
            &.second {
                left: 50%;
            }
        }
    }

    .items {
        padding: 16px 0;
        flex-grow: 1;
        overflow: scroll;
        .item {
            box-sizing: border-box;
            padding: 0 16px;
            height: 32px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .title {
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid #E9E9ED;
        > div {
            width: 90px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            color: #4C5794;
            font-size: 14px;
        }
    }

    .description {
        flex-grow: 1;
        padding: 16px;
        font-size: 12px;
        line-height: 18px;
    }
}
