.cq-dialog {
    width: 344px;
    height: 366px;
    left: calc(50% - 344px/2);
    top: calc(50% - 366px/2);
    position: absolute;
    box-shadow: 0 0.375em 0.625em 0 rgba(0, 0, 0, 0.14);
    background: white;
    z-index: -3;
    opacity: 0;
    margin-top: 120px;
    box-shadow: 0 0 0.625em 0.025em rgba(0, 0, 0, 0.14);
    transition: margin-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    	opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.open{
    	margin-top: 0px;
        opacity: 1;
        z-index: 3;
    }
}