$base-font: 'Roboto', sans-serif;

$red: #ff002a;
$green: #85c730;
$accent: #398dff;

$bg1: #fff;
$bg2: #f3f3f3;

$font-xs: 9px;
$font-s: 11px;
$font-m: 12px;
$font-l: 14px;

$soft-corners: 1px;

/* Basic Text */

$text-subtle: #999;
$text-medium: #666;
$text-strong: #000;

/* Borders */

$border-subtle: #ddd;
$border-medium: #ccc;
$border-strong: #999;

/* Light Theme */

$theme1-bg: #f8f8f8;
$theme1-main: #fff;
$theme1-hu-bg: #ffffff;
$theme1-hu-bg-dynamic: #ffffff;
$theme1-text: #000;

/* ciq-night Theme */

$theme2-bg: #151f28;
$theme2-main: #1c2a35;
$theme2-hu-bg: #1c2a35;
$theme2-hu-bg-dynamic: #2a51d0;
$theme2-text: #fff;

/* Layout */

$nav-height: 45px;
$footer-height: 45px;

/* ------------------------------------------------------- CHART OVERLAY ELEMENTS ------------------------------------------------------ */

.rightclick_study .mouseManageText {
    display: inline;
}

.rightclick_study .mouseDeleteText {
    display: none;
}

.rightclick_study .overlayEdit {
    margin-top: -4px;
    margin-left: 5px;
    opacity: 1;

    &.stx-btn span {
        @include themify($themes) {
            background-color: themed('defaultMain');
        }
        border: none;
        background-position: -301px -26px;
        width: 23px;
    }
}

/* ------------------------------------------------------- SLEEP MODE ------------------------------------------------------ */
.ciq-sleeping .chartContainer {
    opacity: 0.5;
}
