.cq-slider {
	width: 150px;
	height: 10px;
    display: flex;
    align-items: center;

    .slider {
        width: 120px;
        height: 10px;
        display: relative;
        cursor: pointer;
    }
	.handle {
		background-color: white;
		width: 10px;
		height: 10px;
        border: 2px solid #4C5794;
        box-sizing: border-box;
		border-radius: 7px;
	}
	.bar {
		position: relative;
        top: 4px;
	}
	.bar.bar-0 {
		background: #4C5794;
        height: 2px;
	}
	.bar.bar-1 {
		background: #F2F2F2;
        height: 2px;
	}
    > div:last-child {
        text-align: right;
        flex-grow: 1;
        font-weight: bold;
    }
}

.cq-line {
    position: relative;
    height: 18px;
    .parent,
    .title {
        height: 18px;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        cursor: pointer;
    }
    .parent:hover { background: #EFEFEF; }

    /*Centers the span inside of its parent so the hover effect looks good*/
    .option {
        display: block;
        width: 60px;
        height: 0px;
        padding: 0px;
        border-top-color: #666;
        border-radius:0;
    }
    /* Line style types */
    .solid-1 { border-top-style: solid; border-top-width: 1px;}
    .dotted-1 { border-top-style: dotted; border-top-width: 1px;}
    .dashed-1 { border-top-style: dashed; border-top-width: 1px;}
    .solid-3 { border-top-style: solid; border-top-width: 2px;}
    .dotted-3 { border-top-style: dotted; border-top-width: 2px;}
    .dashed-3 { border-top-style: dashed; border-top-width: 2px;}
    .solid-5 { border-top-style: solid; border-top-width: 3px;}
    .dotted-5 { border-top-style: dotted; border-top-width: 3px;}
    .dashed-5 { border-top-style: dashed; border-top-width: 3px;}

    .dropdown {
        position: relative;
        opacity: 0;
        transition: opacity 0.1s;
        pointer-events: none;
        background: white;
        box-shadow: 0 0.375em 0.625em 0 rgba(0,0,0,.14);
        z-index: +1;
        .option {
            margin: 0 20px;
        }
    }
    .title:hover + .dropdown,
    .dropdown:hover {
        opacity: 1;
        pointer-events: all;
    }
    .none {
        text-align: center;
        font-style: italic;
        color: #666;
    }
}
.cq-dropdown {
    position: relative;
    height: 18px;
    width: 80px;

    .title {
        line-height: 18px;
        justify-content: center !important;
        font-weight: bold;
        border: 1px solid #eaeaea;
        border-radius: 2px;
    }

    .dropdown {
        position: absolute;
        background: white;
        top: 20px;
        right: -5px;
        z-index: +1;
        padding: 5px;
        width: 80px;
        box-shadow: 0 0.375em 0.625em 0 rgba(0,0,0,.14);
        display: none;
        .row {
            height: 18px;
            cursor: pointer;
            &:hover {
                background: #fafafa;
                font-weight: bold;
            }
        }
        &:hover {
            display: block;
        }
    }

    .title:hover + .dropdown {
        display: block;
    }
}
.cq-color-picker {
    position: relative;
    height: 24px;
    width: 24px;
    .title {
        height: 100%;
        width: 100%;
        background-color: black;
        border: 2px solid rgba(0,0,0,0.09);
        border-radius: 2px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .dropdown {
        position: absolute;
        top: 24px;
        right: calc(100% - 40px);
        opacity: 0;
        transition: opacity 0.1s;
        pointer-events: none;
        background: white;
        z-index: +1;
        padding: 5px;
        width: 240px;
        box-shadow: 0 0.375em 0.625em 0 rgba(0,0,0,.14);
        .row {
            height: 18px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tile-color {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }
    .title:hover + .dropdown,
    .dropdown:hover {
        opacity: 1;
        pointer-events: all;
    }
}

.cq-switch {
    border-radius: 8px;
    width: 32px;
    height: 16px;
    position: relative;
    cursor: pointer;

    .handle {
        position: absolute;
        transition: left 0.2s;
        top: 1px;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background: #FFFFFF;
    }
    &.on {
        background: #4C5794;
        .handle {left: 17px; }
    }
    &.off {
        background: #666;
        .handle { left: 1px; }
    }
}
