.cq-slider {
	width: 150px;
	height: 10px;
    display: flex;
    align-items: center;

    .slider {
        width: 120px;
        height: 10px;
        display: relative;
        cursor: pointer;
    }
	.handle {
		background-color: white;
		width: 10px;
		height: 10px;
        border: 2px solid #4C5794;
        box-sizing: border-box;
		border-radius: 7px;
	}
	.bar {
		position: relative;
        top: 4px;
	}
	.bar.bar-0 {
		background: #4C5794;
        height: 2px;
	}
	.bar.bar-1 {
		background: #F2F2F2;
        height: 2px;
	}
    > div:last-child {
        text-align: right;
        flex-grow: 1;
        font-weight: bold;
    }
}

.cq-dropdown {
    position: relative;
    height: 32px;
    width: 142px;
	user-select: none;

    .title {
        border: 1px solid #E9E9ED;
        border-radius: 4px;
        height: 32px;
        line-height: 32px;
        box-sizing: border-box;
        padding-left: 8px;
		cursor: pointer;
		svg {
			pointer-events: none;
			transition: transform 0.6s;
		}
		&.active svg {
			transform: scaleY(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
		}
    }

    .dropdown {
        position: absolute;
        background: white;
		box-sizing: border-box;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        z-index: +2;
        width: 142px;
        padding: 4px 8px;
        border: 1px solid #E9E9ED;
        box-shadow: 0 2px 8px 0 rgba(42,48,82,0.14);
        border-radius: 4px;
        .row {
            height: 18px;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }
    }

    .dropdown.active {
		top: 36px;
		opacity: 1;
		pointer-events: all;
		transition: opacity 0.3s, top 0.2s;
    }
}

// Pattern
.cq-dropdown {
    .option {
        display: inline-block;
        width: 100%;
        pointer-events: none;
    }
    /* Line style types */
    .solid-1 { border-top-style: solid; border-top-width: 1px;}
    .dotted-1 { border-top-style: dotted; border-top-width: 1px;}
    .dashed-1 { border-top-style: dashed; border-top-width: 1px;}
    .solid-3 { border-top-style: solid; border-top-width: 2px;}
    .dotted-3 { border-top-style: dotted; border-top-width: 2px;}
    .dashed-3 { border-top-style: dashed; border-top-width: 2px;}
    .solid-5 { border-top-style: solid; border-top-width: 3px;}
    .dotted-5 { border-top-style: dotted; border-top-width: 3px;}
    .dashed-5 { border-top-style: dashed; border-top-width: 3px;}
}

.cq-color-picker {
    position: relative;
    height: 24px;
    width: 24px;
    .title {
        height: 100%;
        width: 100%;
        background-color: black;
        border: 2px solid rgba(0,0,0,0.09);
        border-radius: 2px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .dropdown {
        position: absolute;
        top: 30px;
        right: calc(100% - 24px);
        opacity: 0;
        transition: opacity 0.1s;
        pointer-events: none;
        background: white;
        z-index: +1;
        width: 250px;
        padding: 8px;
        border: 1px solid #E9E9ED;
        box-shadow: 0 2px 8px 0 rgba(42,48,82,0.14);
        border-radius: 4px;
        .row {
            height: 18px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            align-items: center;
            .tile-color {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }
    .dropdown.open {
        opacity: 1;
        pointer-events: all;
    }
}

.cq-switch {
    border-radius: 8px;
    width: 32px;
    height: 16px;
    position: relative;
    cursor: pointer;

    .handle {
        position: absolute;
        transition: left 0.2s;
        top: 1px;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background: #FFFFFF;
    }
    &.on {
        background: #4C5794;
        .handle {left: 17px; }
    }
    &.off {
        background: #666;
        .handle { left: 1px; }
    }
}

.cq-numbercolorpicker {
    display: inline-flex;
}

.cq-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cq-toggle.active > .ic-icon,
.ic-icon.active {
    box-shadow: inset 0 0 0 1px #4c5794;
    background: #f2f3f8;
}
