@import "_variables";

@keyframes cq-slide-down {
    0%   {
        top: -32px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
@keyframes cq-slide-up {
    100% {
        height: 0;
        opacity: 0;
    }
}
.cq-notifications {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: +3;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .hide {
    }
    .notification {
        position: relative;
        margin-top: 4px;
        height: 32px;
        animation: cq-slide-down .3s;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        border: 1px solid #FDD063;
        @include border-radius(3px);
        &.warning {
            background: #FFF8E2;
        }
        &.success {
            border-color: #008006;
            background: #CCEEA1;
        }
        &.info {
            border-color: #009AFA;
            background: #E0F2FE;
        }
        &.error {
            border-color: #FF3D38;
            background: #FFEAEE;
        }
        &.hide {
            animation: cq-slide-up .3s forwards;
        }
        .close-icon { cursor: pointer; }
    }
}
