@import "_variables";

.cq-slider {
	width: 150px;
	height: 10px;
    display: flex;
    align-items: center;

    .slider {
        width: 120px;
        height: 10px;
        display: relative;
        cursor: pointer;
    }
	.handle {
		background-color: $DEFAULT-main;
		width: 10px;
		height: 10px;
        border: 2px solid $active-color;
        @include box-sizing(border-box);
        @include border-radius(7px);
	}
	.bar {
		position: relative;
        top: 4px;
	}
	.bar.bar-0 {
		background: $active-color;
        height: 2px;
	}
	.bar.bar-1 {
		background: #F2F2F2;
        height: 2px;
	}
    > div:last-child {
        text-align: right;
        flex-grow: 1;
        font-weight: bold;
    }
}

.cq-dropdown {
    position: relative;
    height: 32px;
    width: 142px;
	user-select: none;

    .title {
        border: 1px solid $DEFAULT-border;
        height: 32px;
        line-height: 32px;
        padding-left: 8px;
        cursor: pointer;
        @include border-radius(4px);
        @include box-sizing(border-box);
		svg {
			pointer-events: none;
			transition: transform 0.6s;
		}
		&.active svg {
			transform: scaleY(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
		}
    }

    .dropdown {
        position: absolute;
        background: $DEFAULT-main;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        z-index: +2;
        width: 142px;
        padding: 4px 8px;
        border: 1px solid $DEFAULT-border;
        box-shadow: 0 2px 8px 0 rgba(42,48,82,0.14);
        @include box-sizing(border-box);
        @include border-radius(4px);
        .row {
            height: 18px;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }
    }

    .dropdown.active {
		top: 36px;
		opacity: 1;
		pointer-events: all;
		transition: opacity 0.3s, top 0.2s;
    }
}

// Pattern
.cq-dropdown {
    .option {
        display: inline-block;
        width: 100%;
        pointer-events: none;
    }
    /* Line style types */
    .solid-1 { border-top-style: solid; border-top-width: 1px;}
    .dotted-1 { border-top-style: dotted; border-top-width: 1px;}
    .dashed-1 { border-top-style: dashed; border-top-width: 1px;}
    .solid-3 { border-top-style: solid; border-top-width: 2px;}
    .dotted-3 { border-top-style: dotted; border-top-width: 2px;}
    .dashed-3 { border-top-style: dashed; border-top-width: 2px;}
    .solid-5 { border-top-style: solid; border-top-width: 3px;}
    .dotted-5 { border-top-style: dotted; border-top-width: 3px;}
    .dashed-5 { border-top-style: dashed; border-top-width: 3px;}
}

.cq-color-picker {
    position: relative;
    height: 24px;
    width: 24px;
    .title {
        height: 100%;
        width: 100%;
        background-color: $DEFAULT-text-strong;
        border: 2px solid rgba(0,0,0,0.09);
        @include border-radius(2px);
        @include box-sizing(border-box);
        cursor: pointer;
    }

    .dropdown {
        background: $DEFAULT-main;
        position: absolute;
        top: 30px;
        right: calc(100% - 24px);
        opacity: 0;
        pointer-events: none;
        z-index: +1;
        width: 250px;
        padding: 8px;
        border: 1px solid $DEFAULT-border;
        box-shadow: 0 2px 8px 0 rgba(42,48,82,0.14);
        @include transition(opacity 0.1s);
        @include border-radius(4px);
        .row {
            height: 18px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            align-items: center;
            .tile-color {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }
    .dropdown.open {
        opacity: 1;
        pointer-events: all;
    }
}

.cq-switch {
    width: 32px;
    height: 16px;
    position: relative;
    cursor: pointer;
    @include border-radius(8px);
    .handle {
        background: $DEFAULT-main;
        position: absolute;
        top: 1px;
        width: 14px;
        height: 14px;
        @include transition(left 0.2s);
        @include border-radius(7px);
    }
    &.on {
        background: $active-color;
        .handle {left: 17px; }
    }
    &.off {
        background: #666;
        .handle { left: 1px; }
    }
}

.cq-numbercolorpicker, .cq-fontsetting {
    display: inline-flex;
}

.cq-fontsetting {
    .cq-text-icon {
        margin-right: 5px;
    }
}

.cq-text-icon {
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    display: inline-flex;
    font-family: serif;
    font-size: 15px;
}

.cq-changefontsize {
    width: 56px;
    margin-right: 5px;
}

.cq-changefontfamily {
    width: 138px;
}

.cq-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cq-toggle ,
.cq-menu-btn .ic-icon ,
.cq-chart-size .ic-icon{
    width: 24px;
    height: 24px;
    svg {
        padding:5px;
    }
}
.cq-toggle.active > .ic-icon,
.cq-toggle.active > .cq-text-icon,
.ic-icon.active {

}
.cq-menu-btn .ic-icon.active {
    color: #4C5794;
    text-shadow: -.5px 0 0 #4c5794  !important;
    svg {
        box-shadow: inset 0 0 0 1px $active-color;
        border-radius: 4px;
        background: #f2f3f8;
    }
}