#doorbell-button {
    right: 100px;
    bottom: 0;
    background: white;
    color: #4C5794;
    border: 1px solid #4C5794;
    box-shadow: 0 0.375em 0.625em 0 rgba(0, 0, 0, 0.14);
    border-bottom: none;
    padding: 8px;
}
#doorbell form {
    box-shadow: none;
    border: 1px solid #4c4c4c;

    input, textarea {
        outline: 0;
        &:focus {
            border: 1px solid #4C5794;
        }
    }

    #doorbell-submit-button {
        color: #4C5794;
        border: none;
        background: white;
        &:hover { background: white; }
    }
}
#doorbell-background {
    opacity: 0;
}
