.ciq-draw-tools {
    .cq-menu-btn {
        width: 25px;
        height: 25px;
    }

    .cq-menu-dropdown {
        width: 200px;
        box-sizing: border-box;
        bottom: 3.6em;
        padding: 16px 16px 0 16px  !important;
		background: #FAFAFB;
		border-radius: 4px;

        .rows {
        }
        .row {
            background: #FFFFFF;
            border: 1px solid #E9E9ED;
			border-bottom: none;
			box-sizing: border-box;
			height: 40px;
			line-height: 40px;
			font-size: 12px;
			padding-left: 16px;
			cursor: pointer;
        }

    }
}
