.ciq-draw-tools {
    .cq-menu-btn {
        width: 25px;
        height: 25px;
    }

    .cq-menu-dropdown {
        width: 200px;
        box-sizing: border-box;
        bottom: 3.6em;
        padding: 5px 16px 0 16px  !important;
        background: #FAFAFB;
    }

    .ciq-bars {
      height: 45px;
      display: flex;
      justify-content: space-around;
      color: black;

      > div {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .ciq-ic-clear-all {
        width: 24px !important;
        height: 24px !important;
        background: url('icons/drawing tools/ic-drawingtools-clear-all.svg');
      }
      .ciq-ic-measure {
        width: 24px !important;
        height: 24px !important;
        background: url('icons/drawing tools/ic-drawingtools-measure.svg');
      }
    }
}
