.ciq-draw-tools {
    .cq-menu-dropdown {
        width: 200px;
        box-sizing: border-box;
        bottom: 3.6em;
        padding: 5px 16px 16px 16px  !important;
        background: #FAFAFB;
    }
    .cq-menu-dropdown{
        padding: 0em !important;
        overflow: visible !important;
        .title {
            height: 40px;
            line-height: 40px;
            padding-left: 16px;
            font-size: 16px;
            background: white;
            box-shadow: inset 0 -1px 0 0 #E9E9ED;

            display: flex;
            color: black;
            justify-content: space-between;
            .ciq-bars-title{
                // font-size: 1.6em;
                color: black;
            }
            .ciq-bars-buttons{
                cursor: pointer;
                display: flex;
                padding: 6px 6px;
                > span{
                    
                }
            }
        }
        .body {
            background: #FAFAFA;
            padding: 16px;
        }
    }
}
.smartcharts-mobile{
    .ciq-draw-tools {
        .ciq-list{
            margin: 0px 15px;
        }
    }   
}