/* stylelint-disable color-no-hex */
/* stylelint-disable value-keyword-case */
// Colours based on Zeplin style guide 28march 2019
$COLOR_WHITE        : #ffffff;
$COLOR_BLACK        : #000000;
$COLOR_ORANGE       : #ff9933;
$COLOR_SKY_BLUE     : #2196f3;
$COLOR_GREEN_2      : #2d9f93;
$COLOR_PURPLE       : #4f60ae;
$COLOR_DARK_BLUE_1  : #0b0e18;
$COLOR_DARK_BLUE_2  : #101320;
$COLOR_DARK_BLUE_3  : #191c31;
$COLOR_DARK_BLUE_4  : #202641;
$COLOR_DARK_BLUE_5  : #2a3052; /* Brand Blue */
$COLOR_DARK_GRAY_1  : #282a37;
$COLOR_DARK_GRAY_2  : #303342;
$COLOR_DARK_GRAY_3  : #555975;
$COLOR_LIGHT_GRAY   : #7f8397;
$COLOR_LIGHT_GRAY_30: rgba($COLOR_LIGHT_GRAY, 0.3);
$COLOR_LIGHT_GRAY_1 : #999cac;
$COLOR_LIGHT_GRAY_2 : rgba($COLOR_LIGHT_GRAY_1, 0.32);
$COLOR_LIGHT_GRAY_3 : rgb(250, 250, 251);
$COLOR_LIGHT_BLACK_1: rgba($COLOR_BLACK, 0.8);
$COLOR_LIGHT_BLACK_1_40: rgba($COLOR_BLACK, 0.4);
$COLOR_LIGHT_BLACK_3: rgba($COLOR_BLACK, 0.16);
$COLOR_LIGHT_BLACK_3_SOLID_1: #d6d6d6;
$COLOR_LIGHT_BLACK_3_SOLID_2: #b3b3b3;
$COLOR_LIGHT_BLACK_4: rgba($COLOR_BLACK, 0.04);
$COLOR_LIGHT_BLACK_4_SOLID: #f4f4f6;
$COLOR_LIGHT_BLACK_5: rgba($COLOR_BLACK, 0.14);
$COLOR_LIGHT_BLACK_6: rgba($COLOR_BLACK, 0.15);

//Legacy Colours. TODO: Check with design team, replace and remove these colours
//Legacy Colours. TODO: Check with design team, replace and remove these colours
$COLOR_YELLOW       : #fef1cf;
$COLOR_LIGHT_BLACK : #5c5c5c;
$COLOR_BRANDBLUE_40: #aaacba;
$COLOR_BRANDBLUE_95: #353b5b;
$COLOR_BRANDBLUE_85: #4a4f6c;
$COLOR_BRANDBLUE_75: #60647e;
$COLOR_DARK_BLUE_8 : rgba(127, 131, 151, 0.3);

$COLOR_GREEN: #85acb0;
$COLOR_GREEN_1: #4bb4b3;

/*****************************\
 *****************************
        COLOR PALETTE
 *****************************
\*****************************/

$color-black: #0e0e0e;
$color-black-1: #333333;
$color-black-3: #151717;
$color-black-4: #1d1f20;
$color-black-5: #242828;
$color-black-6: #3e3e3e;
$color-black-7: #000000b8;
$color-black-8: #323738;
$color-black-9: #0e0e0ef5;
$color-black-10: #00000014;
$color-black-11: #00000029;
$color-black-12: #0000004d;
$color-white: #ffffff;
$color-white-1: #fffffff5;
$color-white-2: #ffffff29;
$color-red: #ff444f;
$color-red-1: #ec3f3f;
$color-red-2: #cc2e3d;
$color-red-3: #a32430;
$color-red-4: #d33636;
$color-red-5: #eb3e48;
$color-red-6: #ff444f14;
$color-red-7: #ff525c;
$color-grey: #c2c2c2;
$color-grey-1: #999999;
$color-grey-2: #f2f3f4;
$color-grey-3: #eaeced;
$color-grey-4: #e6e9e9;
$color-grey-5: #d6dadb;
$color-grey-6: #d6d6d6;
$color-grey-7: #6e6e6e;
$color-green: #85acb0;
$color-green-1: #4bb4b3;
$color-green-2: #3d9494;
$color-green-3: #00a79e;
$color-green-4: #008079;
$color-orange: #ff6444;
$color-yellow: #ffad3a;
$color-blue: #377cfc;

/* Preserve legacy variables */
/* Primary */

$COLOR_BLACK      : #000000;
$COLOR_BLACK_2    : #1d1f20;
$COLOR_BLACK_3    : #0e0e0e;
$COLOR_GREEN_1    : #39b19d;
$COLOR_GREEN_2    : #2d9f93;
$COLOR_GREEN_3    : #21ce99;
$COLOR_GREEN_4    : #00a79e;
$COLOR_GREEN_5    : #4bb4b3;
$COLOR_ORANGE     : #ff9933;
$COLOR_DARK_ORANGE: #ff8802;
$COLOR_PURPLE     : #4f60ae;
$COLOR_RED        : #e31c4b;
$COLOR_RED_2      : #cc2e3d;
$COLOR_RED_3      : #ec3f3f;
$COLOR_CORAL_RED  : #ff444f;
$COLOR_SKY_BLUE   : #2196f3;
$COLOR_WHITE      : #ffffff;
$COLOR_BLUE       : #1c5ae3;
// Light theme
$COLOR_LIGHT_BLACK_1        : rgba(0, 0, 0, 0.8);
$COLOR_LIGHT_BLACK_2        : rgba(0, 0, 0, 0.4);
$COLOR_LIGHT_BLACK_3        : rgba(0, 0, 0, 0.16);
$COLOR_LIGHT_BLACK_3_SOLID_1: #d6d6d6;
$COLOR_LIGHT_BLACK_3_SOLID_2: #b3b3b3;
$COLOR_LIGHT_BLACK_4        : rgba(0, 0, 0, 0.04);
$COLOR_LIGHT_BLACK_4_SOLID  : #f4f4f6;
$COLOR_LIGHT_GRAY_1         : #999cac;
$COLOR_LIGHT_GRAY_2         : rgba(153, 156, 172, 0.32);
$COLOR_LIGHT_GRAY_3         : #eaeced;
$COLOR_LIGHT_GRAY_4         : #6e6e6e;
$COLOR_LIGHT_GRAY_5         : #c2c2c2;
$COLOR_LIGHT_GRAY_6          : #e9e9ed;
$COLOR_LIGHT_GRAY_7: rgba(0, 0, 0, 0.08);
$COLOR_LIGHT_GREEN_GRADIENT : linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 148, 117, 0.16));
$COLOR_LIGHT_RED_GRADIENT   : linear-gradient(to top, rgba(255, 255, 255, 0), rgba(227, 28, 75, 0.16));
$COLOR_LIGHT_WHITE_GRADIENT : linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// Dark theme
$COLOR_DARK_BLACK_GRADIENT : linear-gradient(to right, rgba(16, 19, 32, 1), rgba(16, 19, 32, 0));
$COLOR_DARK_BLUE_1         : #0b0e18;
$COLOR_DARK_BLUE_2         : #101320;
$COLOR_DARK_BLUE_3         : #191c31;
$COLOR_DARK_BLUE_4         : #202641;
$COLOR_DARK_BLUE_5         : #2a3052;
$COLOR_DARK_BLUE_6         : #555975;
$COLOR_DARK_BLUE_7         : #7f8397;
$COLOR_DARK_BLUE_8         : rgba(127, 131, 151, 0.3);
$COLOR_DARK_GREEN_GRADIENT : linear-gradient(to top, rgba(16, 19, 32, 0), rgba(0, 148, 117, 0.16));
$COLOR_DARK_RED_GRADIENT   : linear-gradient(to top, rgba(16, 19, 32, 0), rgba(227, 28, 75, 0.16));
$COLOR_DARK_GRAY_1         : #282a37;
$COLOR_DARK_GRAY_2         : #303342;
$COLOR_DARK_GRAY_3         : #555975;
$COLOR_DARK_GRAY_4         : #999999;

$themes: (
    light: (
        DefaultMain: $COLOR_WHITE,
        DefaultBg:  $COLOR_WHITE,
        DefaultText: $COLOR_LIGHT_GRAY,
        BtnDefaultBg: transparent,
        BtnDefaultText: $color-red,
        BtnDefaultHoverBg: rgba($color-red, 0.08),
        BtnPrimaryBg: $color-red,
        BtnPrimaryText: $color-white,
        BtnPrimaryDisableBg: rgba($color-red, 0.32),
        BtnPrimaryHoverBg: $color-red-5,
        BtnSecondaryBg: $color-grey-1,
        BtnSecondaryText: $color-black-1,
        BtnSecondaryBorder: $color-grey-1,
        BtnSecondaryHoverBg: $COLOR_LIGHT_GRAY_7,
        InputDefaultText: $color-grey-1,
        InputDefaultBorder: $color-grey-5,
        InputDefaultHoverBorder: $color-grey-1,
        InputDefaultActiveBorder: $color-green,
        CheckboxBg: $color-grey-1,
        CheckboxActiveBg: $color-red,
        ScrollbarBg: $color-grey-5,
        NotificationBadgeBg: $color-red-1,
        NotificationBadgeText: $color-white,
        DefaultBorder: $COLOR_LIGHT_GRAY,
        TooltipBg: $color-grey-5,
        TooltipText: $color-black-1,
        TooltipTextBg: transparent,
        TooltipShadow: transparent,
        Loading: $COLOR_BLACK,
        ChartAreaBorder: $COLOR_LIGHT_GRAY_2,
        ChartBg: $color-white,
        ChartBorder: $COLOR_LIGHT_GRAY_1,
        ChartText: $COLOR_DARK_GRAY_3,
        ChartPanelBg: $color-grey-2,
        ChartPanelActiveBg: $color-grey-4,
        ChartPanelText: $color-black-1,
        ChartCandleBg: $color-red,
        ChartCandleBgClosed: $COLOR_LIGHT_BLACK_3_SOLID_1,
        ChartCandleText: $color-white,
        ChartCandleTextClosed: $COLOR_LIGHT_BLACK_3,
        ChartGrid: $color-grey-2,
        ChartIndicateText: $color-grey-3,
        ChartIndicateDivide: $color-grey-5,
        ChartCurrentHRBg: $color-red,
        ChartCloseCurrentHRBg: rgba($color-red, 0.32),
        ChartMountainBorder: $color-green,
        ChartMountainBg: rgba($color-green, 0.16),
        ChartMountainBgShade: rgba(255, 255, 255, 0),
        ChartMountainClosedBorder: rgba($color-green, 0.32),
        ChartClosedCandleBgUp: rgba($color-green, 0.32),
        ChartClosedCandleBgDown: rgba($color-red, 0.32),
        ChartClosedCandleBorder: rgba($color-black-1, 0.32),
        ChartStickyBg: $color-grey-2,
        ChartStickyText: $color-black-1,
        ChartStickyInnerBg: $color-grey-5,
        ChartStickyInnerText: $color-black-1,
        MenuBg: $COLOR_WHITE,
        MenuIcon: $COLOR_LIGHT_BLACK_1,
        MenuText: $COLOR_LIGHT_BLACK_1,
        MenuBorder: $COLOR_LIGHT_GRAY_1,
        MenuHoverBg: $color-grey-4,
        MenuHoverIconBg: $COLOR_LIGHT_GRAY_1,
        MenuActiveBg: $color-white,
        MenuActiveText: $COLOR_LIGHT_GRAY,
        MenuActiveIcon: $COLOR_DARK_BLUE_5,
        MenuActiveBorder: $color-red,
        ChartTitleBg: $COLOR_WHITE,
        ChartTitleSubBg: $color-grey-2,
        ChartTitleText: $COLOR_LIGHT_BLACK_1,
        ChartTitleBorder: $COLOR_WHITE,
        ChartTitleArrow: $color-black-1,
        ChartTitlePriceText: $color-grey-1,
        ChartTitleSymbolText: $color-black-1,
        ChartTitleHoverBorder: $color-grey-1,
        ChartTitleActiveBorder: $color-green,
        ChartTitleActiveShadow: $COLOR_LIGHT_GRAY_2,
        ChartTitleActiveArrow: $COLOR_LIGHT_BLACK_1,
        ChartControlBoxBorder: $color-grey-2,
        ListScroll: $color-black-1,
        ListLiBg: $color-white,
        ListLiText: $color-black-1,
        ListLiBorder: $color-grey-3,
        ListHoverLiBg: $color-grey-4,
        ListActiveLiBg: $COLOR_LIGHT_BLACK_3,
        ListActiveLiText: $COLOR_DARK_BLUE_5,
        ListActiveLiBorder: $COLOR_LIGHT_GRAY,
        DialogBorder: $color-grey-2,
        DialogHeadBg: $color-white,
        DialogHeadText: $color-black-1,
        DialogHeadBorder: $COLOR_LIGHT_BLACK_4_SOLID,
        DialogHeadIcon: $color-black-1,
        DialogHeadIconHoverBg: $color-grey-4,
        DialogHeadActiveBorder: $COLOR_LIGHT_GRAY,
        DialogTabularBg: $color-grey-2,
        DialogTabularText: $color-black-1,
        DialogTabularHeadBg: $color-white,
        DialogTabularHeadBorder: $color-grey-2,
        DialogTabularHeadTitleBg: $color-grey-2,
        DialogTabularBodyBg: $color-white,
        DialogTabularHoverTabBg: $color-grey-4,
        DialogTabularActiveTabBg: $color-white,
        DialogTabularActiveTabBorder: $color-red,
        DialogBodyBg: $color-grey-2,
        DialogBodyText: $color-black-1,
        DialogFootBg: $color-white,
        DialogFootText: $COLOR_LIGHT_BLACK_1,
        DialogFootBorder: $color-grey-2,
        DialogFootIcon: $color-grey-1,
        DialogFootDeleteIcon: $color-black-1,
        DialogFootDeleteHoverBg: $color-grey-4,
        DialogFootResetText: $color-black-1,
        DialogFootCancelText: $color-red,
        DialogSettingHeadText: $COLOR_BLACK,
        DialogSettingBodyBg: $COLOR_WHITE,
        DialogSettingSectionDivider: $color-grey-2,
        DialogSettingSectionText: $color-black-1,
        DialogOverlay: rgba($COLOR_BLACK, 0.72),
        ChartTypeBg: $color-white,
        ChartTypeText: $color-black-1,
        ChartTypeHoverBg: $color-grey-4,
        ChartTypeActiveBorder: $color-green,
        ChartTypeTooltipBg: $color-grey-5,
        ChartTypeTooltipText: $color-black-1,
        TimeMenuActiveIconBorder: $COLOR_LIGHT_GRAY_1,
        TimeBg: $color-white,
        TimeText: $color-black-1,
        TimeHoverBg: $color-grey-4,
        TimeActiveText: $color-black-1,
        TimeActiveItemBorder: $color-green,
        ChartModeBg: $color-white,
        ChartModeBorder: $color-grey-2,
        ChartModeText: $color-black-1,
        DrawToolsEmptyText: $color-grey-7,
        DrawToolsItemText: $color-black-1,
        DrawToolsItemSubText: $color-grey-1,
        DrawToolsItemIcon: $color-black-1,
        DrawToolsHoverBg: $color-grey-4,
        ChartSettingText: $color-black-1,
        ChartSettingIcon: $COLOR_LIGHT_GRAY,
        ChartSettingActiveIcon: $COLOR_DARK_BLUE_5,
        ChartSettingItemTitleText: $color-black-1,
        ChartSettingItemHoverBg: $color-grey-4,
        ChartSettingItemActiveBorder: $color-green,
        TemplateBg: $color-white,
        TemplateText: $color-black-1,
        TemplateEmptyBtnText: $color-red,
        TemplateEmptyText: $color-grey-1,
        TemplateFormBtnBg: rgba($color-red, 0.32),
        TemplateFormBtnText: $color-white,
        TemplateFormInputBorder: $color-grey-5,
        TemplateFormInputText: $color-grey-1,
        TemplateFormInputActiveBorder: $color-green,
        TemplateFormInputActiveText: $color-black-1,
        TemplateFormActiveBtnBg: $color-red,
        TemplateListBorder: $color-grey-2,
        TemplateListHeadText: $color-grey-1,
        TemplateListHeadBtnBorder: $color-grey-1,
        TemplateListHeadBtnText: $color-black-1,
        TemplateListItemText: $color-black-1,
        TemplateListItemHoverBg: $color-grey-4,
        ColorPickerBg: $COLOR_WHITE,
        ColorPickerShadow: $COLOR_LIGHT_GRAY_7,
        ColorPickerBorder: $COLOR_LIGHT_GRAY,
        ColorPickerInputBorder: $color-grey-5,
        ColorPickerActiveBorder: $color-green,
        ColorPickerSubtitleText: $color-black-1,
        ColorPickerSubtitleBg: $color-white,
        DefaultInputHoverBorder: $color-grey-1,
        DefaultInputBtnHoverBg: $color-grey-4,
        DefaultInputActiveBorder: $color-green,
        DefaultSelectHoverBorder: $color-grey-4,
        DropdownText: $color-black-1,
        DropdownSubtitleText: $color-black-1,
        DropdownSubtitleBg: $color-white,
        DropdownBg: $color-white,
        DropdownBorder: $color-grey-5,
        DropdownActiveBg: $color-grey-5,
        DropdownActiveText: $color-black-1,
        DropdownActiveBorder: $color-green,
        DropdownActiveShadow: $COLOR_LIGHT_GRAY_7,
        DropdownHoverBg: $color-grey-4,
        DropdownHoverBorder: $color-grey-1,
        SliderText: $color-black-1,
        SliderHandleBg: $color-red,
        SliderHandleBorder: $color-red,
        SliderBarBg: $color-grey-3,
        SliderBarActiveBg: $color-red,
        SwitchText: $color-white,
        SwitchHandle: $color-white,
        SwitchOffBg: $color-grey-3,
        SwitchOnBg: $color-green-1,
        InputBg: $COLOR_WHITE,
        InputText: $color-black-1,
        InputBorder: $color-grey-5,
        InputActiveText: $color-black-1,
        InputActiveBorder: $color-green,
        InputHoverBorder: $color-grey-1,
        InputFocusText: $color-black-1,
        CatDisplayBg: $COLOR_WHITE,
        CatDisplayShadow: $COLOR_LIGHT_GRAY_1,
        CatDisplayText: $color-black-1,
        CatDisplayBorder: $COLOR_WHITE,
        CatDisplaySearchBg: $COLOR_WHITE,
        CatDisplaySearchIcon: $color-black-1,
        CatDisplaySearchText: $COLOR_LIGHT_BLACK_3,
        CatDisplaySearchBorder: $color-grey-5,
        CatDisplayActiveSearchText: $color-black-1,
        CatDisplayActiveSearchIcon: $color-black-1,
        CatDisplayActiveSearchIconClose: $color-black-1,
        CatDisplayActiveSearchBorder: $color-green,
        CatDisplayActiveSearchShadow: $COLOR_LIGHT_GRAY_2,
        CatDisplayHoverSearchIcon: $color-black-1,
        CatDisplayHoverSearchBorder: $color-grey-1,
        CatDisplayFilterBg: $color-grey-2,
        CatDisplayFilterText: $COLOR_LIGHT_BLACK_1,
        CatDisplayFilterIcon: $COLOR_LIGHT_GRAY,
        CatDisplayFilterBorder: $color-grey-2,
        CatDisplayFilterInputText: $COLOR_WHITE,
        CatDisplayActiveFilterBg: $COLOR_WHITE,
        CatDisplayActiveFilterText: $color-black-1,
        CatDisplayActiveFilterIcon: $color-black-1,
        CatDisplayActiveFilterBorder: $COLOR_RED,
        CatDisplayHoverFilterBg: $color-grey-4,
        CatDisplayCatTitleText: $color-black-1,
        CatDisplayCatSubTitleText: $COLOR_LIGHT_GRAY,
        CatDisplayCatContentBg: $COLOR_WHITE,
        CatDisplayCatContentBorder: $COLOR_WHITE,
        CatDisplayCatContentTitleBg: $COLOR_WHITE,
        CatDisplayCatContentTitleText: $color-grey-1,
        CatDisplayCatContentIcon: $color-black-1,
        CatDisplayCatContentDisabled: $COLOR_LIGHT_BLACK_3_SOLID_1,
        CatDisplayCatActiveContentBg: $color-grey-5,
        CatDisplayCatActiveContentText: $color-black-1,
        CatDisplayCatActiveContentIcon: $color-black-1,
        CatDisplayActiveText: $COLOR_LIGHT_BLACK_1,
        CatDisplayCatHoverContentBg: $color-grey-4,
        CatDisplayCatHoverContentText: $color-black-1,
        CatDisplayCatHoverContentIcon: $color-black-1,
        DownloadBg: $color-white,
        DownloadText: $color-black-1,
        DownloadActiveBg: $color-grey-4,
        LoadingBg: $color-green,
        CrosshairBg: $color-grey-5,
        CrosshairText: $color-black-1,
        CrosshairBorder: $color-grey-5,
        CrosshairAxis: $color-grey-5,
        CrosshairLabelBg: $color-grey-5,
        CrosshairLabelText: $color-black-1,
        StarIconFav: $COLOR_ORANGE,
        LastdigitsBarBg: $COLOR_LIGHT_GRAY_1,
        LastdigitsMaxBarBg: $COLOR_GREEN_2,
        LastdigitsMinBarBg: $COLOR_RED,
        LastdigitsBarText: $COLOR_LIGHT_GRAY,
        LastdigitsBarFooter: $COLOR_BLACK,
        ChartHistoryBg: $color-grey-2,
        ChartHistoryBgContainer: $color-white,
        ChartHistoryColor: $color-black-1,
        ChartHistoryBorder: $COLOR_LIGHT_GRAY,
        ChartHistoryPickerBg: $COLOR_WHITE,
        ChartHistoryPickerDropdownBg: $COLOR_WHITE,
        ChartHistoryPickerDropdownBorder: $color-grey-3,
        ChartHistoryPickerBorder: $color-grey-3,
        ChartHistoryPickerColor: $COLOR_LIGHT_BLACK,
        ChartHistoryPickerIcon: $COLOR_LIGHT_BLACK,
        ChartHistoryPickerActiveBorder: $COLOR_GREEN,
        ChartHistoryPickerActiveColor: $COLOR_LIGHT_BLACK,
        ChartHistoryPickerActiveIcon: $COLOR_DARK_BLUE_5,
        ChartHistoryPickerTopColor: $COLOR_BRANDBLUE_40,
        ChartHistoryPickerHeaderBg: $COLOR_WHITE,
        ChartHistoryPickerHeaderBorder: $COLOR_LIGHT_GRAY_3,
        ChartHistoryPickerHeaderColor: $COLOR_BLACK,
        ChartHistoryPickerHeaderIcon: $color-black-1,
        ChartHistoryPickerFooterBg: $COLOR_WHITE,
        ChartHistoryPickerFooterBorder: $color-grey-2,
        ChartHistoryPickerFooterColor: $color-black-1,
        ChartHistoryPickerBodyColor: $color-black-1,
        ChartHistoryPickerBodyDisableColor: $color-grey-6,
        ChartHistoryPickerBodyActiveBg: $color-grey-5,
        ChartHistoryPickerBodyActiveColor: $color-black-1,
        ChartHistoryPickerBodyActiveBorder: $COLOR_DARK_BLUE_5,
        ChartHistoryPickerBodyHoverBg: $color-grey-3,
        PaginationLoaderStripeColor: $COLOR_LIGHT_BLACK_4_SOLID,
        NavigationWidgetBg: $color-grey-2,
        NavigationWidgetColor: $color-black-1,
        HighestLowestMarkerLabelBg: $COLOR_LIGHT_BLACK_3,
        HighestLowestMarkerLabelText: $COLOR_LIGHT_BLACK_1,
        HighestSpotColor: $COLOR_GREEN_1,
        ToolbarWidgetBg: $color-white,
        ToolbarWidgetBorder: $color-grey-2,
        ToolbarWidgetHoverBg: $color-grey-4,
        ToolbarWidgetItemIcon: $color-black-1,
        LowestSpotColor: $COLOR_RED,
        ChartBackgroundOpacity: 0.05,
        IndicatorEmptyText: $color-grey-1,
        IndicatorEmptyTitleText: $color-black-1,
        IndicatorListItemText: $color-black-1,
        IndicatorListItemSubText: $color-grey-1,
        IndicatorListItemHoverBg: $color-grey-4,
        IndicatorAddedBorder: $color-grey-6,
        IndicatorSearchBg: $color-white,
        IndicatorSearchBorder: $color-grey-5,
        IndicatorSearchText: $COLOR_LIGHT_BLACK_3_SOLID_1,
        IndicatorSearchIcon: $color-black-1,
        IndicatorSearchIconReset: $color-grey-1,
        IndicatorSearchHoverBorder: $color-grey-1,
        IndicatorSearchActiveBorder: $color-green,
        IndicatorSearchActiveText: $color-black-1,
        IndicatorCategoryText: $color-grey-1,
        IndicatorInfoText: $color-black-1,
        IndicatorInfoBg: $color-white,
        FooterBg: $color-white,
        FooterText: $color-black-1,
        FooterBorder: $color-grey-2,
        FooterItemHoverBg: $color-grey-4,
        ChartStatus: $color-grey-2,
        ChartStatusOnline: $color-green-1,
        ChartStatusOffline: $color-red-2,
        PredictionDialogTitle: $color-black-1,
        PredictionDialogText: $color-black-1,
        ChartHistoryPickerBgCalendar: $color-white,
        ChartHistoricalMarker: $color-grey-5,
        ChartHistoricalMarkerFont: $color-black-1,
    ),
    dark: (
        DefaultMain:            $color-black,
        DefaultBg:              $color-black,
        DefaultText:            $COLOR_WHITE,
        DefaultBorder:          $COLOR_WHITE,
        TooltipBg:  $color-black-8,
        TooltipText: $color-white,
        TooltipShadow: transparent,
        TooltipTextBg: transparent,
        BtnDefaultBg: transparent,
        BtnDefaultText: $color-red,
        BtnDefaultHoverBg: rgba($color-red, 0.08),
        BtnPrimaryBg: $color-red,
        BtnPrimaryText: $color-white,
        BtnPrimaryDisableBg: rgba($color-red, 0.32),
        BtnPrimaryHoverBg: $color-red-7,
        BtnSecondaryBg: $color-grey-1,
        BtnSecondaryText: $color-white,
        BtnSecondaryBorder: $color-grey-7,
        BtnSecondaryHoverBg: rgba(255, 255, 255, 0.08),
        InputDefaultBorder: $color-black-8,
        InputDefaultHoverBorder: $color-grey-7,
        InputDefaultActiveBorder: $color-green,
        CheckboxBg: $color-grey-7,
        CheckboxActiveBg: $color-red,
        ScrollbarBg: $color-black-8,
        NotificationBadgeBg: $color-red-1,
        NotificationBadgeText: $color-white,
        Loading: $COLOR_WHITE,
        ChartAreaBorder: $COLOR_LIGHT_GRAY_30,
        ChartBg: $color-black,
        ChartBorder: $COLOR_WHITE,
        ChartText: $color-grey-1,
        ChartPanelBg: $color-black-3,
        ChartPanelActiveBg: $color-black-5,
        ChartPanelText: $color-grey,
        ChartCandleBg: $color-red,
        ChartCandleBgClosed: $COLOR_DARK_GRAY_2,
        ChartCandleText: $color-white,
        ChartCandleTextClosed: $COLOR_LIGHT_GRAY_30,
        ChartGrid: $color-black-4,
        ChartIndicateText: $COLOR_WHITE,
        ChartIndicateDivide: $color-black-8,
        ChartMountainBorder: $color-green,
        ChartMountainBg: rgba(255, 255, 255, 0.36),
        ChartMountainBgShade: rgba(16, 19, 32, 0),
        ChartMountainClosedBorder: rgba($COLOR_WHITE, 0.32),
        ChartStickyBg: $color-black-3,
        ChartStickyText: $color-grey,
        ChartStickyInnerBg: $color-black-8,
        ChartStickyInnerText: $color-white,
        MenuBg: $color-black,
        MenuBorder: $COLOR_DARK_BLUE_5,
        MenuIcon: $color-grey-1,
        MenuText: $color-grey-1,
        MenuHoverBg: $color-black-5,
        MenuHoverIconBg: $COLOR_DARK_GRAY_3,
        MenuActiveBg: $color-black,
        MenuActiveText: $color-white,
        MenuActiveIcon: $color-white,
        MenuActiveBorder: $color-red,
        ChartTitleBg: $color-black,
        ChartTitleSubBg: $color-black-3,
        ChartTitleText: $COLOR_WHITE,
        ChartTitleBorder: $color-black-3,
        ChartTitleArrow: $color-grey-1,
        ChartTitlePriceText: $color-grey-1,
        ChartTitleSymbolText: $COLOR_WHITE,
        ChartTitleHoverBorder: $color-grey-1,
        ChartTitleActiveBorder: $color-green,
        ChartTitleActiveShadow: $COLOR_DARK_BLUE_8,
        ChartTitleActiveArrow: $color-grey-1,
        ChartControlBoxBorder: $color-black-3,
        ListScroll: $color-grey,
        ListLiBg: $color-black,
        ListLiText: $color-grey,
        ListLiBorder: $color-black-4,
        ListHoverLiBg: $color-black-5,
        ListActiveLiBg: $color-black-8,
        ListActiveLiText: $color-white,
        ListActiveLiBorder: $color-black-4,
        DialogBorder: $color-black,
        DialogHeadBg: $color-black-3,
        DialogHeadText: $color-white,
        DialogHeadBorder: $color-black,
        DialogHeadIcon: $color-grey,
        DialogHeadIconHoverBg: $color-black-5,
        DialogHeadActiveBorder: $COLOR_DARK_BLUE_3,
        DialogTabularBg: $color-black-3,
        DialogTabularText: $color-grey,
        DialogTabularHeadBg: $color-black,
        DialogTabularHeadBorder: $color-black-3,
        DialogTabularHeadTitleBg: $color-black-3,
        DialogTabularBodyBg: $color-black,
        DialogTabularHoverTabBg: $color-black-5,
        DialogTabularActiveTabBg: $color-black,
        DialogTabularActiveTabText: $color-white,
        DialogTabularActiveTabBorder: $color-red,
        DialogBodyBg: $color-black,
        DialogBodyText: $color-grey,
        DialogFootBg: $color-black-3,
        DialogFootText: $color-white,
        DialogFootBorder: $color-black,
        DialogFootIcon: $color-grey-7,
        DialogFootDeleteIcon: $color-grey,
        DialogFootDeleteHoverBg: $color-black-5,
        DialogFootCancelText: $color-red,
        DialogSettingHeadText: $COLOR_WHITE,
        DialogSettingBodyBg: $color-black-3,
        DialogSettingSectionDivider: $color-black,
        DialogSettingSectionText: $color-white,
        DialogOverlay: rgba($COLOR_BLACK, 0.72),
        ChartTypeBg: $color-black-3,
        ChartTypeText: $color-grey,
        ChartTypeHoverBg: $color-black-5,
        ChartTypeActiveText: $color-white,
        ChartTypeActiveBorder: $color-green,
        ChartTypeTooltipBg: $color-black-8,
        ChartTypeTooltipText: $color-white,
        TimeBg: $color-black-3,
        TimeText: $color-grey,
        TimeTitleText: $color-white,
        TimeHoverBg: $color-black-5,
        TimeActiveText: $color-white,
        TimeActiveItemBorder: $color-green,
        ChartModeBg: $color-black-3,
        ChartModeBorder: $color-black,
        ChartModeText: $color-grey,
        DrawToolsEmptyText: $color-grey-1,
        DrawToolsItemText: $color-grey,
        DrawToolsItemSubText: $color-grey-7,
        DrawToolsItemIcon: $color-grey,
        DrawToolsHoverBg: $color-black-5,
        ChartSettingText: $color-grey-3,
        ChartSettingIcon: $COLOR_DARK_GRAY_3,
        ChartSettingActiveIcon: $color-white,
        ChartSettingItemTitleText: $color-white,
        ChartSettingItemHoverBg: $color-black-5,
        ChartSettingItemActiveBorder: $color-green,
        TemplateBg: $color-black-3,
        TemplateText: $color-grey,
        TemplateEmptyBtnText: $color-red,
        TemplateEmptyText: $color-grey-7,
        TemplateFormBtnBg: rgba($color-red, 0.32),
        TemplateFormBtnText: $color-white,
        TemplateFormInputBorder: $color-black-8,
        TemplateFormInputText: $color-grey-7,
        TemplateFormInputActiveBorder: $color-green,
        TemplateFormInputActiveText: $color-white,
        TemplateFormActiveBtnBg: $color-red,
        TemplateListBorder: $color-black,
        TemplateListHeadText: $color-grey-7,
        TemplateListHeadBtnBorder: $color-grey-7,
        TemplateListHeadBtnText: $color-white,
        TemplateListItemText: $color-grey,
        TemplateListItemHoverBg: $color-black-5,
        ColorPickerBg: $color-black-3,
        ColorPickerShadow: rgba(0, 0, 0, 0.64),
        ColorPickerBorder: $COLOR_DARK_GRAY_3,
        ColorPickerInputBorder: $COLOR_DARK_BLUE_8,
        ColorPickerActiveBorder: $color-green,
        ColorPickerSubtitleText: $color-grey,
        ColorPickerSubtitleBg: $color-black-3,
        DefaultInputHoverBorder: $color-grey-7,
        DefaultInputBtnHoverBg: $color-black-5,
        DefaultInputActiveBorder: $color-green,
        DefaultSelectHoverBorder: $color-black-5,
        DropdownText: $color-grey,
        DropdownSubtitleText: $color-grey,
        DropdownSubtitleBg: $color-black-3,
        DropdownBg: $color-black-3,
        DropdownBorder: $color-black-8,
        DropdownActiveBg: $color-black-8,
        DropdownActiveText: $color-white,
        DropdownActiveBorder: $color-green,
        DropdownActiveShadow: rgba(0, 0, 0, 0.64),
        DropdownHoverBg: $color-black-5,
        DropdownHoverBorder: $color-grey-7,
        SliderText: $color-white,
        SliderHandleBg: $color-red,
        SliderHandleBorder: $color-red,
        SliderBarBg: $color-black-4,
        SliderBarActiveBg: $color-red,
        SwitchText: $color-white,
        SwitchHandle: $color-white,
        SwitchOffBg: $color-black-4,
        SwitchOnBg: $color-green-3,
        InputBg: $color-black-3,
        InputText: $color-white,
        InputBorder: $COLOR_DARK_BLUE_8,
        InputActiveText: $color-white,
        InputActiveBorder: $color-green,
        InputHoverBorder: $color-grey-7,
        InputFocusText: $color-white,
        CatDisplayBg: $color-black,
        CatDisplayShadow: $COLOR_DARK_BLUE_3,
        CatDisplayText: $color-grey,
        CatDisplayBorder: $color-black,
        CatDisplaySearchBg: $color-black,
        CatDisplaySearchIcon: $color-grey,
        CatDisplaySearchText: $color-black-6,
        CatDisplaySearchBorder: $COLOR_DARK_BLUE_8,
        CatDisplayActiveSearchText: $color-white,
        CatDisplayActiveSearchIcon: $color-white,
        CatDisplayActiveSearchIconClose: $color-black-1,
        CatDisplayActiveSearchBorder: $color-green,
        CatDisplayActiveSearchShadow: $COLOR_DARK_BLUE_8,
        CatDisplayHoverSearchIcon: $color-grey,
        CatDisplayHoverSearchBorder: $color-grey-7,
        CatDisplayFilterBg: $color-black-3,
        CatDisplayFilterText: $color-grey,
        CatDisplayFilterIcon: $color-grey-3,
        CatDisplayFilterBorder: $color-black,
        CatDisplayFilterInputText: $COLOR_WHITE,
        CatDisplayActiveFilterBg: $color-black,
        CatDisplayActiveFilterText: $color-white,
        CatDisplayActiveFilterBorder: $color-red,
        CatDisplayActiveFilterIcon: $COLOR_WHITE,
        CatDisplayHoverFilterBg: $color-black-5,
        CatDisplayCatTitleText: $COLOR_WHITE,
        CatDisplayCatSubTitleText: $color-grey-3,
        CatDisplayCatContentBg: $color-black,
        CatDisplayCatContentBorder: $color-black,
        CatDisplayCatContentTitleBg: $COLOR_DARK_BLUE_5,
        CatDisplayCatContentTitleText: $color-grey-7,
        CatDisplayCatContentIcon: $color-grey-1,
        CatDisplayCatContentDisabled: $COLOR_LIGHT_GRAY_30,
        CatDisplayCatActiveContentBg: $color-black-8,
        CatDisplayCatActiveContentText: $color-white,
        CatDisplayCatActiveContentIcon: $color-grey-1,
        CatDisplayActiveText: $color-white,
        CatDisplayCatHoverContentBg: $color-black-5,
        CatDisplayCatHoverContentText: $color-white,
        CatDisplayCatHoverContentIcon: $color-white,
        DownloadBg: $color-black-3,
        DownloadText: $color-grey,
        DownloadActiveBg: $color-black-5,
        LoadingBg: $color-green,
        CrosshairBg: $color-black-8,
        CrosshairText: $color-white,
        CrosshairBorder: $color-black-8,
        CrosshairAxis: $color-black-8,
        CrosshairLabelBg: $color-black-8,
        CrosshairLabelText: $color-white,
        StarIconFav: $COLOR_ORANGE,
        LastdigitsBarBg: $COLOR_DARK_GRAY_3,
        LastdigitsMaxBarBg: $COLOR_GREEN_1,
        LastdigitsMinBarBg: $COLOR_RED,
        LastdigitsBarText: $COLOR_LIGHT_GRAY,
        LastdigitsBarFooter: $COLOR_WHITE,
        ChartHistoryBg: $color-black-3,
        ChartHistoryBgContainer: $color-black,
        ChartHistoryColor: $color-grey,
        ChartHistoryBorder: $COLOR_BRANDBLUE_85,
        ChartHistoryPickerBg: $color-black,
        ChartHistoryPickerBorder: $color-black-8,
        ChartHistoryPickerDropdownBg: $color-black-3,
        ChartHistoryPickerDropdownBorder: $color-black,
        ChartHistoryPickerColor: $COLOR_WHITE,
        ChartHistoryPickerIcon: $color-grey,
        ChartHistoryPickerActiveBorder: $COLOR_GREEN,
        ChartHistoryPickerActiveColor: $COLOR_WHITE,
        ChartHistoryPickerActiveIcon: $COLOR_WHITE,
        ChartHistoryPickerTopColor: $COLOR_BRANDBLUE_40,
        ChartHistoryPickerHeaderBg: $color-black-3,
        ChartHistoryPickerHeaderBorder: $color-black,
        ChartHistoryPickerHeaderColor: $COLOR_WHITE,
        ChartHistoryPickerHeaderIcon: $color-grey,
        ChartHistoryPickerFooterBg: $color-black-3,
        ChartHistoryPickerFooterBorder: $color-black,
        ChartHistoryPickerFooterColor: $color-grey,
        ChartHistoryPickerBodyColor: $color-grey,
        ChartHistoryPickerBodyDisableColor:$color-black-6,
        ChartHistoryPickerBodyActiveBg: $color-black-8,
        ChartHistoryPickerBodyActiveColor: $COLOR_WHITE,
        ChartHistoryPickerBodyActiveBorder: $color-black-8,
        ChartHistoryPickerBodyHoverBg: $color-black-5,
        PaginationLoaderStripeColor: $color-black-1,
        NavigationWidgetBg: $color-black-3,
        NavigationWidgetColor: $color-grey,
        HighestLowestMarkerLabelBg: $COLOR_DARK_GRAY_2,
        HighestLowestMarkerLabelText: $COLOR_WHITE,
        HighestSpotColor: $COLOR_GREEN_1,
        ToolbarWidgetBg: $color-black,
        ToolbarWidgetBorder: $color-black-3,
        ToolbarWidgetHoverBg: $color-black-5,
        ToolbarWidgetItemIcon: $color-grey,
        LowestSpotColor: $COLOR_RED,
        ChartBackgroundOpacity: 0.4,
        IndicatorEmptyText: $color-grey-7,
        IndicatorEmptyTitleText: $color-white,
        IndicatorListItemText: $color-grey,
        IndicatorListItemSubText: $color-grey-7,
        IndicatorListItemHoverBg: $color-black-5,
        IndicatorAddedBorder: $color-black-6,
        IndicatorSearchBg: $color-black,
        IndicatorSearchBorder: $color-black-8,
        IndicatorSearchText: $color-black-6,
        IndicatorSearchIcon: $color-grey,
        IndicatorSearchIconReset: $color-black-1,
        IndicatorSearchHoverBorder: $color-grey-1,
        IndicatorSearchActiveBorder: $color-green,
        IndicatorSearchActiveText: $color-white,
        IndicatorCategoryText: $color-grey-7,
        IndicatorInfoText: $color-grey,
        IndicatorInfoBg: $color-black,
        FooterBg: $color-black,
        FooterText: $color-grey,
        FooterBorder: $color-black-3,
        FooterItemHoverBg: $color-black-5,
        ChartStatus: $color-grey-2,
        ChartStatusOnline: $color-green-1,
        ChartStatusOffline: $color-red-2,
        PredictionDialogTitle: $color-white,
        PredictionDialogText: $color-white,
        ChartHistoryPickerBgCalendar: $color-black-3,
        ChartHistoricalMarker: $color-black-8,
        ChartHistoricalMarkerFont: $color-grey,
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .smartcharts-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

:export {
    red: $color-red;
    light_chart_text: map-get(map-get($themes, 'light'), 'ChartText');
    dark_chart_text: map-get(map-get($themes, 'dark'), 'ChartText');
    light_chart_grid: map-get(map-get($themes, 'light'), 'ChartGrid');
    dark_chart_grid: map-get(map-get($themes, 'dark'), 'ChartGrid');
    light_chart_mountain_border: map-get(map-get($themes, 'light'), 'ChartMountainBorder');
    light_chart_mountain_bg: map-get(map-get($themes, 'light'), 'ChartMountainBg');
    light_chart_mountain_bg_shade: map-get(map-get($themes, 'light'), 'ChartMountainBgShade');
    light_chart_closed_mountain_border: map-get(map-get($themes, 'light'), 'ChartMountainClosedBorder');
    dark_chart_mountain_border: map-get(map-get($themes, 'dark'), 'ChartMountainBorder');
    dark_chart_mountain_bg: map-get(map-get($themes, 'dark'), 'ChartMountainBg');
    dark_chart_mountain_bg_shade: map-get(map-get($themes, 'dark'), 'ChartMountainBgShade');
    dark_chart_closed_mountain_border: map-get(map-get($themes, 'dark'), 'ChartMountainClosedBorder');
    // we don't have difference color for chart_closed_candle_up, chart_closed_candle_down, chart_closed_current_hr
    // in light and dark them
    chart_closed_candle_up: map-get(map-get($themes, 'light'), 'ChartClosedCandleBgUp');
    chart_closed_candle_down: map-get(map-get($themes, 'light'), 'ChartClosedCandleBgDown');
    chart_closed_candle_border: map-get(map-get($themes, 'light'), 'ChartClosedCandleBorder');
    chart_current_hr: map-get(map-get($themes, 'light'), 'ChartCurrentHRBg');
    chart_closed_current_hr: map-get(map-get($themes, 'light'), 'ChartCloseCurrentHRBg');
    light_chart_bg: map-get(map-get($themes, 'light'), 'ChartBg');
    dark_chart_bg: map-get(map-get($themes, 'dark'), 'ChartBg');
    light_float_labels_bg: map-get(map-get($themes, 'light'), 'CrosshairLabelBg');
    dark_float_labels_bg: map-get(map-get($themes, 'dark'), 'CrosshairLabelBg');
    light_float_labels_text: map-get(map-get($themes, 'light'), 'CrosshairLabelText');
    dark_float_labels_text: map-get(map-get($themes, 'dark'), 'CrosshairLabelText');
}
