
$themes: (
  light: (
    activeColor:            #4C5794,
    defaultMain:            #fff,
    defaultAccent:          #398dff,
    defaultBg:              #f8f8f8,
    defaultBgActive:        #f2f3f8,
    defaultMenuBg:          #fff,
    defaultSubmenuBg:       #f3f3f3,
    defaultHuBg:            #ffffff,
    defaultText:            #000,
    defaultTextActive:      #4C5794,
    defaultTextSubtle:      #999,
    defaultTextMedium:      #666,
    defaultTextStrong:      #000,
    defaultBorder:          #e9e9ed,
    defaultBorderSubtle:    #ddd,
    defaultBorderMedium:    #ccc,
    defaultBorderStrong:    #999,
    chartGrid:              #f3f3f3,
    chartText:              #cccccc,
    chartBg:                #fff,
    listBgActive:           #f2f3f8,
    listBgSelected:         #E4E6F1,
    listBorder:             1px solid #e9e9ed,
    controlText:            #575757,
    controlTitleText:       #454545,
    controlTitlebg:         #fff,
    controlTextActive:      #4b5794,
    controlActive:          #4b5794,
    controlBgActive:        rgba(76, 87, 148, 0.2),
    controlGrid:            #fafafb,
    controlDialogHead:      #FFFFFF,
    controlDialogBody:      #FAFAFA,
    controlDialogButton:    #2a3052,
  ),
  dark: (
    activeColor:            #e2e2e2,
    defaultMain:            #1c2a35,
    defaultAccent:          #151f28,
    defaultBg:              #1C2A35,
    defaultBgActive:        mix(#fff, #1c2a35, 8%),
    defaultMenuBg:          #1c2a35,
    defaultSubmenuBg:       #f3f3f3,
    defaultHuBg:            #1c2a35,
    defaultText:            #e7fafb,
    defaultTextSubtle:      #e7fafb,
    defaultTextMedium:      rgb(179, 174, 174),
    defaultTextStrong:      #e7fafb,
    defaultBorder:          #010103,
    defaultBorderSubtle:    #ddd,
    defaultBorderMedium:    #ccc,
    defaultBorderStrong:    #999,
    chartGrid:              mix(#fff, #1c2a35, 8%),
    chartText:              mix(#fff, #1c2a35, 50%),
    chartBg:                mix(#fff, #1c2a35, 10%),
    listBgActive:           #e2e2e2,
    listBgSelected:         #e2e2e2,
    controlText:            rgb(179, 174, 174),
    controlTitleText:       #acacac,
    controlTitlebg:         mix(#fff, #1c2a35, 7%),
    controlActive:          #e2e2e2,
    controlTextActive:      #e2e2e2,
    controlBgActive:        rgba(76, 87, 148, 0.2),
    controlGrid:            #fafafb,
    controlDialogHead:      mix(#fff, #1c2a35, 3%),
    controlDialogBody:      mix(#fff, #1c2a35, 7%),
    controlDialogButton:    #e2e2e2,
  ),
);



@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .smartcharts-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}

