/* stylelint-disable color-no-hex */
/* stylelint-disable value-keyword-case */
$COLOR_WHITE        : #ffffff;
$COLOR_BLACK        : #000000;
$COLOR_LIGHT_BLACK_1: rgba($COLOR_BLACK, 0.8);
$COLOR_LIGHT_BLACK_2: rgba($COLOR_BLACK, 0.4);
$COLOR_LIGHT_BLACK_3: rgba($COLOR_BLACK, 0.16);
$COLOR_LIGHT_BLACK_4: rgba($COLOR_BLACK, 0.04);
$COLOR_PURPLE       : #4f60ae;
$COLOR_LIGHT_GRAY_1 : #fafafb;
$COLOR_LIGHT_GRAY_2 : rgba(153, 156, 172, 0.32);
$COLOR_LIGHT_GRAY_3 : #999cac;
$COLOR_GRAY         : #7f8397;
$COLOR_DARK_GRAY    : #555975;
$COLOR_YELLOW       : #fef1cf;
$COLOR_ORANGE       : #ff9933;
$COLOR_RED          : #e31c4b;
$COLOR_GREEN        : #4bbfab;
$COLOR_DARK_GREEN   : #34a39a;
$COLOR_SKY_BLUE     : #2196f3;
$COLOR_LIGHT_BLUE_1 : #7f8397;
$COLOR_LIGHT_BLUE_2 : #555975;
$COLOR_BRAND_BLUE   : #2a3052;
$COLOR_DARK_BLUE_1  : #0b0e18;
$COLOR_DARK_BLUE_2  : #101320;
$COLOR_DARK_BLUE_3  : #191c31;
$COLOR_DARK_BLUE_4  : #202641;

$COLOR_LIGHT_BLACK_4_SOLID: #f4f4f6;
$COLOR_LIGHT_BLACK : #5c5c5c;
$COLOR_BRANDBLUE_40: #aaacba;
$COLOR_BRANDBLUE_95: #353b5b;
$COLOR_BRANDBLUE_85: #4a4f6c;
$COLOR_BRANDBLUE_75: #60647e;
$COLOR_DARK_BLUE_8 : rgba(127, 131, 151, 0.3);

$themes: (
    light: (
        DefaultMain: $COLOR_WHITE,
        DefaultBg:  $COLOR_WHITE,
        DefaultText: $COLOR_GRAY,
        DefaultBorder: $COLOR_GRAY,
        Loading: $COLOR_BLACK,
        ChartBg: $COLOR_WHITE,
        ChartBorder: $COLOR_LIGHT_GRAY_3,
        ChartText: $COLOR_LIGHT_GRAY_3,
        ChartCandleBg: $COLOR_ORANGE,
        ChartCandleText: $COLOR_WHITE,
        ChartGrid: $COLOR_LIGHT_BLACK_4,
        ChartIndicateText: $COLOR_GRAY,
        ChartIndicateDivide: $COLOR_GRAY,
        ChartMountainBg: rgba(153, 156, 172, 0.16),
        ChartMountainBgShade: rgba(255, 255, 255, 0),
        MenuBg: $COLOR_WHITE,
        MenuIcon: $COLOR_GRAY,
        MenuText: $COLOR_GRAY,
        MenuBorder: $COLOR_LIGHT_GRAY_1,
        MenuHoverBg: $COLOR_LIGHT_BLACK_3,
        MenuHoverIconBg: $COLOR_LIGHT_GRAY_1,
        MenuActiveBg: $COLOR_LIGHT_BLACK_3,
        MenuActiveText: $COLOR_GRAY,
        MenuActiveIcon: $COLOR_BRAND_BLUE,
        MenuActiveBorder: $COLOR_BRAND_BLUE,
        ChartTitleBg: $COLOR_WHITE,
        ChartTitleSubBg: $COLOR_LIGHT_BLACK_4_SOLID,
        ChartTitleText: $COLOR_LIGHT_BLACK_1,
        ChartTitleBorder: $COLOR_WHITE,
        ChartTitleArrow: $COLOR_LIGHT_BLACK_1,
        ChartTitlePriceText: $COLOR_LIGHT_BLACK_1,
        ChartTitleSymbolText: $COLOR_LIGHT_BLACK_1,
        ChartTitleHoverBorder: $COLOR_LIGHT_GRAY_3,
        ChartTitleActiveBorder: $COLOR_LIGHT_GRAY_3,
        ChartTitleActiveShadow: $COLOR_LIGHT_GRAY_2,
        ChartTitleActiveArrow: $COLOR_LIGHT_BLACK_1,
        ChartControlBoxBorder: $COLOR_LIGHT_BLACK_4,
        ListScroll: $COLOR_LIGHT_BLUE_1,
        ListLiBg: $COLOR_WHITE,
        ListLiText: $COLOR_GRAY,
        ListLiBorder: $COLOR_LIGHT_GRAY_1,
        ListActiveLiBg: $COLOR_LIGHT_BLACK_3,
        ListActiveLiText: $COLOR_BRAND_BLUE,
        ListActiveLiBorder: $COLOR_GRAY,
        DialogBorder: $COLOR_LIGHT_GRAY_1,
        DialogHeadBg: $COLOR_LIGHT_GRAY_1,
        DialogHeadText: $COLOR_GRAY,
        DialogHeadBorder: $COLOR_GRAY,
        DialogHeadIcon: $COLOR_GRAY,
        DialogHeadActiveBorder: $COLOR_GRAY,
        DialogBodyBg: $COLOR_LIGHT_GRAY_1,
        DialogBodyText: $COLOR_GRAY,
        DialogFootBg: $COLOR_LIGHT_GRAY_1,
        DialogFootText: $COLOR_GRAY,
        DialogFootBorder: $COLOR_WHITE,
        DialogSettingBodyBg: $COLOR_WHITE,
        DialogOverlay: rgba($COLOR_WHITE, 0.7),
        ChartTypeText: $COLOR_GRAY,
        ChartTypeListIcon: $COLOR_GRAY,
        ChartTypeActiveListIcon: $COLOR_BRAND_BLUE,
        ChartTypeActiveListBorderRight: $COLOR_LIGHT_GRAY_1,
        ChartSettingText: $COLOR_GRAY,
        ChartSettingIcon: $COLOR_GRAY,
        ChartSettingActiveIcon: $COLOR_BRAND_BLUE,
        TemplateAddIcon: $COLOR_BRAND_BLUE,
        TemplateText:  $COLOR_GRAY,
        TemplateInputText:  $COLOR_GRAY,
        TemplateBtn: $COLOR_BRAND_BLUE,
        TemplateActiveIcon: $COLOR_GRAY,
        TooltipBg: rgba($COLOR_GRAY, 0.88),
        TooltipTextBg: rgba($COLOR_GRAY, 1),
        TooltipText: $COLOR_WHITE,
        TooltipShadow: rgba($COLOR_GRAY, 0.32),
        ColorPickerBg: $COLOR_WHITE,
        ColorPickerBorder: $COLOR_GRAY,
        DropdownText: $COLOR_GRAY,
        DropdownBg: $COLOR_WHITE,
        DropdownBorder: $COLOR_LIGHT_GRAY_1,
        DropdownActiveBg: $COLOR_LIGHT_GRAY_1,
        DropdownActiveText: $COLOR_BRAND_BLUE,
        DropdownActiveBorder: $COLOR_LIGHT_GRAY_3,
        SliderText: $COLOR_BRAND_BLUE,
        SliderHandleBg: $COLOR_WHITE,
        SliderHandleBorder: $COLOR_BRAND_BLUE,
        SliderBarBg: $COLOR_GRAY,
        SliderBarActiveBg: $COLOR_BRAND_BLUE,
        SwitchText: $COLOR_WHITE,
        SwitchHandle: $COLOR_WHITE,
        SwitchOffBg: $COLOR_GRAY,
        SwitchOnBg: $COLOR_GREEN,
        ComparisonItemText: $COLOR_GRAY,
        ComparisonItemIcon: $COLOR_BRAND_BLUE,
        ComparisonItemHoverBg: $COLOR_WHITE,
        TimeMenuActiveIconBorder: $COLOR_LIGHT_GRAY_1,
        TimeBg: $COLOR_WHITE,
        TimeUnitBg: $COLOR_WHITE,
        TimeUnitColor: $COLOR_GRAY,
        TimeUnitItemBorder: $COLOR_GRAY,
        TimeActiveUnitBg: $COLOR_LIGHT_GRAY_1,
        TimeActiveUnitColor: $COLOR_BRAND_BLUE,
        TimeActiveUnitItemBorder: $COLOR_BRAND_BLUE,
        TimeColor: $COLOR_BRAND_BLUE,
        TimeActiveItemBg: $COLOR_BRAND_BLUE,
        TimeActiveItemColor: $COLOR_WHITE,
        TimeActiveItemBorder: $COLOR_BRAND_BLUE,
        TimeHoverItemColor: $COLOR_BRAND_BLUE,
        TimeHoverItemBorder: $COLOR_BRAND_BLUE,
        AssetInfoText: $COLOR_GRAY,
        CatDisplayBg: $COLOR_LIGHT_BLACK_4_SOLID,
        CatDisplayShadow: $COLOR_LIGHT_GRAY_1,
        CatDisplayText: $COLOR_LIGHT_BLACK_1,
        CatDisplayBorder: $COLOR_LIGHT_BLACK_4_SOLID,
        CatDisplaySearchIcon: $COLOR_LIGHT_BLACK_3,
        CatDisplaySearchText: $COLOR_LIGHT_BLACK_3,
        CatDisplaySearchBorder: $COLOR_LIGHT_BLACK_3,
        CatDisplayActiveSearchText: $COLOR_BRAND_BLUE,
        CatDisplayActiveSearchIcon: $COLOR_BRAND_BLUE,
        CatDisplayActiveSearchIconClose: $COLOR_LIGHT_GRAY_3,
        CatDisplayActiveSearchBorder: $COLOR_LIGHT_GRAY_3,
        CatDisplayActiveSearchShadow: $COLOR_LIGHT_GRAY_2,
        CatDisplayFilterBg: $COLOR_WHITE,
        CatDisplayFilterText: $COLOR_LIGHT_BLACK_1,
        CatDisplayFilterIcon: $COLOR_GRAY,
        CatDisplayFilterInputText: $COLOR_WHITE,
        CatDisplayActiveFilterBg: $COLOR_LIGHT_GRAY_3,
        CatDisplayActiveFilterText: $COLOR_WHITE,
        CatDisplayActiveFilterIcon: $COLOR_WHITE,
        CatDisplayActiveFilterBorder: $COLOR_BRAND_BLUE,
        CatDisplayHoverFilterBg: $COLOR_LIGHT_BLACK_4,
        CatDisplayCatTitleText: $COLOR_LIGHT_BLACK_1,
        CatDisplayCatContentBg: $COLOR_WHITE,
        CatDisplayCatContentBorder: $COLOR_LIGHT_BLACK_4_SOLID,
        CatDisplayCatContentTitleBg: $COLOR_WHITE,
        CatDisplayCatContentTitleText: $COLOR_LIGHT_BLACK_1,
        CatDisplayCatContentIcon: $COLOR_LIGHT_BLACK_1,
        CatDisplayCatActiveContentBg: $COLOR_LIGHT_GRAY_3,
        CatDisplayCatActiveContentText: $COLOR_WHITE,
        CatDisplayCatActiveContentIcon: $COLOR_WHITE,
        CatDisplayCatHoverContentBg: $COLOR_LIGHT_BLACK_4,
        CatDisplayCatHoverContentText: $COLOR_LIGHT_BLACK_1,
        CatDisplayCatHoverContentIcon: $COLOR_LIGHT_BLACK_1,
        CrosshairBg: rgba($COLOR_GRAY, 0.88),
        CrosshairText: $COLOR_WHITE,
        CrosshairBorder: rgba($COLOR_GRAY, 0.88),
        CrosshairAxis: rgba($COLOR_GRAY, 0.32),
        CrosshairLabel: rgba($COLOR_GRAY, 0.88),
        StarIconFav: $COLOR_ORANGE,
        LastdigitsBarBg: $COLOR_LIGHT_GRAY_3,
        LastdigitsMaxBarBg: $COLOR_DARK_GREEN,
        LastdigitsMinBarBg: $COLOR_RED,
        LastdigitsBarText: $COLOR_LIGHT_BLUE_1,
        LastdigitsBarFooter: $COLOR_BLACK,
        ChartHistoryBg: $COLOR_LIGHT_GRAY_1,
        ChartHistoryColor: $COLOR_LIGHT_BLACK,
        ChartHistoryBorder: $COLOR_GRAY,
        ChartHistoryPickerBg: $COLOR_WHITE,
        ChartHistoryPickerBorder: $COLOR_GRAY,
        ChartHistoryPickerColor: $COLOR_LIGHT_BLACK,
        ChartHistoryPickerIcon: $COLOR_LIGHT_BLACK,
        ChartHistoryPickerActiveBorder: $COLOR_BRAND_BLUE,
        ChartHistoryPickerActiveColor: $COLOR_LIGHT_BLACK,
        ChartHistoryPickerActiveIcon: $COLOR_BRAND_BLUE,
        ChartHistoryPickerTopColor: $COLOR_BRANDBLUE_40,
        ChartHistoryPickerHeaderBg: $COLOR_WHITE,
        ChartHistoryPickerHeaderBorder: $COLOR_GRAY,
        ChartHistoryPickerHeaderColor: $COLOR_BLACK,
        ChartHistoryPickerHeaderIcon: $COLOR_BRANDBLUE_40,
        ChartHistoryPickerFooterBg: $COLOR_WHITE,
        ChartHistoryPickerFooterBorder: $COLOR_GRAY,
        ChartHistoryPickerFooterColor: $COLOR_BRAND_BLUE,
        ChartHistoryPickerBodyColor: $COLOR_BRAND_BLUE,
        ChartHistoryPickerBodyDisableColor: $COLOR_DARK_GRAY,
        ChartHistoryPickerBodyActiveBg: $COLOR_BRAND_BLUE,
        ChartHistoryPickerBodyActiveColor: $COLOR_WHITE,
        ChartHistoryPickerBodyActiveBorder: $COLOR_BRAND_BLUE
    ),
    dark: (
        DefaultMain:            $COLOR_BRAND_BLUE,
        DefaultBg:              $COLOR_DARK_BLUE_2,
        DefaultText:            $COLOR_WHITE,
        DefaultBorder:          $COLOR_WHITE,
        Loading: $COLOR_WHITE,
        ChartBg: $COLOR_DARK_BLUE_2,
        ChartBorder: $COLOR_LIGHT_BLUE_2,
        ChartText: $COLOR_LIGHT_BLUE_2,
        ChartCandleBg: $COLOR_ORANGE,
        ChartCandleText: $COLOR_WHITE,
        ChartGrid: $COLOR_DARK_BLUE_3,
        ChartIndicateText: $COLOR_WHITE,
        ChartIndicateDivide: $COLOR_LIGHT_BLUE_2,
        ChartMountainBg: rgba(255, 255, 255, 0.16),
        ChartMountainBgShade: rgba(16, 19, 32, 0),
        MenuBg: $COLOR_DARK_BLUE_2,
        MenuBorder: $COLOR_BRAND_BLUE,
        MenuIcon: $COLOR_LIGHT_BLUE_1,
        MenuText: $COLOR_LIGHT_BLUE_1,
        MenuHoverBg: $COLOR_DARK_BLUE_4,
        MenuHoverIconBg: $COLOR_LIGHT_BLUE_2,
        MenuActiveBg: $COLOR_DARK_BLUE_4,
        MenuActiveText: $COLOR_WHITE,
        MenuActiveIcon: $COLOR_WHITE,
        MenuActiveBorder: $COLOR_WHITE,
        ChartTitleBg: $COLOR_DARK_BLUE_2,
        ChartTitleSubBg: $COLOR_DARK_BLUE_3,
        ChartTitleText: $COLOR_WHITE,
        ChartTitleBorder: $COLOR_DARK_BLUE_2,
        ChartTitleArrow: $COLOR_LIGHT_BLUE_1,
        ChartTitlePriceText: $COLOR_GRAY,
        ChartTitleSymbolText: $COLOR_WHITE,
        ChartTitleHoverBorder: $COLOR_GRAY,
        ChartTitleActiveBorder: $COLOR_GRAY,
        ChartTitleActiveShadow: $COLOR_DARK_BLUE_8,
        ChartTitleActiveArrow: $COLOR_GRAY,
        ChartControlBoxBorder: $COLOR_DARK_BLUE_3,
        ListScroll: $COLOR_LIGHT_BLUE_1,
        ListLiBg: $COLOR_DARK_BLUE_2,
        ListLiText: $COLOR_LIGHT_BLUE_1,
        ListLiBorder: $COLOR_DARK_BLUE_3,
        ListActiveLiBg: $COLOR_DARK_BLUE_4,
        ListActiveLiText: $COLOR_WHITE,
        ListActiveLiBorder: $COLOR_LIGHT_BLUE_2,
        DialogBorder: $COLOR_DARK_BLUE_3,
        DialogHeadBg: $COLOR_DARK_BLUE_3,
        DialogHeadText: $COLOR_WHITE,
        DialogHeadBorder: $COLOR_DARK_BLUE_3,
        DialogHeadIcon: $COLOR_LIGHT_BLUE_1,
        DialogHeadActiveBorder: $COLOR_DARK_BLUE_3,
        DialogBodyBg: $COLOR_DARK_BLUE_3,
        DialogBodyText: $COLOR_LIGHT_BLUE_1,
        DialogFootBg: $COLOR_DARK_BLUE_3,
        DialogFootText: $COLOR_WHITE,
        DialogFootBorder: $COLOR_DARK_BLUE_3,
        DialogSettingBodyBg: $COLOR_DARK_BLUE_2,
        DialogOverlay: rgba($COLOR_BRAND_BLUE, 0.7),
        ChartTypeText: $COLOR_LIGHT_BLUE_1,
        ChartTypeListIcon: $COLOR_LIGHT_BLUE_1,
        ChartTypeActiveListIcon: $COLOR_WHITE,
        ChartTypeActiveListBorderRight: $COLOR_WHITE,
        ChartSettingText: $COLOR_LIGHT_BLUE_1,
        ChartSettingIcon: $COLOR_LIGHT_BLUE_2,
        ChartSettingActiveIcon: $COLOR_LIGHT_BLUE_1,
        TemplateAddIcon: $COLOR_LIGHT_BLUE_1,
        TemplateText: $COLOR_LIGHT_BLUE_1,
        TemplateInputText: $COLOR_LIGHT_BLUE_1,
        TemplateBtn: $COLOR_WHITE,
        TemplateActiveIcon: $COLOR_LIGHT_BLUE_1,
        TooltipBg: rgba($COLOR_WHITE, 0.88),
        TooltipTextBg: rgba($COLOR_WHITE, 1),
        TooltipText: $COLOR_BRAND_BLUE,
        TooltipShadow: rgba($COLOR_WHITE, 0.32),
        ColorPickerBg: $COLOR_BRAND_BLUE,
        ColorPickerBorder: $COLOR_LIGHT_BLUE_2 ,
        DropdownText: $COLOR_WHITE,
        DropdownBg: $COLOR_BRAND_BLUE,
        DropdownBorder: $COLOR_DARK_BLUE_4,
        DropdownActiveBg: $COLOR_LIGHT_BLUE_2,
        DropdownActiveText: $COLOR_LIGHT_BLUE_1,
        DropdownActiveBorder: $COLOR_WHITE,
        SliderText: $COLOR_WHITE,
        SliderHandleBg: $COLOR_BRAND_BLUE,
        SliderHandleBorder: $COLOR_WHITE,
        SliderBarBg: $COLOR_LIGHT_BLUE_2,
        SliderBarActiveBg: $COLOR_WHITE,
        SwitchText: $COLOR_WHITE,
        SwitchHandle: $COLOR_WHITE,
        SwitchOffBg: $COLOR_LIGHT_BLUE_2,
        SwitchOnBg: $COLOR_GREEN,
        ComparisonItemText: $COLOR_WHITE,
        ComparisonItemIcon: $COLOR_LIGHT_BLUE_1,
        ComparisonItemHoverBg: $COLOR_LIGHT_BLUE_2,
        TimeBg: $COLOR_DARK_BLUE_2,
        TimeUnitBg: $COLOR_DARK_BLUE_2,
        TimeUnitColor: $COLOR_LIGHT_BLUE_1,
        TimeUnitItemBorder: $COLOR_LIGHT_BLUE_2,
        TimeActiveUnitBg: $COLOR_DARK_BLUE_4,
        TimeActiveUnitColor: $COLOR_WHITE,
        TimeActiveUnitItemBorder: $COLOR_WHITE,
        TimeColor: $COLOR_LIGHT_BLUE_1,
        TimeActiveItemBg: $COLOR_WHITE,
        TimeActiveItemColor: $COLOR_BRAND_BLUE,
        TimeActiveItemBorder: $COLOR_WHITE,
        TimeHoverItemColor:  $COLOR_LIGHT_BLUE_1,
        TimeHoverItemBorder: $COLOR_WHITE,
        AssetInfoText: $COLOR_LIGHT_BLUE_1,
        CatDisplayBg: $COLOR_DARK_BLUE_3,
        CatDisplayShadow: $COLOR_DARK_BLUE_3,
        CatDisplayText: $COLOR_LIGHT_BLUE_1,
        CatDisplayBorder: $COLOR_DARK_BLUE_3,
        CatDisplaySearchIcon: $COLOR_DARK_BLUE_8,
        CatDisplaySearchText: $COLOR_DARK_BLUE_8,
        CatDisplaySearchBorder: $COLOR_DARK_BLUE_8,
        CatDisplayActiveSearchText: $COLOR_WHITE,
        CatDisplayActiveSearchIcon: $COLOR_GRAY,
        CatDisplayActiveSearchIconClose: $COLOR_GRAY,
        CatDisplayActiveSearchBorder: $COLOR_GRAY,
        CatDisplayActiveSearchShadow: $COLOR_DARK_BLUE_8,
        CatDisplayFilterBg: $COLOR_DARK_BLUE_2,
        CatDisplayFilterText: $COLOR_GRAY,
        CatDisplayFilterIcon: $COLOR_GRAY,
        CatDisplayFilterInputText: $COLOR_WHITE,
        CatDisplayActiveFilterBg: $COLOR_BRAND_BLUE,
        CatDisplayActiveFilterText: $COLOR_WHITE,
        CatDisplayActiveFilterBorder: $COLOR_WHITE,
        CatDisplayActiveFilterIcon: $COLOR_WHITE,
        CatDisplayHoverFilterBg: $COLOR_DARK_BLUE_4,
        CatDisplayCatTitleText: $COLOR_GRAY,
        CatDisplayCatContentBg: $COLOR_DARK_BLUE_2,
        CatDisplayCatContentBorder: $COLOR_DARK_BLUE_3,
        CatDisplayCatContentTitleBg: $COLOR_BRAND_BLUE,
        CatDisplayCatContentTitleText: $COLOR_GRAY,
        CatDisplayCatContentIcon: $COLOR_GRAY,
        CatDisplayCatActiveContentBg: $COLOR_BRAND_BLUE,
        CatDisplayCatActiveContentText: $COLOR_WHITE,
        CatDisplayCatActiveContentIcon: $COLOR_WHITE,
        CatDisplayCatHoverContentBg: $COLOR_DARK_BLUE_4,
        CatDisplayCatHoverContentText: $COLOR_GRAY,
        CatDisplayCatHoverContentIcon: $COLOR_GRAY,
        CrosshairBg: rgba($COLOR_WHITE, 0.88),
        CrosshairText: $COLOR_BRAND_BLUE,
        CrosshairBorder: $COLOR_LIGHT_BLUE_2,
        CrosshairAxis: $COLOR_WHITE,
        CrosshairLabel: $COLOR_LIGHT_BLUE_2,
        StarIconFav: $COLOR_ORANGE,
        LastdigitsBarBg: $COLOR_LIGHT_BLUE_2,
        LastdigitsMaxBarBg: $COLOR_GREEN,
        LastdigitsMinBarBg: $COLOR_RED,
        LastdigitsBarText: $COLOR_LIGHT_BLUE_1,
        LastdigitsBarFooter: $COLOR_WHITE,
        ChartHistoryBg: $COLOR_BRANDBLUE_95,
        ChartHistoryColor: $COLOR_BRANDBLUE_40,
        ChartHistoryBorder: $COLOR_BRANDBLUE_85,
        ChartHistoryPickerBg: $COLOR_BRANDBLUE_95,
        ChartHistoryPickerBorder: $COLOR_BRANDBLUE_85,
        ChartHistoryPickerColor: $COLOR_WHITE,
        ChartHistoryPickerIcon: $COLOR_BRANDBLUE_40,
        ChartHistoryPickerActiveBorder: $COLOR_WHITE,
        ChartHistoryPickerActiveColor: $COLOR_WHITE,
        ChartHistoryPickerActiveIcon: $COLOR_WHITE,
        ChartHistoryPickerTopColor: $COLOR_BRANDBLUE_40,
        ChartHistoryPickerHeaderBg: $COLOR_BRAND_BLUE,
        ChartHistoryPickerHeaderBorder: $COLOR_BRAND_BLUE,
        ChartHistoryPickerHeaderColor: $COLOR_WHITE,
        ChartHistoryPickerHeaderIcon: $COLOR_BRANDBLUE_40,
        ChartHistoryPickerFooterBg: $COLOR_BRANDBLUE_95,
        ChartHistoryPickerFooterBorder: $COLOR_BRANDBLUE_85,
        ChartHistoryPickerFooterColor: $COLOR_WHITE,
        ChartHistoryPickerBodyColor: $COLOR_BRANDBLUE_40,
        ChartHistoryPickerBodyDisableColor: $COLOR_BRANDBLUE_75,
        ChartHistoryPickerBodyActiveBg: $COLOR_WHITE,
        ChartHistoryPickerBodyActiveColor: $COLOR_BRAND_BLUE,
        ChartHistoryPickerBodyActiveBorder: $COLOR_WHITE
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .smartcharts-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

:export {
    lightchartgrid: map-get(map-get($themes, 'light'), 'ChartGrid');
    darkchartgrid: map-get(map-get($themes, 'dark'), 'ChartGrid');
}
