/* stylelint-disable color-no-hex */
/* stylelint-disable value-keyword-case */
$COLOR_WHITE       : #ffffff;
$COLOR_LIGHT_GRAY  : #fafafb;
$COLOR_GRAY        : #e9e9ed;
$COLOR_DARK_WHITE  : #cccccc;
$COLOR_LIGHT_GRAY_2: #b0b3bf;
$COLOR_BRAND_BLUE_5: #f4f4f6;
$COLOR_BLUE_GRAY   : #6e7287;
$COLOR_YELLOW      : #fef1cf;
$COLOR_LIGHT_ORANGE: #ffc107;
$COLOR_ORANGE_2    : #ee9e58;
$COLOR_ORANGE      : #e98024;
$COLOR_LIGHT_RED   : #f44336;
$COLOR_GREEN_2     : #66bb6a;
$COLOR_LIGHT_GREEN : #4caf50;
$COLOR_GREEN       : #2e8836;
$COLOR_SKY_BLUE    : #2196f3;
$COLOR_LIGHT_BLUE  : #1565c0;
$COLOR_BLUE        : #2a3052;
$COLOR_DARK_BLUE   : #15212d;
$COLOR_DARK_GRAY   : #d2d3da;
$COLOR_LIGHT_BLACK : #5c5c5c;
$COLOR_BLACK       : #000000;
$COLOR_ORANGE      : #ff9933;

// Dark Theme Colors
$COLOR_BRANDBLUE_5 : #f4f4f6;
$COLOR_BRANDBLUE_40: #aaacba;
$COLOR_BRANDBLUE_75: #60647e;
$COLOR_BRANDBLUE_85: #4a4f6c;
$COLOR_BRANDBLUE_95: #353b5b;

$COLOR_DARK_BLUE_3: #191c31;
$COLOR_DARK_BLUE_2: #101320;
$COLOR_DARK_BLUE_7: #7f8397;
$COLOR_DARK_BLUE_5: #2a3052;

$themes: (
    light: (
        DefaultMain: $COLOR_WHITE,
        DefaultBg:  $COLOR_WHITE,
        DefaultText: $COLOR_LIGHT_BLACK,
        DefaultBorder: $COLOR_GRAY,
        Loading: $COLOR_BLACK,
        ChartBg: $COLOR_WHITE,
        ChartBorder: $COLOR_GRAY,
        ChartText: $COLOR_DARK_GRAY,
        ChartCandleBg: $COLOR_ORANGE,
        ChartCandleText: $COLOR_WHITE,
        ChartGrid: rgba($COLOR_BRANDBLUE_40, 0.08),
        ChartIndicateText: $COLOR_LIGHT_BLACK,
        ChartIndicateDivide: $COLOR_GRAY,
        MenuBg: $COLOR_WHITE,
        MenuIcon: $COLOR_LIGHT_BLACK,
        MenuText: $COLOR_LIGHT_BLACK,
        MenuBorder: $COLOR_GRAY,
        MenuHoverBg: $COLOR_BRAND_BLUE_5,
        MenuHoverIconBg: $COLOR_BRAND_BLUE_5,
        MenuActiveBg: $COLOR_BRAND_BLUE_5,
        MenuActiveText: $COLOR_LIGHT_BLACK,
        MenuActiveIcon: $COLOR_BLUE,
        MenuActiveBorder: $COLOR_BLUE,
        ChartTitleBg: $COLOR_WHITE,
        ChartTitleText: $COLOR_BLUE,
        ChartTitleBorder: $COLOR_GRAY,
        ChartTitleArrow: $COLOR_LIGHT_BLACK,
        ChartTitlePriceText: $COLOR_LIGHT_BLACK,
        ChartTitleSymbolText: $COLOR_BLUE,
        ChartTitleActiveArrow: $COLOR_BLUE,
        ListScroll: $COLOR_BRANDBLUE_40,
        ListLiBg: $COLOR_WHITE,
        ListLiText: $COLOR_LIGHT_BLACK,
        ListLiBorder: $COLOR_GRAY,
        ListActiveLiBg: $COLOR_BRAND_BLUE_5,
        ListActiveLiText: $COLOR_BLUE,
        ListActiveLiBorder: $COLOR_GRAY,
        DialogBorder: $COLOR_GRAY,
        DialogHeadBg: $COLOR_WHITE,
        DialogHeadText: $COLOR_LIGHT_BLACK,
        DialogHeadBorder: $COLOR_GRAY,
        DialogHeadIcon: $COLOR_LIGHT_BLACK,
        DialogHeadActiveBorder: $COLOR_GRAY,
        DialogBodyBg: $COLOR_LIGHT_GRAY,
        DialogBodyText: $COLOR_LIGHT_BLACK,
        DialogFootBg: $COLOR_WHITE,
        DialogFootText: $COLOR_LIGHT_BLACK,
        DialogFootBorder: $COLOR_WHITE,
        DialogSettingBodyBg: $COLOR_WHITE,
        DialogOverlay: rgba($COLOR_WHITE, 0.7),
        ChartTypeText: $COLOR_LIGHT_BLACK,
        ChartTypeListIcon: $COLOR_LIGHT_BLACK,
        ChartTypeActiveListIcon: $COLOR_BLUE,
        ChartTypeActiveListBorderRight: $COLOR_BRAND_BLUE_5,
        ChartSettingText: $COLOR_LIGHT_BLACK,
        ChartSettingIcon: $COLOR_GRAY,
        ChartSettingActiveIcon: $COLOR_BLUE,
        TemplateAddIcon: $COLOR_BLUE,
        TemplateText:  $COLOR_LIGHT_BLACK,
        TemplateInputText:  $COLOR_LIGHT_BLACK,
        TemplateBtn: $COLOR_BLUE,
        TemplateActiveIcon: $COLOR_LIGHT_BLACK,
        TooltipBg: rgba($COLOR_LIGHT_BLACK, 0.88),
        TooltipTextBg: rgba($COLOR_LIGHT_BLACK, 1),
        TooltipText: $COLOR_WHITE,
        TooltipShadow: rgba($COLOR_LIGHT_BLACK, 0.32),
        ColorPickerBg: $COLOR_WHITE,
        ColorPickerBorder: $COLOR_GRAY,
        DropdownText: $COLOR_LIGHT_BLACK,
        DropdownBg: $COLOR_WHITE,
        DropdownBorder: $COLOR_GRAY,
        DropdownActiveBg: $COLOR_BRAND_BLUE_5,
        DropdownActiveText: $COLOR_BLUE,
        DropdownActiveBorder: $COLOR_BLUE,
        SliderText: $COLOR_BLUE,
        SliderHandleBg: $COLOR_WHITE,
        SliderHandleBorder: $COLOR_BLUE,
        SliderBarBg: $COLOR_GRAY,
        SliderBarActiveBg: $COLOR_BLUE,
        SwitchText: $COLOR_WHITE,
        SwitchHandle: $COLOR_WHITE,
        SwitchOffBg: $COLOR_GRAY,
        SwitchOnBg: $COLOR_LIGHT_GREEN,
        ComparisonItemText: $COLOR_LIGHT_BLACK,
        ComparisonItemIcon: $COLOR_BLUE,
        ComparisonItemHoverBg: $COLOR_WHITE,
        TimeMenuActiveIconBorder: $COLOR_BRAND_BLUE_5,
        TimeBg: $COLOR_WHITE,
        TimeUnitBg: $COLOR_WHITE,
        TimeUnitColor: $COLOR_LIGHT_BLACK,
        TimeUnitItemBorder: $COLOR_GRAY,
        TimeActiveUnitBg: $COLOR_BRAND_BLUE_5,
        TimeActiveUnitColor: $COLOR_BLUE,
        TimeActiveUnitItemBorder: $COLOR_BLUE,
        TimeColor: $COLOR_BLUE,
        TimeActiveItemBg: $COLOR_BLUE,
        TimeActiveItemColor: $COLOR_WHITE,
        TimeActiveItemBorder: $COLOR_BLUE,
        TimeHoverItemColor: $COLOR_BLUE,
        TimeHoverItemBorder: $COLOR_BLUE,
        AssetInfoText: $COLOR_LIGHT_BLACK,
        CatDisplayBg: $COLOR_LIGHT_GRAY,
        CatDisplayText: $COLOR_LIGHT_BLACK,
        CatDisplayBorder: $COLOR_GRAY,
        CatDisplaySearchText: $COLOR_BLUE,
        CatDisplaySearchBorder: $COLOR_GRAY,
        CatDisplayActiveSearchBorder: $COLOR_LIGHT_GRAY_2,
        CatDisplayFilterBg: $COLOR_WHITE,
        CatDisplayFilterText: $COLOR_LIGHT_BLACK,
        CatDisplayFilterIcon: $COLOR_LIGHT_BLACK,
        CatDisplayFilterInputText: $COLOR_WHITE,
        CatDisplayActiveFilterBg: $COLOR_BRAND_BLUE_5,
        CatDisplayActiveFilterText: $COLOR_BLUE,
        CatDisplayActiveFilterIcon: $COLOR_BLUE,
        CatDisplayActiveFilterBorder: $COLOR_BLUE,
        CatDisplayCatTitleText: $COLOR_LIGHT_BLACK,
        CatDisplayCatContentBg: $COLOR_WHITE,
        CatDisplayCatContentBorder: $COLOR_GRAY,
        CatDisplayCatContentTitleBg: $COLOR_WHITE,
        CatDisplayCatContentTitleText: $COLOR_LIGHT_BLACK,
        CatDisplayCatContentIcon: $COLOR_BLUE,
        CatDisplayCatContentHover: $COLOR_BRAND_BLUE_5,
        CrosshairBg: rgba($COLOR_LIGHT_BLACK, 0.88),
        CrosshairText: $COLOR_WHITE,
        CrosshairBorder: rgba($COLOR_LIGHT_BLACK, 0.88),
        CrosshairAxis: rgba($COLOR_LIGHT_BLACK, 0.32),
        CrosshairLabel: rgba($COLOR_LIGHT_BLACK, 0.88),
        StarIconFav: $COLOR_ORANGE,
    ),
    dark: (
        DefaultMain:            $COLOR_BLUE,
        DefaultBg:              $COLOR_BLUE,
        DefaultText:            $COLOR_WHITE,
        DefaultBorder:          $COLOR_BRANDBLUE_85,
        Loading:                $COLOR_WHITE,
        ChartBg:                $COLOR_BLUE,
        ChartBorder:            $COLOR_BRANDBLUE_85,
        ChartText: $COLOR_BRANDBLUE_85,
        ChartCandleBg: $COLOR_ORANGE,
        ChartCandleText: $COLOR_WHITE,
        ChartGrid: rgba($COLOR_BRANDBLUE_40, 0.08),
        ChartIndicateText: $COLOR_WHITE,
        ChartIndicateDivide: $COLOR_BRANDBLUE_85,
        MenuBg: $COLOR_BLUE,
        MenuBorder: $COLOR_BRANDBLUE_95,
        MenuIcon: $COLOR_BRANDBLUE_40,
        MenuText: $COLOR_BRANDBLUE_40,
        MenuHoverBg: $COLOR_BRANDBLUE_85,
        MenuHoverIconBg: $COLOR_BRANDBLUE_85,
        MenuActiveBg: $COLOR_BRANDBLUE_85,
        MenuActiveText: $COLOR_WHITE,
        MenuActiveIcon: $COLOR_WHITE,
        MenuActiveBorder: $COLOR_WHITE,
        ChartTitleBg: $COLOR_BLUE,
        ChartTitleText: $COLOR_BRANDBLUE_40,
        ChartTitleBorder: $COLOR_BRANDBLUE_85,
        ChartTitleArrow: $COLOR_BRANDBLUE_40,
        ChartTitlePriceText: $COLOR_BRANDBLUE_95,
        ChartTitleSymbolText: $COLOR_WHITE,
        ChartTitleActiveArrow: $COLOR_WHITE,
        ListScroll: $COLOR_BRANDBLUE_40,
        ListLiBg: $COLOR_BLUE,
        ListLiText: $COLOR_BRANDBLUE_40,
        ListLiBorder: $COLOR_BRANDBLUE_85,
        ListActiveLiBg: $COLOR_BRANDBLUE_85,
        ListActiveLiText: $COLOR_WHITE,
        ListActiveLiBorder: $COLOR_BRANDBLUE_85,
        DialogBorder: $COLOR_DARK_BLUE_2,
        DialogHeadBg: $COLOR_BLUE,
        DialogHeadText: $COLOR_WHITE,
        DialogHeadBorder: $COLOR_BRANDBLUE_95,
        DialogHeadIcon: $COLOR_BRANDBLUE_40,
        DialogHeadActiveBorder: $COLOR_WHITE,
        DialogBodyBg: $COLOR_DARK_BLUE_2,
        DialogBodyText: $COLOR_BRANDBLUE_40,
        DialogFootBg: $COLOR_BRANDBLUE_95,
        DialogFootText: $COLOR_WHITE,
        DialogFootBorder: $COLOR_BRANDBLUE_95,
        DialogSettingBodyBg: $COLOR_BRANDBLUE_95,
        DialogOverlay: rgba($COLOR_BLUE, 0.7),
        ChartTypeText: $COLOR_BRANDBLUE_40,
        ChartTypeListIcon: $COLOR_BRANDBLUE_40,
        ChartTypeActiveListIcon: $COLOR_WHITE,
        ChartTypeActiveListBorderRight: $COLOR_WHITE,
        ChartSettingText: $COLOR_BRANDBLUE_40,
        ChartSettingIcon: $COLOR_BRANDBLUE_85,
        ChartSettingActiveIcon: $COLOR_BRANDBLUE_40,
        TemplateAddIcon: $COLOR_BRANDBLUE_40,
        TemplateText: $COLOR_BRANDBLUE_40,
        TemplateInputText: $COLOR_BRANDBLUE_40,
        TemplateBtn: $COLOR_WHITE,
        TemplateActiveIcon: $COLOR_BRANDBLUE_40,
        TooltipBg: rgba($COLOR_WHITE, 0.88),
        TooltipTextBg: rgba($COLOR_WHITE, 1),
        TooltipText: $COLOR_BLUE,
        TooltipShadow: rgba($COLOR_WHITE, 0.32),
        ColorPickerBg: $COLOR_BLUE,
        ColorPickerBorder: $COLOR_BRANDBLUE_85 ,
        DropdownText: $COLOR_WHITE,
        DropdownBg: $COLOR_BLUE,
        DropdownBorder: $COLOR_BRANDBLUE_85,
        DropdownActiveBg: $COLOR_BRANDBLUE_85,
        DropdownActiveText: $COLOR_BRANDBLUE_40,
        DropdownActiveBorder: $COLOR_WHITE,
        SliderText: $COLOR_WHITE,
        SliderHandleBg: $COLOR_BLUE,
        SliderHandleBorder: $COLOR_WHITE,
        SliderBarBg: $COLOR_BRANDBLUE_85,
        SliderBarActiveBg: $COLOR_WHITE,
        SwitchText: $COLOR_WHITE,
        SwitchHandle: $COLOR_WHITE,
        SwitchOffBg: $COLOR_BRANDBLUE_85,
        SwitchOnBg: $COLOR_LIGHT_GREEN,
        ComparisonItemText: $COLOR_WHITE,
        ComparisonItemIcon: $COLOR_BRANDBLUE_40,
        ComparisonItemHoverBg: $COLOR_BRANDBLUE_85,
        TimeBg: $COLOR_BRANDBLUE_95,
        TimeUnitBg: $COLOR_BLUE,
        TimeUnitColor: $COLOR_BRANDBLUE_40,
        TimeUnitItemBorder: $COLOR_BRANDBLUE_85,
        TimeActiveUnitBg: $COLOR_BRANDBLUE_85,
        TimeActiveUnitColor: $COLOR_WHITE,
        TimeActiveUnitItemBorder: $COLOR_WHITE,
        TimeColor: $COLOR_BRANDBLUE_40,
        TimeActiveItemBg: $COLOR_WHITE,
        TimeActiveItemColor: $COLOR_BLUE,
        TimeActiveItemBorder: $COLOR_WHITE,
        TimeHoverItemColor:  $COLOR_BRANDBLUE_40,
        TimeHoverItemBorder: $COLOR_WHITE,
        AssetInfoText: $COLOR_BRANDBLUE_40,
        CatDisplayBg: $COLOR_DARK_BLUE_3,
        CatDisplayText: $COLOR_BRANDBLUE_40,
        CatDisplayBorder: $COLOR_DARK_BLUE_3,
        CatDisplaySearchText: $COLOR_BRANDBLUE_40,
        CatDisplaySearchBorder: $COLOR_BRANDBLUE_85,
        CatDisplaySearchIconBg: $COLOR_DARK_BLUE_7,
        CatDisplayActiveSearchBorder: $COLOR_WHITE,
        CatDisplayFilterBg: $COLOR_DARK_BLUE_2,
        CatDisplayFilterText: $COLOR_DARK_BLUE_7,
        CatDisplayFilterIcon: $COLOR_DARK_BLUE_7,
        CatDisplayFilterInputText: $COLOR_WHITE,
        CatDisplayActiveFilterBg: $COLOR_DARK_BLUE_5,
        CatDisplayActiveFilterText: $COLOR_WHITE,
        CatDisplayActiveFilterBorder: $COLOR_WHITE,
        CatDisplayActiveFilterIcon: $COLOR_WHITE,
        CatDisplayCatTitleText: $COLOR_DARK_BLUE_7,
        CatDisplayCatContentBg: $COLOR_DARK_BLUE_2,
        CatDisplayCatContentBorder: $COLOR_DARK_BLUE_2,
        CatDisplayCatContentTitleBg: $COLOR_BLUE,
        CatDisplayCatContentTitleText: $COLOR_BRANDBLUE_40,
        CatDisplayCatContentIcon: $COLOR_BRANDBLUE_40,
        CatDisplayCatContentHover: $COLOR_DARK_BLUE_5,
        CrosshairBg: rgba($COLOR_WHITE, 0.88),
        CrosshairText: $COLOR_BLUE,
        CrosshairBorder: $COLOR_BRANDBLUE_85,
        CrosshairAxis: $COLOR_WHITE,
        CrosshairLabel: $COLOR_BRANDBLUE_85,
        StarIconFav: $COLOR_ORANGE,
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .smartcharts-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
