/* ------------------------ *\
		Variables
\* ------------------------ */

$base-font: 'IBM Plex Sans',sans-serif !default;

$font-size-base: 1em !default;
$font-size-button: 1em !default;
$font-size-toolbar: 1em !default;

/* --------- COLOR :: Border --------- */
$nav-height: 45px !default;
$footer-height: 45px !default;

$active-color: #4c5794;
$large-icon-size: 32px;
$normal-icon-size: 24px;
$small-icon-size: 16px;

/* ------------------------ *\
        Mixin
\* ------------------------ */

/* --------- Animation : dialog --------- */
@mixin dialog-transition {
    transition: pointer-events 0.2s cubic-bezier(0.64, 0.04, 0.35, 1), transform 0.25s cubic-bezier(0.64, 0.04, 0.35, 1), opacity 0.17s cubic-bezier(0.64, 0.04, 0.35, 1), z-index 0.17s cubic-bezier(0.64, 0.04, 0.35, 1);
}

/* --------- CSS Properties --------- */

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}
@mixin rangetrack() {
    width: 100%;
    height: 12px;
    cursor: pointer;
    border-radius: 0px;
    background: transparent;
    border: 0px solid #010101;
}
@mixin rangethumb() {
    cursor: pointer;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 0px;
    @include themify($themes) {
        background-color: themed('SliderHandleBg');
        border: 2px solid themed('SliderHandleBorder');
    }
}

@mixin triangle-base($width) {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
}
