{
    "presets": [
        ["@babel/preset-env",  {
            "modules": false,
            "useBuiltIns": "entry",
            "targets": {
                "node": "current"
            }
        }],
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose" : true }],
        ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    ],
    "env": {
        "test": {
            "presets": [["@babel/preset-env", {
                "useBuiltIns": "entry",
                "targets": {
                    "node": "current"
                }
            }],
                "@babel/preset-react"],
            "plugins": [
                ["@babel/plugin-proposal-decorators", { "legacy": true }],
                ["@babel/plugin-proposal-class-properties", { "loose" : true }],
                ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
                "istanbul"
            ] }
    }
}
