@charset "UTF-8";

/*hover*/

.no-touch {
    .price-arrow {
        span {
            position: absolute;
            top: 4px;
            left: 6px;
            display: block;
            width: 15px;
            height: 15px;
            background-position: -4px -488px;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }
    .chart-line:hover {
        .price-arrow {
            width: 20px;
            height: 23px;

            span {
                opacity: 1;
            }
        }
    }
}
