@charset "UTF-8";

/* Drag Lines and Prices */

$red: #f44336;
$green: #4caf50;

.chart-line {
    position: absolute;
    z-index: 35;

    &.horizontal {
        width: 100%;
        left: 0;
        font-size: 10px;

        &:hover {
            z-index: 105;
        }
        &.draggable > .draggable-area {
            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
            height: 20px;
            top: -8px;
            position: absolute;
            width: 100%;
        }
        .drag-line {
            height: 2px;
            float: left;
            width: 100%;
            margin-left: -10px;
            position: relative;
            border-color: inherit;
            border-top-width: 2px;
        }
    }
}

/*hover*/

.draggable.chart-line:hover {
    &.horizontal {
        cursor: ns-resize;
    }
    &.vertical {
        cursor: ew-resize;
    }
}

/*hover*/

.hide-pricelines > .chart-line.horizontal {
    display: none;
}

.drag-price {
    display: block;
    height: 25px;
    top: -11px;
    position: absolute;
    right: 0px;
    @include border-radius(5px);
    border-style: solid;
    border-width: 1px;
    border-color: inherit;

    .price {
        padding: 1px 12px;
        font-size: 14px;
        width: min-content;
    }
}

/*hover*/

.no-touch {
    .price-arrow {
        span {
            position: absolute;
            top: 4px;
            left: 6px;
            display: block;
            width: 15px;
            height: 15px;
            background-position: -4px -488px;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }
    .chart-line:hover {
        .price-arrow {
            width: 20px;
            height: 23px;

            span {
                opacity: 1;
            }
        }
    }
}

/*hover*/

.price {
    font-weight: 300;
    display: block;
    float: left;
    width: 45px;
    line-height: 23px;
    overflow: hidden;

}

.draggable .price {
    padding: 1px 18px;

    &:after {
        content: '≡';
        font-size: 25px;
        position: absolute;
        right: 1px;
        top: -1px;
        transform: scaleX(0.8);
    }
}

/*--------------------------------------------------*/

/* shade */

.shade.hidden {
    opacity: 0;
}

.shade {
    position: absolute;
    width: 100%;
    right: 0px;
    opacity: 0.3;
    @include transition(opacity 0.1s ease-out);
}

.between-shade {
    opacity: 0.2;
}

@mixin createShadeStyle($style-name, $shade-color) {
    .#{$style-name} {
        .top-shade {
            background-image: linear-gradient(top, transparent 30%, $shade-color); //plugin/no-unsupported-browser-features
        }
        .between-shade {
            background-color: $shade-color;
        }
        .bottom-shade {
            background-image: linear-gradient(to bottom, $shade-color, transparent 70%);
        }
    }
}

@include createShadeStyle('red', $red);
@include createShadeStyle('green', $green);
