@charset "UTF-8";

.barrier-area {
    padding: 13px 0;
    position: absolute;
    width: 100%;
}
/* Drag Lines and Prices */
.chart-line {
    position: absolute;
    z-index: 35;

    &.horizontal {
        width: 100%;
        left: 0;
        font-size: 1em;

        &:hover {
            z-index: 105;
        }
        &.draggable > .draggable-area {
            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
            height: 20px;
            top: -8px;
            position: absolute;
            width: 100%;

            &-wrapper {
                display: flex;
            }
        }
        .drag-line {
            height: 1px;
            float: left;
            width: 100%;
            margin-left: -10px;
            position: relative;
            border-top-width: 1px;
            border-top-color: $color-blue;

            &--zero {
                width: calc(100% - 63px);
            }
        }
        .title-wrapper {
            $title-height: 24px;
            position: absolute;
            height: $title-height;
            background-image: linear-gradient(rgba(255, 255, 255, 0.001) 30%, var(--general-main-1) 50%, rgba(255, 255, 255, 0.001) 75%); /* stylelint-disable-line number-max-precision, plugin/no-unsupported-browser-features */
            top: -11px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            padding: 3px 10px;
            font-weight: bold;

            .title {
                white-space: pre-wrap;
            }
        }
    }
}

/*hover*/

.draggable.chart-line:hover {
    &.horizontal {
        cursor: ns-resize;
    }
    &.vertical {
        cursor: ew-resize;
    }
}

/*hover*/

.hide-pricelines > .chart-line.horizontal,
.hide-pricelines > .barrier-area {
    display: none;
}

.drag-price {
    display: flex;
    height: 24px;
    top: -12px;
    position: absolute;
    right: -1px;
    border: 1px solid inherit;
    background-color: $color-blue;
    justify-content: space-between;

    &-frame {
        display: block;
        height: 24px;
        top: -11px;
        position: absolute;
        right: 0;
    }
    .arrow-icon {
        height: 41px;
        padding: 4px 0px;
        position: absolute;
        transition: none;
        left: 2px;
        background: var(--general-main-1);
        width: calc(100% - 2px);
    }
}

/*hover*/

.no-touch {
    .price-arrow {
        span {
            position: absolute;
            top: 4px;
            left: 6px;
            display: block;
            width: 15px;
            height: 15px;
            background-position: -4px -488px;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }
    .chart-line:hover {
        .price-arrow {
            width: 20px;
            height: 23px;

            span {
                opacity: 1;
            }
        }
    }
}

/*hover*/

.price {
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 3px 1px;
    line-height: 18px;
    text-align: center;
    position: relative;
    right: 45px;
    overflow: unset;
    width: max-content;

    &--zero {
        color: $color-blue;
        @include themify($themes) {
            background-color: themed('DefaultBg');
        }
    }
    &-overlay {
        position: relative;
        top: -12px;
        right: -10px;
        background-color: $color-blue;
        opacity: 0.3;
        height: 24px;
    }
}

.draggable {
    .price {
        position: relative;
        right: 55px;
        overflow: unset;
    }
    .drag-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3px;

        div {
            width: 8px;
            height: 1px;
            background-color: $color-white;
            margin: 1px;
        }
    }
}

/*--------------------------------------------------*/

/* shade */

.shade.hidden {
    opacity: 0;
}

.shade {
    position: absolute;
    width: 100%;
    top: -120px;
    left: 0;
    right: 0;
    height: 120px !important;
    opacity: 0.3;
    transition: opacity 0.1s ease-out;
}

/* css gradients are only partially supported in Safari, but will work here since colors are not premultiplied */
.top-shade {
    background-image: linear-gradient(to bottom, transparent, var(--shade-color)); /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.between-shade {
    opacity: 0.2;
    background-color: var(--shade-color);
}

.bottom-shade {
    background-image: linear-gradient(to bottom, var(--shade-color), transparent); /* stylelint-disable-line plugin/no-unsupported-browser-features */
}
