@charset "UTF-8";

/* Drag Lines and Prices */

$red: #f44336;
$green: #4caf50;


.chart-line {
    position: absolute;
    z-index: 35;
    &.horizontal {
        width: 100%;
        left: 0;
        font-size: 10px;
        &.draggable > .draggable-area {
            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
            height: 20px;
            top: -8px;
            position: absolute;
            width: 100%;
        }
        .drag-line {
            height: 2px;
            float: left;
            width: 100%;
            margin-left: -10px;
            position: relative;
            border-top: 2px dashed;
        }
    }

    &.vertical {
        height: 100%;
        top: 0px;

        .drag-line {
            border-image: linear-gradient(to top, black 80%, transparent) 1 100%;
            height: 100%;
            width: 10px;
            border-left: 2px dashed;
            left: 200px;
            margin-left: 10px;
        }
    }
}

/*hover*/

.draggable.chart-line:hover {
    &.horizontal { cursor: ns-resize; }
    &.vertical   { cursor: ew-resize; }
}

/*hover*/

.draggable.horizontal.chart-line:hover .drag-line {
    border-top-style: solid;
}

.hide-pricelines > .chart-line.horizontal {
    display: none;
}

.drag-price {
    display: block;
    height: 25px;
    top: -11px;
    position: absolute;
    right: 0px;
    @include border-radius(5px);
    @include themify($themes) {
        background-color: themed('defaultMain');
        border: 1px solid themed('defaultTextStrong');
    }
    .price {
        padding-left: 12px;
        padding-top: 1px;
        padding-right: 12px;
        font-size: 14px;
        width: min-content;
    }
}

.red {
    .drag-price {
        border-color: $red;
    }

    .price {
        color: $red;
    }

    .drag-line {
        color: $red;
    }
}

.green {
    .drag-price {
        border-color: $green;
    }

    .price {
        color: $green;
    }

    .drag-line {
        color: $green;
    }
}

/*hover*/

.no-touch {
    .price-arrow {
        span {
            position: absolute;
            top: 4px;
            left: 6px;
            display: block;
            width: 15px;
            height: 15px;
            background-position: -4px -488px;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }
    .chart-line:hover {
        .price-arrow {
            width: 20px;
            height: 23px;
            span {
                opacity: 1;
            }
        }
    }
}



/*hover*/


.price {
    display: block;
    float: left;
    width: 45px;
    line-height: 23px;
    overflow: hidden;
    @include themify($themes) {
        color: themed('defaultTextStrong');
    }
}


/*--------------------------------------------------*/


/* shade */

.shade {
    position: absolute;
    width: 100%;
    right: 0px;
    opacity: 0.3;
}

.between-shade {
    opacity: 0.2;
}

@mixin createShadeStyle($style-name, $shade-color) {
    .#{$style-name} {
        .top-shade     { background-image: linear-gradient(to bottom, transparent 30%, $shade-color); }
        .between-shade { background-color: $shade-color; }
        .bottom-shade  { background-image: linear-gradient(to bottom, $shade-color, transparent 70%) }
    }
}

@include createShadeStyle('red', $red);
@include createShadeStyle('green', $green);

$trade-end-color: #e98024;
$trade-start-color: #a2a2a2;
$trade-text-distance: 1.6em;

/* Trade Start and End */
.chart-line.vertical {
    .trade-text {
        top: 1em;
        position: absolute;
        font-size: 0.9em;
    }

    &.trade-start-line {
        .drag-line {
            border-image: linear-gradient(to top, $trade-start-color 80%, transparent) 1 100%;
        }

        .trade-text {
            text-align: right;
            right: $trade-text-distance;
            color: $trade-start-color;
        }
    }

    &.trade-end-line {
        .drag-line {
            border-image: linear-gradient(to top, $trade-end-color 80%, transparent) 1 100%;
        }

        .trade-text {
            text-align: left;
            left: $trade-text-distance;
            color: $trade-end-color;
        }

        .trade-end-flag {
            bottom: 1.9em;
            position: absolute;

            .ic-flag {
                $icon-diameter: 1.9em;
                background: url('icons/chart/ic-flag.svg') no-repeat;
                height: $icon-diameter;
                width: $icon-diameter;
                position: inherit;
                left: -0.07em;
                top: 0.07em;
            }

            .circle {
                $circle-diameter: 1.9em;
                @include border-radius(100%);
                width: $circle-diameter;
                height: $circle-diameter;
                background-color: $trade-end-color;
                position: inherit;
            }
        }
    }
}
