
.cq-categorical-display {
    width: 512px;
    padding: 0 !important;
    display: flex;
    height: 100%;
    text-align: left;
    overflow: hidden;
    border-radius: 4px;
    @include themify($themes) {
        color: themed('CatDisplayText');
        background: themed('CatDisplayBg');
        box-shadow: 0 2px 8px 0 themed('CatDisplayShadow');
    }

    .cq-lookup-filters {
        width: 200px;
        @include themify($themes) {
            background: themed('CatDisplayFilterBg');
        }
    }
    .cq-filter-panel {
        @include themify($themes) {
            background: themed('CatDisplayFilterBg');
        }
    }
    .cq-lookup-input {
        margin: 16px 8px;
        position: relative;

        &:hover {
            input {
                @include themify($themes) {
                    border-color: themed('CatDisplayHoverSearchBorder');
                }
            }
            > .ic-icon {
                svg {
                    @include themify($themes) {
                        fill: themed('CatDisplayHoverSearchIcon');
                        stroke: themed('CatDisplayHoverSearchIcon');
                    }
                }
            }
        }
        &:focus {
            input {
                @include themify($themes) {
                    color: themed('CatDisplayActiveSearchText');
                    border-color: themed('CatDisplayActiveSearchBorder');
                }
            }
            > .ic-icon {
                svg {
                    @include themify($themes) {
                        fill: themed('CatDisplayActiveSearchIcon');
                        stroke: themed('CatDisplayActiveSearchIcon');
                    }
                }
            }
            > .icon-reset {
                opacity: 1;
            }
        }
        &.active {
            input {
                @include themify($themes) {
                    color: themed('CatDisplayActiveSearchText');
                    border-color: themed('CatDisplayHoverSearchBorder');
                }
            }
            > .ic-icon {
                svg {
                    @include themify($themes) {
                        fill: themed('CatDisplayHoverSearchIcon');
                        stroke: themed('CatDisplayHoverSearchIcon');
                    }
                }
            }
            > .icon-reset {
                opacity: 1;
            }
        }
        > input {
            padding-left: 34px;
            line-height: 2em;
            font-size: 1.4em;
            border: none;
            outline: 0;
            background-color: transparent;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
            @include themify($themes) {
                background: themed('CatDisplaySearchBg');
                border: 1px solid themed('CatDisplaySearchBorder');
                color: themed('CatDisplaySearchText');
            }
            @include placeholder {
                @include themify($themes) {
                    color: themed('CatDisplaySearchText');
                }
            }

            &:focus {
                @include themify($themes) {
                    border-color: themed('CatDisplayActiveSearchBorder');
                    color: themed('CatDisplayActiveSearchText');
                }

                & + .ic-icon {
                    svg {
                        @include themify($themes) {
                            fill: themed('CatDisplayActiveSearchIcon');
                            stroke: themed('CatDisplayActiveSearchIcon');
                        }
                    }
                }
            }

        }
        > .ic-icon {
            position: absolute;
            top: 6px;
            left: 4px;

            svg {
                @include themify($themes) {
                    fill: themed('CatDisplaySearchIcon');
                    stroke: themed('CatDisplaySearchIcon');
                }
            }
        }
        > .icon-reset {
            position: absolute;
            opacity: 0;
            left: auto;
            height: 20px;
            width: 20px;
            line-height: 28px;
            font-size: 0.9em;
            right: 8px;
            top: 7px;
            border-radius: 50%;
            cursor: pointer;
            transition: right, opacity 0.2s ease-in-out;

            svg {
                stroke: transparent !important;
                @include themify($themes) {
                    fill: themed('CatDisplayActiveSearchIconClose');
                }
            }
        }
    }
    .category {
        padding-top: 3em;
        padding-bottom: 12px;
        position: relative;
        @include themify($themes) {
            border-bottom: 4px solid themed('CatDisplayFilterBg');
        }

        &:last-child {
            padding-bottom: 2.5em;
        }
        &.category-has-subtitle {
            padding-top: 6.5em;
        }
    }
    .category-content {
        margin: 0 16px 4px;
        border-radius: 4px;
        @include themify($themes) {
            border: 1px solid themed('CatDisplayCatContentBorder');
        }

        &.has-subcategory {
            > div:nth-child(2) {
                border-radius: 4px 4px 0 0;
            }
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .subcategory {
        padding: 0;
        font-size: 1.4em;
        border-radius: 4px 4px 0 0;
        display: flex;
        height: 40px;
        font-weight: normal;
        align-items: center;
        @include themify($themes) {
            color: themed('CatDisplayCatContentTitleText');
            background-color: themed('CatDisplayCatContentBg');
        }
    }
    .category-title {
        display: block;
        font-size: 1.4em;
        font-weight: bold;
        padding: 0 16px;
        line-height: 40px;
        position: absolute;
        top: 0;
        width: 100%;
        transform: translate3d(0, 0, 0);
        @include themify($themes) {
            color: themed('CatDisplayCatTitleText');
        }

        &.sticky-top,
        &.sticky-bottom {
            z-index: 8;
            padding-top: 0px;
            height: 40px;
            @include themify($themes) {
                background-color: themed('CatDisplayBg');
                border-bottom: 1px solid themed('CatDisplayCatContentBorder');
            }

            &.has-subtitle {
                height: 60px;
            }
        }
        &.sticky-bottom {
            position: absolute;
            top: auto !important;
            bottom: 0px !important;
        }
        &.sticky-top {
            position: fixed;
            top: 0px;
            z-index: 9;
        }
        .category-name-postfix {
            margin-left: 5px;
        }
        .category-subtitle {
            font-weight: normal;
            line-height: normal;
            @include themify($themes) {
                color: themed('CatDisplayCatSubTitleText');
            }
        }
    }
    .cq-filter {
        padding-left: 1.6em;
        line-height: 2.9em;
        text-align: left;
        cursor: pointer;
        box-sizing: border-box;
        font-size: 1.4em;
        @include themify($themes) {
            border-left: 4px solid themed('CatDisplayFilterBorder');
        }

        &:hover {
            @include themify($themes) {
                border-left-color: themed('CatDisplayHoverFilterBg');
                background-color: themed('CatDisplayHoverFilterBg');
            }
        }
        &.cq-active-filter {
            font-weight: 800;
            @include themify($themes) {
                color: themed('CatDisplayActiveFilterText');
                background-color: themed('CatDisplayActiveFilterBg');
                border-left-color: themed('CatDisplayActiveFilterBorder');
            }

            .ic-icon {
                svg {
                    @include themify($themes) {
                        fill: themed('CatDisplayActiveFilterIcon');
                        stroke: themed('CatDisplayActiveFilterIcon');
                    }
                }
            }
        }
        .ic-icon {
            display: inline-flex;
            vertical-align: middle;
            width: $small-icon-size;
            height: $small-icon-size;
            margin-bottom: 2px;
            margin-right: 1.3em;
        }
    }
    .cq-item,
    .cq-active-item {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        line-height: initial;
        font-size: 1.4em;
        @include themify($themes) {
            border-bottom: 1px solid themed('CatDisplayBg');
            background-color: themed('CatDisplayCatContentBg');
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom: none;
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 4px;
        }
        .left, .right {
            display: flex;
            align-items: center;
        }
        .right {
            .ic-icon {
                svg {
                    @include themify($themes) {
                        fill: themed('CatDisplayCatContentIcon');
                        stroke: themed('CatDisplayCatContentIcon');
                    }
                }
            }
        }
        .closed-market {
            border: 1px solid #f44336;
            color: #f44336;
            padding: 3px 6px;
            font-size: 0.64em;
            border-radius: 4px;
        }
        &:hover {
            @include themify($themes) {
                color: themed('CatDisplayCatHoverContentText');
                background: themed('CatDisplayCatHoverContentBg');
            }

            .right {
                .ic-icon {
                    svg {
                        @include themify($themes) {
                            fill: themed('CatDisplayCatHoverContentIcon');
                            stroke: themed('CatDisplayCatHoverContentIcon');
                        }
                    }
                }
            }
        }
        &.selected {
            @include themify($themes) {
                color: themed('CatDisplayCatActiveContentText');
                background: themed('CatDisplayCatActiveContentBg');
            }

            .ciq-item-display {
                font-weight: bold;
            }
            .right {
                .ic-icon {
                    svg {
                        @include themify($themes) {
                            fill: themed('CatDisplayCatActiveContentIcon');
                            stroke: themed('CatDisplayCatActiveContentIcon');
                        }
                    }
                }
            }
        }
    }
    .cq-active-item {
        @include themify($themes) {
            color: themed('CatDisplayActiveText');
        }

        &:hover {
            @include themify($themes) {
                color: themed('CatDisplayActiveText');
            }
        }
    }
    .cq-item {
        cursor: pointer;
    }
    .cq-item[disabled] {
        cursor: default;

        &:not(.selected) {
            @include themify($themes) {
                color: themed('CatDisplayCatContentDisabled');
            }
        }
        &.selected {
            background-color: #f2f3f8;
        }
    }
    .cq-scroll-panel {
        position: relative;
        min-height: 320px;

        > div:nth-child(3) {
            z-index: 9;

            > div {
                opacity: 0.16;
                @include themify($themes) {
                    background-color: themed('ListScroll') !important;
                }
            }
        }
    }
    .ciq-item-display {
        display: inline-block;
        vertical-align: top;
    }
    .empty-category {
        padding: 0.9em 1.2em;
        border-radius: 4px;
        font-size: 14px;
        @include themify($themes) {
            background-color: themed('CatDisplayCatContentBg');
        }
    }
}

/* Active Symbol Icons */
.cq-categorical-display .results-panel {
    .cq-active-options {
        float: right;
        display: inline-flex;

        > span, .ic-icon {
            height: $normal-icon-size;
            width: $normal-icon-size;
        }
        .ic-delete, .ic-edit {
            cursor: pointer;
        }
        .ic-cmp-color > span {
            display: inline-block;
            width: 13px;
            height: 2px;
            vertical-align: bottom;
            left: 6px;
            position: relative;
            border-radius: 15px;
        }
    }
    .ciq-favorite {
        float: right;

        > .ic-icon {
            margin-right: 0;
            width: $normal-icon-size;
            height: $normal-icon-size;
        }
    }
    .left {
        > .ic-icon, > .ic-frx {
            height: $large-icon-size;
            width: $large-icon-size;
        }
        > .ic-icon {
            display: inline-block;

            > svg {
                vertical-align: sub;
            }
        }
        > .ciq-item-display {
            margin-left: 15px;
        }
    }
}

.smartcharts-mobile {
    .cq-categorical-display {
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-shadow: none;

        .cq-lookup-filters {
            width: 100%;
            border-right: none;
            position: relative;
            z-index: 9;
            transition: max-height 0.2s ease-in;
            margin-bottom: -2px;
            @include themify($themes) {
                border-bottom: 1px solid themed('CatDisplaySearchBorder');
            }
        }
        .cq-lookup-input {
            margin: 16px 8px;
        }
        .cq-scroll-panel {
            .category:last-child {
                padding-bottom: 3em;
            }
        }
        .cq-item, .cq-active-item {
            height: 40px;
        }
        .cq-filter-panel {
            display: none;
        }
        .results-panel {
            .category {
                padding: 0px;
                max-height: 40px;
                overflow-y: hidden;
                border-bottom: none;
                transition: max-height 0.5s ease-in-out;

                .category-title {
                    display: flex;
                    justify-content: space-between;
                    box-sizing: border-box;
                    align-items: center;
                    position: relative;
                    padding-left: 28px;
                    padding-right: 24px;
                    cursor: pointer;

                    &.sticky-top {
                        position: relative;
                        top: 0px !important;
                    }
                    .category-title-left {
                        display: flex;
                        align-items: center;

                        .ic-icon {
                            margin-right: 16px;
                        }
                    }
                    > .ic-icon {
                        transition: transform 0.3s ease-in-out;
                    }
                }
                .cq-item {
                    padding-left: 0px;
                    padding-right: 7px;
                }
                &:last-child {
                    padding-bottom: 0px;
                }
                &.active {
                    max-height: 1500px;

                    .category-title {
                        > .ic-icon {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}
