
.cq-categorical-display {
    width: 632px;
    padding: 0 !important;
    display: flex;
    text-align: left;
    overflow: hidden;
    @include themify($themes) {
        color: themed('defaultTextMedium');
        border-top: 1px solid themed('defaultBorder');
    }
    @include transition(opacity 1s);
    @include border-radius();
    @include box-shadow (0px, 2px, 4px, rgba(0, 0, 0, .2));
    .cq-lookup-filters {
        width: 34%;
        @include themify($themes) {
            border-right: 1px solid themed('defaultBorder');
        }
    }
    .cq-lookup-input  {
        margin: 1.5em 1.1em 1.6em 1.3em;
        position: relative;
        @include border-radius();
        @include themify($themes) {
            color: themed('controlText');
            border: 1px solid themed('defaultBorder');
            background-color: themed('defaultMain');
        }
        &.active{
            @include themify($themes) {
                border-color: themed('activeColor');
                @include box-shadow (0px, 0, 2px, themed('activeColor'));
            }
            > .icon-reset{
                right: 4px;
                opacity: 1;
            }
        }
        > input {
            padding-left: 34px;
            line-height: 2.6em;
            font-size: 1em;
            border: none;
            outline: 0;
            width: calc(100% - 40px);
            background-color: transparent;
            @include border-radius();
            @include placeholder {
                @include themify($themes) {
                    opacity: 0.8;
                    color: themed('defaultTextSubtle');
                }
            }
            @include themify($themes) {
                color: themed('controlText');
            }
        }
        > .ic-icon {
            position: absolute;
            top: 5px;
            left: 5px;
        }
        > .icon-reset{
            position: absolute;
            right: 0px;
            opacity: 0;
            left: auto;
            height: 18px;
            width: 18px;
            line-height: 26px;
            font-size: 9px;
            top: 7px;
            @include border-radius(50%);
            @include transition(right,opacity 0.2s ease-in-out);
            @include svg-icon-color('defaultMain');
            @include themify($themes) {
                background: themed('defaultTextSubtle');
            }
            > svg {
                width: 14px !important;
                height: 14px !important;
            }
        }
        > input:focus + .ic-icon svg path {
            @include themify($themes) {
                fill: themed('activeColor');
            }
        }
    }
    .category {
        padding-top: 2em;
        &:last-child {
            padding-bottom: 2.5em;
        }
    }
    .category-content {
        margin: 0.4em 1em 0em 1em;
        @include themify($themes) {
            background-color: themed('defaultMain');
            border: 1px solid themed('defaultBorder');
        }
        @include border-radius();
    }
    .subcategory {
        font-weight: 500;
        padding: 0.5em 0 0.5em 1.2em;
        font-size: 1.1em;
        @include themify($themes) {
            color: themed('defaultTextStrong');
        }
    }
    .category-title {
        display: block;
        font-size: 1.4em;
        font-weight: 500;
        padding: 0.1em 0.7em;
    }
    .cq-filter {
        padding-left: 1.6em;
        line-height: 3.4em;
        text-align: left;
        cursor: pointer;
        @include transition(background-color 0.3s);
        @include box-sizing(border-box);
        &.cq-hover-style:hover,
        &.cq-active-filter {
            @include themify($themes) {
                color: themed('defaultTextActive');
            }
            .ic-icon {
                &.ic-active,
                &.ic-forex,
                &.ic-commodities,
                &.ic-volidx,
                &.ic-favorite {
                    svg > g > circle {
                        @include themify($themes) {
                            fill: themed('activeColor');
                        }
                    }
                }
                &.ic-indicators > svg > g circle {
                    @include themify($themes) {
                        fill: themed('activeColor');
                    }
                }
                &.ic-stocks > svg > path:first-child {
                    @include themify($themes) {
                        fill: themed('activeColor');
                    }
                }
                &.ic-indices {
                    svg > g > g {
                        > path   {
                            @include themify($themes) {
                                fill: themed('activeColor');
                            }
                        }
                        > g > circle {
                            @include themify($themes) {
                                fill: themed('strokeColor');
                            }
                        }
                    }
                }
            }
        }
        &.cq-active-filter {
            font-weight: 800;
            border-right: 2px solid;
            @include themify($themes) {
                border-color: themed('activeColor') !important;
                background-color: themed('listBgActive');
            }
        }
        .ic-icon {
            display: inline-flex;
            vertical-align: middle;
            width: $small-icon-size;
            height: $small-icon-size;
            margin-bottom: 2px;
            margin-right: 1.3em;
        }
        .cq-filter-text{
        }
    }
    .cq-item, .cq-active-item {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        line-height: initial;
        @include themify($themes) {
            border-bottom: 1px solid themed('defaultBorder');
        }
        &:last-child{
            border-bottom: none;
        }
        .left, .right {
            display: flex;
            align-items: center;
        }
        .closed-market{
            border: 1px solid #f44336;
            color: #f44336;
            padding: 2px 6px;
            object-fit: contain;
            font-size: 0.64em;
            @include border-radius();
        }
    }
    .cq-item {
        cursor: pointer;
     }
    .cq-item[disabled] {
        cursor: default;
        &:not(.selected) {
            color: #c5c5c5 !important;
        }
        &.selected {
            background-color: #f2f3f8;
        }
    }
    .cq-scroll-panel {
        position: relative;
        height: calc(67vh - 8em);
        width: 66%;
    }
    .ciq-item-display {
        display: inline-block;
        vertical-align: top;
    }
    .empty-category {
        padding: 0.9em 1.2em;
    }
    .cq-categorical-footer{
        width: 100%;
        height: 4em;
        display: none;
        @include themify($themes) {
            border-top: 1px solid themed('defaultBorder');
        }
        .btn-categorical-display-close{
            border: none;
            background: transparent;
            font-weight: bold;
            padding: 1.3em 1em;
            width: 100%;
            cursor: pointer;
            @include themify($themes) {
                color: themed('activeColor');
                @include box-shadow(0,0,0,themed('defaultMain'));
            }
        }
    }
    .cq-mobile-title{
        padding-top: 0.9em !important;
        border-bottom: none !important;
    }
}

.stxMenuActive .cq-categorical-display {
    opacity: 1;
    height: 100%;
}

/* Active Symbol Icons */
.cq-categorical-display .results-panel {
    /* Active Options */
    .cq-active-options {
        float: right;
        display: inline-flex;
        > span, .ic-icon {
            height:$normal-icon-size;
            width: $normal-icon-size;
        }

        .ic-delete, .ic-edit {
            cursor: pointer;
        }
        .ic-cmp-color > span {
            display: inline-block;
            width: 13px;
            height: 2px;
            vertical-align: bottom;
            left: 6px;
            position: relative;
            @include border-radius(15px);
        }
    }
    .ciq-favorite {
        float: right;
        > .ic-icon {
            margin-right: 0;
            width: $normal-icon-size;
            height: $normal-icon-size;
        }
    }

    .left {
        > .ic-icon, > .ic-frx {
            height: $large-icon-size;
            width: $large-icon-size;
        }
        > .ic-icon {
            display: inline-block;
            > svg {
                vertical-align: sub;
            }
        }
        > .ciq-item-display {
            margin-left: 15px;
        }
    }
}

.smartcharts-mobile{
    .cq-categorical-display{
        flex-direction: column;
        width: 100%;
        display: inline;
        .cq-lookup-filters {
            width: 100%;
            border-right: none;
            height: auto;
            max-height: 200px;
            overflow: hidden;
            @include transition(max-height .2s ease-in);
            @include themify($themes) {
                border-bottom: 1px solid themed('defaultBorder');
            }
        }
        &.hide-lookup-filters {
            .cq-lookup-filters {
                max-height: 0;
                @include transition(max-height .2s ease-out);
            }
            .cq-scroll-panel .category:last-child {	
                padding-bottom :5em;
            }
        }
        .cq-lookup-input  {
            margin: 1.2em 1em 0.5em 1em;
            position: relative;
            @include border-radius();
            @include themify($themes) {
                border: 1px solid themed('defaultBorder');
            }
        }
        .cq-scroll-panel{
            height: 100%;
            width: 100%;
            .category:last-child{	
                padding-bottom :13em;
            }
        }
        .cq-item, .cq-active-item {
            height: 40px;
        }
        .cq-filter-panel{
            display: flex;
            justify-content: space-around;
            .cq-filter {
                border-right: none;
                background: transparent;
                padding: 0px 20px;
                line-height: 3em;
                &.cq-active-filter {
                    border-bottom: 2px solid;
                }
                > .ic-icon{
                    margin: 0px;
                }
                .cq-filter-text{
                    display: none;
                }
            }
        }
    }
}
