
.cq-chart-controls {
    position: absolute;
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    z-index: 9;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 2px;
    transition: z-index 0.3s linear;
    @include themify($themes) {
        background: themed('MenuBg');
        box-shadow: inset 0 1px 0 0 themed('ChartControlBoxBorder');
    }

    &.active {
        z-index: 5;
    }
    .ciq-menu {
        width: auto;

        > span {
            margin: 0;
            padding: 0;
        }
        &:after {
            right: 5px;
            top: 11px;
            transform: rotate(225deg); /* 180 + 45 */
            display: none;
        }
        &.ciq-enabled {
            &.stxMenuActive {
                @include themify($themes) {
                    box-shadow: 0px -2px 0px 0 themed('MenuActiveBorder');
                }

                .cq-menu-btn {
                    @include themify($themes) {
                        background: themed('MenuActiveBg');
                    }

                    > .ic-icon,
                    > .cq-toggle {
                        @include themify($themes) {
                            color: themed('MenuActiveText');
                        }

                        .ic-subtitle {
                            display: none;
                            font-weight: bold;
                            @include themify($themes) {
                                color: themed('MenuActiveText');
                            }
                        }
                    }
                }
            }
            .cq-menu-btn {
                &:hover {
                    @include themify($themes) {
                        background: themed('MenuHoverBg');
                    }
                }
            }
        }
        .cq-menu-btn {
            position: relative;
            padding: 3px 5px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            > .ic-icon {
                padding: 0.35em 0.5em;
            }
            > .ic-icon,
            > .cq-toggle {
                &.active {
                    .ic-subtitle {
                        font-weight: bold;
                        @include themify($themes) {
                            color: themed('MenuActiveText');
                        }
                    }
                }
                .ic-subtitle {
                    display: none;
                    font-weight: normal;
                    line-height: normal;
                    text-align: center;
                    font-size: 1em;
                    @include themify($themes) {
                        color: themed('MenuText');
                    }
                }
            }
        }
        .notification-badge {
            background: #e9e9e9;
            color: $COLOR_DARK_BLUE_5;
            border-radius: 100px;
            font-size: 1em;
            position: absolute;
            top: 1px;
            line-height: 18px;
            left: 55px;
            width: 16px;
            height: 16px;
            font-family: $base-font;
            font-weight: bold;
            text-align: center;
            z-index: 1;

            &.x2 {
                width: 24px;
            }
        }
    }
    .ciq-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        box-sizing: border-box;
    }
    .cq-toggle {
        cursor: pointer;
        color: #575757;
    }
}

/* Menu dropdown open/close animation */
.cq-chart-controls .ciq-menu .cq-menu-dropdown {
    .cq-chart-control-bottom & {
        transform: translateX(-50%) translateY(3em);
        left: 50%;

        &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active {
            transform: translateX(-50%) translateY(0em);
        }
    }
    .cq-chart-control-left & {
        bottom: auto;
        left: 9em;
        top: -1em;
        transform: translateX(-3em);

        &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active {
            transform: translateX(0em);
        }
    }
    &.cq-menu-dropdown-exit-active {
        opacity: 0;
        z-index: -3;
    }
    &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active {
        opacity: 1;
        z-index: 6;
    }
}

.cq-chart-control-bottom .cq-chart-controls {
    bottom: 0px;
    height: 40px;
    width: 100%;
    padding: 0 5px;
}

.cq-chart-control-left .cq-chart-controls {
    left: 0px;
    top: 0;
    height: 100%;
    width: 100px;
    padding: 5px 0;
    flex-flow: column;

    .ciq-menu {
        min-height: 45px;
        height: auto;

        .stxMenuActive {
            @include themify($themes) {
                box-shadow: 2px 0.3px 0px 0 themed('MenuActiveBorder');
            }
        }
        .cq-menu-btn {
            padding: 0 5px;
        }
    }
}

/* Mobile Style */
.smartcharts-mobile {
    .cq-chart-controls {
        justify-content: space-around;
        padding: 0 0.7em;
        height: 40px;
        @include themify($themes) {
            box-shadow: inset 0 1px 0 0 themed('ChartControlBoxBorder');
        }

        &.active {
            z-index: 5;
        }
        .cq-menu-btn {
            padding: 0;
        }
        .ciq-menu {
            padding: 0em;
            width: auto;

            .cq-menu-btn {
                > .ic-icon {
                    padding: 0.35em 0em;
                }
                > .bt-priod {
                    padding: 0.7em 0.5em !important;
                }
            }
            .cq-menu-dropdown {
                height: auto;
                left: -1px;
                padding: 0;
                border: none;
                box-shadow: none;
            }
            .notification-badge {
                left: 15px;
                top: 0px;
            }
        }
        .bt-priod, .cq-toggle, .cq-menu-btn, .cq-chart-size > span {
            padding: 0 !important;
        }
        .ic-priod {
            padding: 6px 0px !important;
        }
        .ic-icon-with-sub > svg {
            padding: 5px 10px;
        }
    }
}

.smartcharts-480 {
    .smartcharts-desktop {
        .cq-chart-control-bottom {
            .cq-chart-controls {
                .cq-toggle {
                    padding: 0.35em 0.6em;
                }
                .ciq-menu {
                    width: 50px;

                    .cq-menu-btn {
                        // padding: 8px 5px;

                        > .ic-icon {
                            padding: 0.35em 0em;
                        }
                        .ic-subtitle {
                            display: none;
                        }
                    }
                    .notification-badge {
                        left: 28px;
                    }
                }
                .ic-priod {
                    padding: 0 !important;
                }
            }
        }
    }
}

.smartcharts-900 {
    .smartcharts-desktop {
        .cq-chart-control-bottom {
            .cq-chart-controls {
                .ciq-menu {
                    width: auto;
                    min-width: 45px;

                    .cq-menu-btn {
                        > .ic-icon {
                            padding: 0.35em 0em;
                        }
                        .ic-subtitle {
                            display: none;
                        }
                    }
                    .notification-badge {
                        left: 30px;
                    }
                }
            }
        }
    }
}

.smartcharts-1280 {
    .smartcharts-desktop {
        .cq-chart-controls {
            .ciq-menu {
                width: auto;
                min-width: 70px;

                .cq-menu-btn {
                    > .ic-icon {
                        padding: 0.35em 0.5em;
                    }
                    .ic-subtitle {
                        display: none;
                    }
                }
                .notification-badge {
                    left: 55px;
                }
            }
        }
    }
}
