.ciq-chart-types {
    .cq-menu-dropdown {
        width: 200px;
        @include box-sizing(border-box);

        .title {
            display: flex;
            align-items: center;
            cursor: pointer;

            height: 40px;
            line-height: 40px;
            padding-left: 16px;
            font-size: 16px;
            justify-content: space-between;
            @include themify($themes) {
                color: themed('ChartTypeText');
            }
        }
        .body {
            padding: 0px 5px 0px 16px;
        }
    }
    .ciq-list {
        .ciq-list-item {
            &.active {
                @include themify($themes) {
                    border-right: 2px solid themed('ChartTypeActiveListBorderRight');
                }

                > .left {
                    .ic-icon {
                        path,
                        circle,
                        rect {
                            @include themify($themes) {
                                fill: themed('ChartTypeActiveListIcon');
                            }
                        }
                    }
                }
            }
            padding: 0;
            justify-content: space-between;

            > .left {
                display: inline-flex;
                align-items: center;

                .ic-icon {
                    path,
                    circle,
                    rect {
                        @include themify($themes) {
                            fill: themed('ChartTypeListIcon');
                        }
                    }
                }
            }
            > .ciq-aggregate-setting {
                margin-right: 5px;

                > .ic-icon {
                    > svg > path {
                        @include themify($themes) {
                            fill: themed('ChartTypeListIcon');
                        }
                    }
                    &:hover > svg > path {
                        @include themify($themes) {
                            fill: themed('ChartTypeActiveListIcon');
                        }
                    }
                }
            }
        }
    }
}

.smartcharts-mobile {
    .ciq-chart-types {
        .ciq-toggle-asset-information {
            margin: 15px 15px 0;
        }
        .ciq-list {
            margin: 0 15px;
        }
    }
}
