#chartSize {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;

    &:after {
        display: none;
    }
    #zoomOut, #zoomIn {
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;
        flex-grow: 1;
        height: 100%;
        opacity: 1;
    }
    #zoomOut {
        background: url('../icons/minus/ic-minus-light.svg');
    }
    #zoomIn {
        background: url('../icons/add/ic-add-light.svg');
    }
    .interval-title {
        white-space: nowrap;
        width: auto;
        line-height: 25px;
        display: none; /* TODO */
    }
}
