.ciq-chart-types {
	.ciq-toggle-asset-information {
		font-size: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		top: -5px;
		@include themify($themes) {color: themed('defaulTextStrong');}
	}
	.cq-menu-dropdown {
		width: 200px;
		padding: 16px;
		@include box-sizing(border-box);
	}
	.ciq-title {
		display: flex;
		align-items: center;
		cursor: pointer;
		.ciq-icon {
			background-position: 50% 50%;
			background-repeat: no-repeat;
		} 
	}
	.ciq-list {
		.ciq-list-item {
			padding: 0;
		}
	}
}
.smartcharts-mobile{
	.ciq-chart-types {
		.ciq-toggle-asset-information{
			margin: 15px 15px 0 ;
		}
		.ciq-list {
			margin: 0px 15px;
		}
	}
}