
.cq-chart-controls {
    position: absolute;
    display: flex !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    z-index: 2;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center;
    align-items: center;

    @include themify($themes) {
        background: themed('defaultMain');
    }
    @include border-radius(2px);
    @include box-sizing(border-box);
    .ciq-menu {
        width: 100px;
        line-height: 2.1em;
        > span {
            margin: 0;
            padding: 0;
        }
        &:after {
            right: 5px;
            top: 11px;
            transform: rotate(225deg); /* 180 + 45 */
            display: none;
        }
        .cq-menu-dropdown {
            height: auto;
        }
    }
    .ciq-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        @include box-sizing(border-box);
    }
    .cq-toggle {
        padding: 0.35em 2.6em;
        color: #575757;
    }
    .ciq-menu{
        cq-menu-dropdown,
        .cq-menu-dropdown {
            transform: translateX( -50% ) translateY( 3em );
            left: 50%;
            &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active{
                opacity: 1;
                z-index: 6;
                transform: translateX( -50% ) translateY( 0em );
            }
            &.cq-menu-dropdown-exit-active{
                opacity: 0;
                z-index: -3;
            }
        }
    }
}

.cq-chart-control-bottom{
    .cq-chart-controls {
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 100%;
        padding: 0 5px;
        @include themify($themes) {
            border-top: 1px solid themed('defaultBorder');
        }
    }
}
.cq-chart-control-left{
    .cq-chart-controls {
        left: 0px;
        bottom: 50%;
        transform: translateY(50%);
        height: 100%;
        width: 100px;
        padding: 5px 0;
        flex-flow: column;
        @include themify($themes) {
            border-right: 1px solid themed('defaultBorder');
        }
        .ciq-menu{
            height: 60px;
            cq-menu-dropdown,
            .cq-menu-dropdown {
                opacity: 0;
                z-index: -3;
                transform: translateX(.5em) translateY(0) !important;
                left: 50%;
                bottom: auto;
                top: -1em;
                pointer-events: none;
                @include box-shadow (0px, 0, 4px, rgba(0, 0, 0, .2));
                @include transition( opacity .20s 0s);
                @include dialog-transition();
                &.cq-menu-dropdown-enter-done,
                &.open{ // class open should be removed after `dialog-animation` merged
                    pointer-events: initial;
                    opacity: 1;
                    z-index: 6;
                    transform: translateX(4.5em) translateY(0) !important;
                }
                &.cq-menu-dropdown-exit.cq-menu-dropdown-exit-active,
                &.cq-menu-dropdown-exit-done{
                    @include dialog-transition();
                    opacity: 0;
                    z-index: -3;
                    display: none;
                    transform: translateX(.5em) translateY(0) !important;
                }
            }
        }
    }
}




.cq-comparison-new > .cq-menu-dropdown {
    left: -13em;
}

.ciq-studies > .cq-menu-dropdown {
    left: -9.8em;
}

/* Mobile Style */
.smartcharts-mobile{
    .cq-chart-controls {
        left: 0px !important;
        transform: translateX(-0%) !important;
        box-shadow: none;
        justify-content: space-around;
        padding: 0 0.7em;
        height: 40px;
        @include themify($themes) {
            border-top: 1px solid themed('defaultBorder');
        }
        &.active{
            z-index: 5;
        }
        .cq-menu-btn {
            padding: 0;
        }
        .ciq-menu {
            padding: 0em;
            width: auto;
            .cq-menu-btn{
                > .ic-icon{
                    padding: .35em 0em;
                }
                > .bt-priod{
                    padding: .7em .5em !important;
                }
            }
            .cq-menu-overlay{
                background: rgba(0,0,0,.3);
                width: 100%;
                position: absolute;
                height: calc( 100vh - 32px );
                top: calc( -100vh + 31px );
                left: 0;
                padding: 0em;
                opacity: 0;
                visibility: hidden;
                @include transition(opacity 150 ease-out);
            }
            .cq-menu-dropdown {
                height: auto;
                left: -1px;
                width: calc( 100% + 2px );
                padding: 0;
                border: none;
                box-shadow: none;
                border-radius: 0px !important;
                bottom: 0em;
                transform: translateY(150%);
                z-index: 4 !important;
                @include transition(none !important);
                &.open{
                    transform: translateY(0);
                    margin: 0px;
                    bottom: 0em;
                }
            }
            &.stxMenuActive{
                .cq-menu-overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.ciq-studies,
            &.cq-comparison-new{
                .cq-menu-dropdown {
                    height: calc( 100vh - 47px ) ;
                    left: 0px !important;
                    width: 100%;
                    box-shadow: none !important;
                }
            }
        }
        .bt-priod ,.cq-toggle , .cq-menu-btn , .cq-chart-size>span
        {
             padding: 0 !important;
        }
        .ic-priod {
            padding : 6px 0px !important;
        }
    }
}
@media only screen and (min-width: 850px) {
    .cq-chart-controls {
        .ciq-menu {
            width: 80px;
            .cq-menu-btn {
                > .ic-icon{
                    padding: .35em 0em;
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .cq-chart-controls {
        .ciq-menu {
            width: 100px;
            .cq-menu-btn {
                > .ic-icon{
                    padding: .35em 0.5em;
                }
            }
        }
    }
}
