.ciq-chart-types {
    .cq-menu-dropdown {
        width: 260px;
        box-sizing: border-box;

        .body {
            padding: 0 1.6em 1.6em;
        }
    }
    .ciq-list {
        padding-right: 9px;

        .ciq-list-item {
            &.active {
                @include themify($themes) {
                    border-right: 2px solid themed('ChartTypeActiveListBorderRight');
                }
            }
            padding: 0;
            justify-content: space-between;

            > .left {
                display: inline-flex;
                align-items: center;
            }
            > .ciq-aggregate-setting {
                margin-right: 5px;
            }
            :last-child {
                .ic-icon > svg {
                    stroke: none;
                }
            }
        }
    }
}

.smartcharts-mobile {
    .ciq-chart-types {
        .ciq-toggle-asset-information {
            margin: 15px 15px 0;
        }
    }
}
