.cq-chart-size {
    display: flex !important;
    width: auto;
    justify-content: space-between;
    align-items: center;
    height: auto;
    &:after {
        display: none;
    }
    > span {
        opacity: 1;
        position: relative;
        cursor: pointer;
        transition: scale .25s;
    }
    .interval-title {
        white-space: nowrap;
        width: auto;
        line-height: 25px;
        display: none; /* TODO */
    }
}
/* Mobile Style */
.smartcharts-mobile {
    .cq-chart-size {
        width: 45px;
    }
}
