.cq-chart-title {
    top: 1em;
    z-index: 41;
    margin: .2em 0.8em;
    &.stxMenuActive {
        box-shadow: none !important;
        .cq-menu-btn{
            .cq-symbol-select-btn{
                @include themify($themes) {
                    border: 1px solid themed('menuActiveBorder');
                }
            }
        }
    }
    .cq-menu-btn{
        padding: 0 !important;
        margin: .2em 0em;
        .cq-symbol-select-btn {
            font-family: $base-font;
            padding: 0.3em 2em .3em 1em;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            &:hover {
                @include themify($themes) {
                    border: solid 1px themed('menuActiveBorder');
                }
            }
            @include border-radius();
            @include themify($themes) {
                color: themed('ChartTitleText');
                background: themed('ChartTitleBg');
                border: solid 1px themed('ChartTitleBorder');
            }
            > .ic-icon, > .ic-frx, > .ic-wld, > .ic-otc {
                height: $large-icon-size;
                width: $large-icon-size;
                margin-right: 12px;
                transform: scale(1.3);
                > svg {
                    height: $large-icon-size;
                }
            }
            .cq-symbol-info {
                display: flex;
                flex-direction: column;
                .cq-market {
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 1.5;
                    width: fit-content;
                    &:after {
                        float: right;
                        margin-left: 12px;
                        margin-top: 7px;
                        @include triangle-base(4px);
                        @include themify($themes) {
                            border-top: 5px solid themed('ChartTitleBorder');
                        }
                    }
                }
            }
            .cq-symbol,
            .cq-chart-price {
                .cq-animated-price {
                    @include transition(color 300ms ease-out);
                    padding-left: 16px;
                }
                > div {
                    line-height: 1.5;
                }
                line-height: 22px;
                font-size: 12px;
                text-align: left;
            }
            .cq-symbol {
                font-size: 16px;
                font-weight: 700;
            }
            .cq-chart-price {
                margin-left: 9px;
                vertical-align: text-bottom;
                @include themify($themes) {
                    color: themed('ChartTitlePriceText');
                }
            }
            .cq-chart-price > * {
                position: relative;
            }

            /* Up/Down Arrow indicators */
            .cq-chart-price {
                .cq-change {
                    &.stx-up:after, &.stx-down:after {
                        float: left;
                        margin-top: 5px;
                        margin-right: 5px;
                        @include triangle-base(6px);
                    }
                    &.stx-up:after {
                        border-bottom: 8px solid rgb(76, 175, 80);
                    }
                    &.stx-down:after {
                        border-top: 8px solid rgb(249, 84, 84);
                    }
                }
            }
        }
    }
    .cq-menu-dropdown {
        box-shadow: 0 0 0.625em 0.025em rgba(0, 0, 0, 0.14);
        left: 0px;
        bottom: auto !important;
        transform: translateX(0) translateY( -3em );
        &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active {
            opacity: 1;
            transform: translateX(0) translateY( 0em );
        }
        &.cq-menu-dropdown-enter-done {
            z-index: 6;
        }
    }
}

/* Mobile Style */
.smartcharts.smartcharts-mobile{
    .cq-top-ui-widgets{
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 3;
        .cq-menu-btn{
            padding: 0px;
            margin: .4em .5em;
            margin: 0px;
        }
    }
    .cq-chart-title{
        width: 100%;
        display: block;
        top: 0em;
        margin: 0px;
        .cq-menu-btn {
            padding: 0px;
            margin: .3em 0.4em;
        }
        .cq-menu-dropdown{
            width: 100%;
            margin: 0px !important;
            top: 0px !important;
            left: 0px !important;
            z-index: 4 !important;
            @include transition(none !important);
            &.open{
                margin: 0px;
                bottom: auto;
            }
            .cq-categorical-display{
                .cq-scroll-panel{
                    height: calc( 100vh - 11em );
                }
            }
        }
    }
}
