.cq-chart-size {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: auto;

    &:after {
        display: none;
    }
    > span {
        opacity: 1;
        position: relative;
        cursor: pointer;
        transition: scale .25s;
        padding: 0.35em 0.8em !important;
    }

    .interval-title {
        white-space: nowrap;
        width: auto;
        line-height: 25px;
        display: none; /* TODO */
    }
}
