
.cq-chart-controls {
    position: absolute;
    display: flex !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    z-index: 2;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center;
    align-items: center;

    @include themify($themes) {
        background: themed('defaultMain');
    }
    @include border-radius(2px);
    @include box-sizing(border-box);
    .ciq-menu {
        width: 100px;
        > span {
            margin: 0;
            padding: 0;
        }
        &:after {
            right: 5px;
            top: 11px;
            transform: rotate(225deg); /* 180 + 45 */
            display: none;
        }
        .cq-menu-btn{
            position: relative;
        }
        .notification-badge {
            background: #e9e9e9;
            color: #2a3052;
            border-radius: 100px;
            font-size: 10px;
            position: absolute;
            top: 4px;
            line-height: 18px;
            left: 55px;
            width: 16px;
            height:16px;
            font-family: Roboto;
            font-weight: bold;
            text-align: center;
            &.x2{
                width: 24px;
            }
        }
    }
    .ciq-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        @include box-sizing(border-box);
    }
    .cq-toggle {
        padding: 0.35em 2.6em;
        color: #575757;
    }
}

/* Menu dropdown open/close animation */
.cq-chart-controls .ciq-menu .cq-menu-dropdown {
    .cq-chart-control-bottom & {
        transform: translateY(3em);
        &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active{
            transform: translateY(0em);
        }
    }
    .cq-chart-control-left & {
        transform: translateX(-3em);
        &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active{
            transform: translateX(0em);
        }
    }
    &.cq-menu-dropdown-exit-active{
        opacity: 0;
        z-index: -3;
    }
    &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active{
        opacity: 1;
        z-index: 6;
    }
}

.cq-chart-control-bottom{
    .cq-chart-controls {
        bottom: 0px;
        height: 50px;
        width: 100%;
        padding: 0 5px;
        @include themify($themes) {
            border-top: 1px solid themed('defaultBorder');
        }
    }
}
.cq-chart-control-left{
    .cq-chart-controls {
        left: 0px;
        top: 0;
        height: 100%;
        width: 100px;
        padding: 5px 0;
        flex-flow: column;
        @include themify($themes) {
            border-right: 1px solid themed('defaultBorder');
        }
        .ciq-menu{
            height: 60px;
            .cq-menu-dropdown {
                bottom: auto;
                left: 9em;
                top: -1em;
                @include box-shadow (0px, 0, 4px, rgba(0, 0, 0, .2));
                @include transition( opacity .20s 0s);
                @include dialog-transition();
                &.cq-menu-dropdown-exit.cq-menu-dropdown-exit-active,
                &.cq-menu-dropdown-exit-done{
                    @include dialog-transition();
                }
            }
        }
    }
}

/* Center all menu dialogs when positioned at bottom */
.smartcharts-desktop .cq-chart-control-bottom {
    .ciq-chart-types, .ciq-draw-tools {
        .cq-menu-dropdown {
            left: -4em;
        }
    }
    .cq-comparison-new, .ciq-studies {
        .cq-menu-dropdown {
            left: -22em;
        }
    }
    .ciq-views, .cq-share {
        .cq-menu-dropdown {
            left: -7em;
        }
    }
    .ciq-period, .cq-chart-setting {
        .cq-menu-dropdown {
            left: -8em;
        }
    }
}

/* Mobile Style */
.smartcharts-mobile{
    .cq-chart-controls {
        justify-content: space-around;
        padding: 0 0.7em;
        height: 40px;
        @include themify($themes) {
            border-top: 1px solid themed('defaultBorder');
        }
        &.active{
            z-index: 5;
        }
        .cq-menu-btn {
            padding: 0;
        }
        .ciq-menu {
            padding: 0em;
            width: auto;
            .cq-menu-btn{
                > .ic-icon{
                    padding: .35em 0em;
                }
                > .bt-priod{
                    padding: .7em .5em !important;
                }
            }
            .cq-menu-dropdown {
                height: auto;
                left: -1px;
                width: calc( 100% + 2px );
                padding: 0;
                border: none;
                box-shadow: none;
                bottom: 0em;
                transform: translateY(150%);
                z-index: 4 !important;
                &.open{
                    transform: translateY(0);
                    margin: 0px;
                    bottom: 0em;
                }
            }
            .notification-badge{
                left: 15px;
            }
            &.ciq-studies,
            &.cq-comparison-new{
                .cq-menu-dropdown {
                    height: calc( 100vh - 47px ) ;
                    width: 100%;
                }
            }
        }
        .bt-priod ,.cq-toggle , .cq-menu-btn , .cq-chart-size>span
        {
             padding: 0 !important;
        }
        .ic-priod {
            padding : 6px 0px !important;
        }
    }
}

.smartcharts-desktop .cq-chart-control-bottom {
    .smartcharts-480 {
        .cq-chart-controls {
            .ciq-menu {
                width: 47px;
                .cq-menu-btn {
                    > .ic-icon{
                        padding: .35em 0em;
                    }
                    .ic-subtitle{
                        display: none;
                    }
                }
                .notification-badge{
                    left: 28px;
                }
            }
        }
    }
    .smartcharts-900 {
        .cq-chart-controls {
            .ciq-menu {
                width: 70px;
                .cq-menu-btn {
                    > .ic-icon{
                        padding: .35em 0em;
                    }
                    .ic-subtitle{
                        display: none;
                    }
                }
                .notification-badge{
                    left: 39px;
                }
            }
        }
    }
    .smartcharts-1100 {
        .cq-chart-controls {
            .ciq-menu {
                width: 100px;
                .cq-menu-btn {
                    > .ic-icon{
                        padding: .35em 0.5em;
                    }
                    .ic-subtitle{
                        display: block;
                    }
                }
                .notification-badge{
                    left: 55px;
                }
            }
        }
    }
}

