.ciq-chart-types {
	.ciq-toggle-asset-information {
		font-size: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		top: -5px;
		@include themify($themes) {color: themed('defaulTextStrong');}
	}
	.cq-menu-dropdown {
		width: 200px;
		@include box-sizing(border-box);
		.title {
			display: flex;
			align-items: center;
			cursor: pointer;

            height: 40px;
            line-height: 40px;
            padding-left: 16px;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            @include themify($themes) {
                color: themed('defaultTextStrong');
            }
			.ic-icon {
				margin-right: 7px;
			}
		}
		.body{
			padding: 0px 5px 0px 16px;
		}
	}
	.ciq-list {
		.ciq-list-item {
			padding: 0;
			justify-content: space-between;
			> .left {
				display: inline-flex;
				align-items: center;
			}
			> .ciq-aggregate-setting {
				margin-right: 5px;
				> .ic-icon {
					> svg > path {
						@include themify($themes) {
							fill: themed('defaultTextMedium');
						}
					}
					&:hover > svg > path {
						@include themify($themes) {
							fill: themed('activeColor');
						}
					}
				}
			}
		}
	}
}
.cq-chart-control-left{
	.ciq-chart-types{
		.cq-menu-dropdown{
			transform: translateX(4.5em) translateY(0%) !important;
			bottom: auto !important;
			top: -1em;
		}
	}
}
.smartcharts-mobile{
	.ciq-chart-types {
		.ciq-toggle-asset-information{
			margin: 15px 15px 0 ;
		}
		.ciq-list {
			margin: 10px 15px;
		}
		&.cq-modal-dropdown .cq-menu-dropdown {
			height: 311px;
		}
	}
}
