
.cq-chart-controls {
    position: absolute;
    display: flex !important;
    bottom: 0px !important;
    left: 50%;
    padding: 0 10px;
    transform: translateX(-50%);
    height: 50px;
    width: 100%;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    z-index: 2;
    @include themify($themes) {
        background: themed('defaultMain');
        border-top: 1px solid themed('defaultBorder');
    }
    @include border-radius(2px);
    @include box-sizing(border-box);
    .ciq-menu {
        line-height: 2.1em;
        > span {
            margin: 0;
            padding: 0;
        }
        &:after {
            right: 5px;
            top: 11px;
            transform: rotate(225deg); /* 180 + 45 */
            display: none;
        }
        cq-separator {
            margin: 0;
        }
        cq-menu-dropdown,
        .cq-menu-dropdown {
            height: auto;
        }
    }
    .ciq-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        @include box-sizing(border-box);
    }
    .cq-toggle {
        padding: 0.35em 2.6em;
        color: #575757;
    }
    cq-comparison-add {
        cq-comparison-lookup-frame {
            position: absolute;
            bottom: 0em;
            left: -10em;
        }
    }
    .ciq-menu{    
        cq-menu-dropdown,
        .cq-menu-dropdown {
            opacity: 0;
            z-index: -3;
            transform: translateX( -50% ) translateY( 5em );
            left: 50%;
            pointer-events: none;
            @include transition( opacity .20s 0s);
            @include dialog-transition();
            &.cq-menu-dropdown-enter-done{
                pointer-events: initial;
                opacity: 1;
                z-index: 6;
                transform: translateX( -50% ) translateY( 0em );
            }
            &.cq-menu-dropdown-enter.cq-menu-dropdown-enter-active{
                pointer-events: initial;
                transform: translateX( -50% ) translateY( 0em );
                opacity: 1;
                z-index: -3;
            }
            &.cq-menu-dropdown-exit.cq-menu-dropdown-exit-active{
                @include dialog-transition();
                opacity: 0;
                z-index: -3;
            }
            &.cq-menu-dropdown-exit-done{
                transform: translateX( -50% ) translateY( 5em );
            }
        }
    }
}

.cq-comparison-new > .cq-menu-dropdown {
    left: -13em;
}

.ciq-studies > .cq-menu-dropdown {
    left: -9.8em;
}

/* Mobile Style */
.smartcharts-mobile{
    .cq-chart-controls {
        left: 0px !important;
        transform: translateX(-0%) !important;
        box-shadow: none;
        justify-content: space-around;
        border: none;
        padding: 0 0.7em;
        @include themify($themes) {
            border-top: 1px solid themed('defaultBorder');
        }
        &.active{
            z-index: 5;
        }
        .cq-menu-btn {
            padding: 0;
        }
        .ciq-menu {
            padding: 0em;
            .cq-menu-btn{
                > .ic-icon{
                    padding: .35em 0em;
                }
                > .bt-priod{
                    padding: .7em .5em !important;
                }
            }
            .cq-menu-overlay{
                background: rgba(0,0,0,.3);
                width: 100%;
                position: absolute;
                height: calc( 100vh - 32px );
                top: calc( -100vh + 31px );
                left: 0;
                padding: 0em;
                opacity: 0;
                visibility: hidden;
                @include transition(visibility 0s ease-in-out, opacity 0.2s ease-in-out 0.2s);
            }
            cq-menu-dropdown,
            .cq-menu-dropdown {
                height: auto;
                left: -1px;
                width: calc( 100% + 2px );
                padding: 0 0 8px 0;
                border: none;
                box-shadow: none;
                border-radius: 0px !important;
                bottom: 0em;
                transform: translateY(150%);
                @include transition(transform 0.2s ease-in-out 0.2s);
                &.open{
                    transform: translateY(0%);
                    margin: 0px;
                    bottom: 0em;
                }
            }
            &.stxMenuActive{
                .cq-menu-overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.ciq-studies,
            &.cq-comparison-new{
                cq-menu-dropdown, .cq-menu-dropdown {
                    height: calc( 100vh - 57px ) ;
                    left: 0px;
                    width: 100%;
                    box-shadow: none !important;
                }
            }
        }
        .bt-priod ,.cq-toggle , .cq-menu-btn , .cq-chart-size>span
        {
             padding: 0 !important;
        }
        .ic-priod {
            padding : 6px 0px !important;
        }
    }
}
