.ciq-chart-types {
    .cq-menu-btn {
        .ic-icon {
            path, circle {
                @include themify($themes) {
                    fill: themed('ChartTypeListIcon');
                    stroke: themed('ChartTypeListIcon');
                }
            }
        }
    }
    .cq-menu-dropdown {
        width: 200px;
        box-sizing: border-box;

        .body {
            padding: 0px 5px 0px 16px;
        }
    }
    .ciq-list {
        .ciq-list-item {
            &.active {
                @include themify($themes) {
                    border-right: 2px solid themed('ChartTypeActiveListBorderRight');
                }

                > .left {
                    .ic-icon {
                        path, circle {
                            @include themify($themes) {
                                fill: themed('ChartTypeActiveListIcon');
                                stroke: themed('ChartTypeActiveListIcon');
                            }
                        }
                    }
                }
            }
            padding: 0;
            justify-content: space-between;

            > .left {
                display: inline-flex;
                align-items: center;

                .ic-icon {
                    path, circle {
                        @include themify($themes) {
                            fill: themed('ChartTypeListIcon');
                            stroke: themed('ChartTypeListIcon');
                        }
                    }
                }
            }
            > .ciq-aggregate-setting {
                margin-right: 5px;

                > .ic-icon {
                    > svg > path {
                        @include themify($themes) {
                            fill: themed('ChartTypeListIcon');
                            stroke: themed('ChartTypeListIcon');
                        }
                    }
                    &:hover > svg > path {
                        @include themify($themes) {
                            fill: themed('ChartTypeActiveListIcon');
                            stroke: themed('ChartTypeActiveListIcon');
                        }
                    }
                }
            }
        }
    }
}

.smartcharts-mobile {
    .ciq-chart-types {
        .ciq-toggle-asset-information {
            margin: 15px 15px 0;
        }
        .ciq-list {
            margin: 0 15px;
        }
    }
}
