.ciq-chart-types {
    .ciq-toggle-asset-information {
        font-size: 10px;
        display: flex;
        color: black;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: -5px;
    }
    .cq-menu-dropdown {
        width: 200px;
        padding: 16px;
        background: #fafafa;
        box-sizing: border-box;
    }
    .ciq-title {
        display: flex;
        align-items: center;
        cursor: pointer;
        .ciq-icon {
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
    }
    .ciq-list {
        .ciq-list-item {
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &.active {
                color: #4C5794;
                font-weight: bold;
                background-color: #F2F3F8;
                .ic-icon{
                    box-shadow: none;
                    background: transparent;
                }
            }
        }
    }
}
