.cq-chart-title {
    display: inline-block;
    top: 1em;
    z-index: 41;
    margin: 0.2em 0.8em;

    &.ciq-menu.ciq-enabled {
        .cq-menu-btn > .cq-symbol-select-btn {
            cursor: pointer;

            > .ic-icon.cq-symbol-dropdown {
                display: block;
                margin-right: 0px;
                width: 24px;

                svg {
                    @include themify($themes) {
                        fill: themed('ChartTitleArrow');
                    }
                }
            }
        }
        &.stxMenuActive > .cq-menu-btn > .cq-symbol-select-btn {
            @include themify($themes) {
                border: solid 1px themed('ChartTitleActiveBorder');
                box-shadow: 0 0 2px themed('ChartTitleActiveShadow');
            }

            > .ic-icon.cq-symbol-dropdown {
                svg {
                    transform: rotate(180deg);

                    @include themify($themes) {
                        fill: themed('ChartTitleActiveArrow');
                    }
                }
            }
        }
    }
    &.ciq-enabled .cq-symbol-select-btn {
        @include themify($themes) {
            background: themed('ChartTitleBg');
            border: solid 1px themed('ChartTitleBorder');
        }
    }
    .cq-menu-btn {
        padding: 8px;
        border-radius: 4px;
        @include themify($themes) {
            background: themed('ChartTitleSubBg');
        }
    }
    .cq-symbol-select-btn {
        font-family: $base-font;
        padding: 0.58em 1em;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 4px;
        @include themify($themes) {
            color: themed('ChartTitleText');
        }

        &:hover {
            @include themify($themes) {
                border: solid 1px themed('ChartTitleHoverBorder');
            }
        }
        > .ic-icon.cq-symbol-dropdown {
            display: none;
            position: relative;

            svg {
                transition: transform 0.2s ease-in-out;
            }
        }
        > .ic-icon, > .ic-frx, > .ic-wld, > .ic-otc {
            height: $large-icon-size;
            width: $large-icon-size;
            transform: scale(1.3);

            > svg {
                height: $large-icon-size;
            }
        }
        .cq-symbol-info {
            display: flex;
            flex-direction: column;
            margin: 0 20px;

            .cq-market {
                font-size: 10px;
                line-height: 1.5;
            }
        }
        .cq-symbol,
        .cq-chart-price {
            .cq-animated-price {
                transition: color 300ms ease-out;
            }
            .divider {
                padding: 0 3px;
            }
            > div {
                line-height: 1.5;
            }
            line-height: 22px;
            font-size: 12px;
            text-align: left;
        }
        .cq-symbol {
            font-weight: bold;
            font-size: 16px;
            text-align: left;
            line-height: 24px;
            @include themify($themes) {
                color: themed('ChartTitleSymbolText');
            }
        }
        .cq-chart-price > * {
            position: relative;
        }
        .cq-chart-price {
            display: flex;
            vertical-align: text-bottom;
            @include themify($themes) {
                color: themed('ChartTitlePriceText');
            }
        }
    }
    .cq-menu-dropdown {
        box-shadow: 0 0 0.63em 0.03em rgba(0, 0, 0, 0.14);
        left: 0px;
        bottom: auto;
        transform: translateX(0) translateY(-3em);

        &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active {
            opacity: 1;
            transform: translateX(0) translateY(0em);
        }
        &.cq-menu-dropdown-enter-done {
            z-index: 6;
        }
    }
}

/* Mobile Style */
.smartcharts-mobile {
    .cq-top-ui-widgets {
        width: 100%;
        padding: 0px;
        margin: 0 !important;
        z-index: 3;
    }
    .cq-chart-title {
        width: 100%;
        display: block;
        top: 0em;
        margin: 0px;

        .cq-symbol-select-btn {
            margin: 0.3em 0.4em;
        }
        .cq-menu-dropdown {
            width: 100%;

            &.open {
                margin: 0px;
            }
        }
    }
}
