.cq-chart-title {
    display: inline-block;
    top: 1em;
    z-index: 41;
    margin: 0.2em 0.8em;

    &.ciq-menu.ciq-enabled {
        .cq-menu-btn > .cq-symbol-select-btn {
            cursor: pointer;

            &:hover {
                @include themify($themes) {
                    border: solid 1px themed('menuActiveBorder');
                }
            }
            > .ic-icon.cq-symbol-dropdown {
                display: block;
                margin-right: 0px;
                width: 24px;

                svg g {
                    @include themify($themes) {
                        fill: themed('ChartTitleArrow');
                    }
                }
            }
        }
        &.stxMenuActive > .cq-menu-btn > .cq-symbol-select-btn {
            @include themify($themes) {
                border: 1px solid themed('menuActiveBorder');
            }

            > .ic-icon.cq-symbol-dropdown {
                svg {
                    transform: rotate(180deg);

                    g {
                        @include themify($themes) {
                            fill: themed('ChartTitleActiveArrow');
                        }
                    }
                }
            }
        }
    }
    &.ciq-enabled .cq-symbol-select-btn {
        @include themify($themes) {
            background: themed('ChartTitleBg');
            border: solid 1px themed('ChartTitleBorder');
        }
    }
    .cq-symbol-select-btn {
        font-family: $base-font;
        padding: 0.3em 1em;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 3px;

        @include themify($themes) {
            color: themed('ChartTitleText');
        }

        > .ic-icon.cq-symbol-dropdown {
            display: none;
            position: relative;

            svg {
                transition: transform 0.2s ease-in-out;
            }
        }
        > .ic-icon, > .ic-frx, > .ic-wld, > .ic-otc {
            height: $large-icon-size;
            width: $large-icon-size;
            margin-right: 12px;
            margin-left: 12px;
            transform: scale(1.3);

            > svg {
                height: $large-icon-size;
            }
        }
        .cq-symbol-info {
            display: flex;
            flex-direction: column;

            .cq-market {
                font-size: 10px;
                line-height: 1.5;
                width: fit-content;
            }
        }
        .cq-symbol,
        .cq-chart-price {
            .cq-animated-price {
                transition: color 300ms ease-out;
                padding-left: 16px;
            }
            > div {
                line-height: 1.5;
            }
            line-height: 22px;
            font-size: 12px;
            text-align: left;
        }
        .cq-symbol {
            font-weight: bold;
            @include themify($themes) {
                color: themed('ChartTitleSymbolText');
            }
        }
        .cq-chart-price > * {
            position: relative;
        }
        .cq-chart-price {
            margin-left: 9px;
            vertical-align: text-bottom;
            /* Up/Down Arrow indicators */
            .cq-change {
                &:after {
                    float: left;
                    margin-top: 5px;
                    margin-right: 5px;
                    @include triangle-base(6px);
                }
                &.up:after {
                    border-bottom: 8px solid rgb(76, 175, 80);
                }
                &.down:after {
                    border-top: 8px solid rgb(249, 84, 84);
                }
            }
        }
    }
    .cq-menu-dropdown {
        box-shadow: 0 0 0.63em 0.03em rgba(0, 0, 0, 0.14);
        left: 0px;
        bottom: auto;
        transform: translateX(0) translateY(-3em);

        &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active {
            opacity: 1;
            transform: translateX(0) translateY(0em);
        }
        &.cq-menu-dropdown-enter-done {
            z-index: 6;
        }
    }
}

/* Mobile Style */
.smartcharts.smartcharts-mobile {
    .cq-top-ui-widgets {
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 3;
    }
    .cq-chart-title {
        width: 100%;
        display: block;
        top: 0em;
        margin: 0px;

        .cq-symbol-select-btn {
            margin: 0.3em 0.4em;
        }
        .cq-menu-dropdown {
            width: 100%;

            &.open {
                margin: 0px;
            }
        }
    }
}
