
.cq-chart-setting {
    &.stxMenuActive{
        .cq-menu-dropdown {
            right: 0px;
            width: 280px;
            height: 200px;
            .cq-menu-container{
                transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
            }
            .cq-menu-container-enter {
                opacity: 0.01;
                z-index: 0;
                height: auto;
            }
            .cq-menu-container-enter-done {
                opacity: 1;
                z-index: 9;
                height: auto;
            }
            .cq-menu-container-exit {
                opacity: 1;
            }
            .cq-menu-container-exit-active {
                opacity: 0;
                height: 0;
            }
        }
    }
    .cq-menu-dropdown {
        height: 0px;
        width: 280px;
        @include themify($themes) {
            color: themed('defaultTextStrong');
        }
        .cq-menu-container{
            height: 0px;
            &.active{
                height: 0px;
            }
        }
    }
    .title {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        display: flex;
        .title-text{
            display: block;
            font-size: 16px;
            line-height: 40px;
            font-weight: 400;
            padding: 0 .7em;
            @include themify($themes) {
                color: themed('defaultText');
            }
        }
        .icon-close-menu{
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            height: 30px;
            width: 30px;
            pointer-events: none;
            opacity: 0;
        }
    }
    .body {
        height: 100%;
        padding: 16px;
        .ciq-list-setting{
            height: auto;
            .ciq-list-item{
                height: 38px;
                line-height: 38px;
                cursor: default;
                &.ciq-list-item-lng{
                    cursor: pointer;
                }
                .ciq-icon-text {
                    width: calc( 100% - 60px );
                }
                .ciq-action {
                    width: 50px;
                    height: 25px;
                    display: flex;
                    padding: 6px 0;
                    justify-content: flex-end;
                }
                .cq-switch {
                    margin: 6px 0 0 0;
                }
            }
        }
        .ciq-list-language{
            height: auto;
            .ciq-list-item{
                display: inline-block;
                width: 50%;
                height: 36px;
                padding-left: 10px;
                &:nth-child(2n){
                    border-left: none;
                }
                &:nth-child(2){
                    @include themify($themes) {
                        border-top: themed('listBorder');
                    }
                }
                .ic-icon{
                    cursor: pointer;
                    display: inline-block;
                    margin: 2px 4px 0px 0px;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
}
/* Mobile Style */
.smartcharts-mobile {
    .cq-chart-setting {
        .title {
            .icon-close-menu{
                pointer-events: initial;
                opacity: 1;
            }
        }
    }
}