
.cq-share {
    .cq-menu-dropdown {
        left: 50%;
        width: 280px;
        height: 200px;
        transform: translateX(-50%); 
    }
    .title {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        display: flex;
        .title-text{
            display: block;
            font-size: 16px;
            line-height: 40px;
            font-weight: 400;
            padding: 0 .7em;
            @include themify($themes) {
                color: themed('defaultText');
            }
        }
        .icon-close-menu{
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            height: 30px;
            width: 30px;
            pointer-events: none;
            opacity: 0;
        }
    }
    .body {
        height: 100%;
        padding: 16px;
        .loading{
            background: transparent url('../icons/loading/loading-ellipsis.svg') no-repeat scroll center center;
            height: 26px;
            width: 100%;
            display: block;
        }
        .content {
            display: flex;
            input { 
                line-height: 32px;
                height: 32px;
                outline: none;
                flex-grow: 1;
                padding-left: 4px;
                @include box-sizing(border-box);
                @include border-radius(4px);
                @include themify($themes) {
                    color: themed('controlText');
                    border: 1px solid themed('defaultBorder');
                    background-color: themed('defaultMain');
                }
            }
            .ic-icon {
                width: 32px;
                height: 32px;
                padding-top: 4px;
                position: relative;
                left: -1px;
                @include border-radius(0 4px 4px 0);
                @include box-sizing(border-box);
                @include themify($themes) {
                    background: themed('activeColor');
                }
                &:after {
                    width: auto !important;
                    left: auto !important;
                    right: -10px;
                    white-space: nowrap;
                    bottom: 36px;
                }
                &:before {
                    bottom: 32px;
                }
            }
            .download-btn {
                width: 56px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                margin-right: 8px;
                cursor: pointer;
                @include border-radius(4px);
                @include box-sizing(border-box);
                @include themify($themes) {
                    border: 1px solid themed('defaultBorder');
                    background-color: themed('defaultMain');
                }
                &:hover {
                    @include themify($themes) {
                        border-color: themed('activeColor');
                    }
                }
            }
        }

        .caption2 {
            margin-top: 10px;
        }
    }
}
/* Mobile Style */
.smartcharts-mobile {
    .cq-share {
        .title {
            .icon-close-menu{
                pointer-events: initial;
                opacity: 1;
            }
        }
    }
}
