.ciq-list {
	max-height: 260px;
	overflow-y: auto;
	position: relative;
	&.ps{
		padding-right: 11px;
	}
	&.scrollbar-container{
		.ciq-list-item {
			&:first-child {margin-top: 16px;}
			&:nth-last-child(-n+3){margin-bottom: 16px;}
		}
	}
	.ciq-list-item {
		cursor: pointer;
		line-height: 32px;
		font-size: 12px;
		height: 32px;
		padding: 0 0 0 16px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: none;
		@include box-sizing(border-box);
		@include themify($themes) {
			color: themed('listLiText');
			background: themed('listLiBg');
			border-left: 1px solid themed('listLiBorder');
			border-right: 1px solid themed('listLiBorder');
			border-bottom: 1px solid themed('listLiBorder');
		}
		&:first-child {
			@include themify($themes) {border-top: themed('listLiBorder');}
		}
		&.active {
			font-weight: bold;
			@include themify($themes) {
				color: themed('listActiveLiText');
				background-color: themed('listActiveLiBg');
			}
		}
		&.disabled {
			pointer-events: none;
			> * {
				opacity: 0.2;
				cursor: auto;
			}
		}
	}
}
