
.ciq-list {
	height: 250px;
	overflow-y: auto;
	position: relative;
	.ciq-list-item {
		cursor: pointer;
		line-height: 32px;
		font-size: 12px;
		height: 32px;
		padding: 0 0 0 16px;
		display: flex;
		border-top: none;
		align-items: center;
		justify-content: flex-start;
		@include box-sizing(border-box);
		@include themify($themes) {
			border: themed('listBorder');
			//color: themed('defaultTextStrong');
			background: themed('defaultMain');
		}
		&:first-child {
			@include themify($themes) {border-top: themed('listBorder');}
		}
		&.selected{
			font-weight: bold;
			@include themify($themes) {
				color: themed('defaultTextActive');
				background-color: themed('listBgActive');
			}
		}
		&.disabled {
			pointer-events: none;
			>* {
				opacity: 0.2;
				cursor: auto;
			}
		}
	}
}