/* stylelint-disable plugin/no-unsupported-browser-features */

.ciq-chart-dialog {
    width: var(--table-width);
    left: auto;

    .ciq-list > :last-child {
        top: 15px !important;
        margin-right: 10px;
    }
}

.cq-dialog-overlay {
    @include themify($themes) {
        background: themed('DialogOverlay');
    }
    visibility: hidden;
    bottom: 0;

    .cq-dialog--cover {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(2px);
    }
}

.cq-dialog-active {
    visibility: visible;
    z-index: 1;
}

.ciq-chart-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    @include themify($themes) {
        background: themed('ChartTableBg');
    }

    th,td {
        text-align: right;
        box-sizing: border-box;

        &.before-last-child {
            min-width: 90px !important;
            max-width: 90px !important;
            padding-right: 4px;
        }
        &:last-child {
            min-width: 50px !important;
            max-width: 50px !important;
            text-align: left;
            padding-left: 4px;
        }
    }
    td:nth-child(1), th:nth-child(1) {
        min-width: 175px;
        max-width: 175px;
        padding-left: 24px;
        text-align: left;
    }
    td:nth-child(2), th:nth-child(2) {
        min-width: 100px;
        max-width: 100px;
    }
    td:nth-child(3), th:nth-child(3) {
        min-width: 100px;
        max-width: 100px;
    }
    td:nth-child(4), th:nth-child(4) {
        min-width: 100px;
        max-width: 100px;
    }
    td:nth-child(5), th:nth-child(5) {
        min-width: 90px;
        max-width: 90px;
    }
    td:nth-child(6), th:nth-child(6) {
        width: 40px;
        padding-right: 4px;
    }
    th:last-child {
        text-align: center;

        .ic-icon {
            cursor: pointer;
            position: absolute;
            top: 13px;
            border-radius: 4px;
            right: 12px;
            transition: background 0.2s 0.15s;

            &:hover {
                @include themify($themes) {
                    background: themed('ChartTableHeadHover');
                }
            }
            svg {
                width: 16px;
                height: 16px;
                stroke: none;
            }
        }
    }
    tbody {
        display: block;
    }
    .cq-change-cell {
        display: inline-flex;
    }
}

.ciq-table-head {
    width: var(--table-width);
    display: block;
    @include themify($themes) {
        background: themed('ChartTableHeadBg');
        color: themed('ChartTableHeadText');
        border-bottom: 1px solid themed('ChartTableHeadBorder');
    }

    .ciq-table-cell {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        padding: 16px 5px;
    }
}

.ciq-table-row {
    @include themify($themes) {
        border-bottom: 1px solid themed('ChartTableBodyBorder');
    }

    .ciq-table-cell {
        padding: 16px 5px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        @include themify($themes) {
            color: themed('ChartTableBodyText');
        }

        .cq-change:after {
            margin: 3px 0 0 5px;
        }
        .up {
            @include themify($themes) {
                color: $COLOR_GREEN_1;
            }
        }
        .down {
            @include themify($themes) {
                color: $COLOR_RED;
            }
        }
    }
}

.smartcharts-mobile {
    .ciq-chart-dialog {
        width: calc(100% - 20px) !important;
        height: calc(100% - 66px) !important;
        top: 10px;
        overflow: hidden;

        .ciq-list > :last-child {
            top: 2px !important;
        }
    }
    .ciq-chart-table {
        tbody {
            display: table-row-group;
            margin-top: 0;
        }
        .ciq-table-cell {
            display: flex;
            padding: 5px 5px 5px 20px !important;
            text-align: left;
            font-size: 1.2em;
            height: 52px;

            .ciq-table-date {
                flex: 1;
            }
            > div {
                padding-right: 5px;

                > span {
                    font-weight: bold;
                    padding-right: 5px;
                }
            }
        }
    }
}