
.cq-download {
    .cq-menu-dropdown {
        width: 280px;
    }
    .body {
        height: 100%;
        padding: 0 1em 1em;

        .content {
            display: flex;
            padding: 5px 0;

            .ciq-list-download {
                width: 100%;

                .ciq-list-item {
                    width: 100%;
                    padding: 1px 10px;
                    height: 40px;
                    justify-content: space-between;

                    .cq-loading {
                        margin-left: 5px;
                    }
                    .ic-icon {
                        position: relative;
                        top: -4px;
                    }
                }
            }
        }
        .caption2 {
            margin-top: 10px;
        }
    }
}
