
.cq-dialog {
    width: auto;
    top: auto;
    border-radius: 4px;
    position: absolute;
    opacity: 0;
    box-shadow: 0 0 0.63em 0.03em rgba(0, 0, 0, 0.14);
    z-index: -3;
    pointer-events: none;
    transform: translateY(3em);
    @include dialog-transition();
    @include themify($themes) {
        background: themed('DialogBodyBg');
    }

    &.cq-dialog-enter-done, &.cq-dialog-enter-active {
        opacity: 1;
        transform: translateY(0em);
        z-index: 3;
    }
    &.cq-dialog-enter-done {
        pointer-events: initial;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        border-radius: 4px 4px 0 0;
        height: 56px;
        box-sizing: border-box;
        border-bottom: 2px solid;
        @include themify($themes) {
            color: themed('DialogHeadText');
            background: themed('DialogHeadBg');
            border-color: themed('DialogHeadBorder');
        }

        &--title {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            min-width: 240px;
            padding: 16px;
            border-radius: 5px 0 0;
            position: relative;
            box-sizing: border-box;
        }
        &--custom {
            width: 100%;
        }
        &--info {
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 10px 8px 10px 16px;

            .ic-icon {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-right: 4px;

                svg {
                    @include themify($themes) {
                        fill: themed('DialogHeadIcon');
                    }
                }
                &:hover {
                    @include themify($themes) {
                        background: themed('DialogHeadIconHoverBg');
                    }
                }
            }
        }
        &--search {
            padding: 10px 0px 10px 12px;
        }
        &--action {
            padding: 16px;
            border-radius: 0 5px 0 0;

            .ic-icon {
                width: 32px;
                height: 32px;
                line-height: 34px;
                cursor: pointer;
                border-radius: 4px;
                padding: 4px;
                position: relative;
                top: -6px;

                svg {
                    @include themify($themes) {
                        fill: themed('DialogHeadIcon');
                    }
                }
                &:hover {
                    @include themify($themes) {
                        background: themed('DialogHeadIconHoverBg');
                    }
                }
            }
        }
    }
    &__body {
        border-radius: 0 0 4px 4px;
    }
    &.cq-dialog--tabular {
        .cq-dialog__head {
            @include themify($themes) {
                background: themed('DialogTabularHeadBg');
                border-color: themed('DialogTabularHeadBorder');
            }

            .cq-dialog__head--title {
                width: 200px;
                @include themify($themes) {
                    background: themed('DialogTabularHeadTitleBg');
                }
            }
        }
    }
}

.tabs {
    &--vertical {
        display: flex;
        border-radius: 0 0 4px 4px;

        .react-tabs__tab-list {
            margin: 0px;
            width: 240px;
            min-width: 240px;
            border-radius: 0 0 0 5px;
            border-bottom: none;
            padding: 0;
            @include themify($themes) {
                background: themed('DialogTabularBg');
            }

            .react-tabs__tab {
                width: 100%;
                display: flex;
                box-sizing: border-box;
                padding: 10px 12px;
                border: none;
                border-radius: 0px;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                align-items: center;
                outline: none !important;
                box-shadow: none !important;
                cursor: pointer;
                @include themify($themes) {
                    color: themed('DialogTabularText');
                    border-left: 4px solid themed('DialogTabularBg');
                }

                .ic-icon {
                    width: 16px;
                    height: 16px;
                    line-height: 27px;
                    margin-right: 16px;
                    @include themify($themes) {
                        fill: themed('DialogTabularText');
                    }

                    svg {
                        width: 16px;
                        height: 16px;

                        @include themify($themes) {
                            fill: themed('DialogTabularText');
                        }
                    }
                }
                .sc-notification-badge {
                    position: relative;
                    margin-left: 5px;
                    top: 0px;
                    left: 0px;
                }
                &:hover {
                    @include themify($themes) {
                        border-left-color: themed('DialogTabularHoverTabBg');
                        background: themed('DialogTabularHoverTabBg');
                    }
                }
                &:after {
                    display: none !important;
                }
                &--selected {
                    border-radius: 0px;
                    font-weight: bold;
                    @include themify($themes) {
                        color: themed('DialogTabularActiveTabText') !important;
                        background: themed('DialogTabularActiveTabBg') !important;
                        border-left-color: themed('DialogTabularActiveTabBorder') !important;
                    }

                    .ic-icon {
                        @include themify($themes) {
                            fill: themed('DialogTabularActiveTabText');
                        }
                    }
                }
            }
        }
        .react-tabs__tab-panel {
            width: calc(100% - 200px);
            border-radius: 0 0 4px;
            @include themify($themes) {
                background: themed('DialogTabularBodyBg');
            }

            .items {
                border-radius: 0 0 4px;
            }
        }
    }
}

/* Mobile Style */
.smartcharts-mobile {
    .cq-dialog {
        left: 10px;
        width: calc(100% - 20px);

        .cq-titlebar {
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            @include themify($themes) {
                color: themed('DialogHeadText');
                border-bottom: 2px solid themed('DialogBodyBg');
            }

            :last-child {
                margin-left: auto;
            }
            .cq-title {
                font-size: 1.4em;
                font-weight: bold;
                padding-left: 10px;
            }
        }
    }
}
