
.cq-share {
    .cq-menu-btn > .ic-icon > svg > g > path {
        fill: none !important;
        @include themify($themes) {
            stroke: themed('MenuIcon');
        }
    }
    .cq-menu-dropdown {
        width: 280px;
        height: 105px;
    }
    .title {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        display: flex;

        .title-text {
            display: block;
            font-size: 16px;
            line-height: 40px;
            font-weight: 400;
            padding: 0 0.7em;
        }
        .icon-close-menu {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            height: 30px;
            width: 30px;
            pointer-events: none;
            opacity: 0;
        }
    }
    .body {
        height: 100%;
        padding: 16px;

        .content {
            display: flex;
            padding: 5px 0;

            .download-btn {
                width: 56px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                cursor: pointer;
                background: transparent;
                border: none;
                @include box-sizing(border-box);
                @include themify($themes) {
                    color: themed('SharedBtnDownloadText');
                }

                &:first-child {
                    @include themify($themes) {
                        border-right: 1px solid themed('SharedBtnDownloadBorder');
                    }
                }
            }
        }
        .caption2 {
            margin-top: 10px;
        }
    }
}

/* Mobile Style */
.smartcharts-mobile {
    .cq-share {
        .title {
            .icon-close-menu {
                pointer-events: initial;
                opacity: 1;
            }
        }
    }
}
