
.cq-alert-dialog
{
	height: 90px !important;
	border-radius: 5px;
	@include themify($themes) {
		color: themed('controlText');
	}
	top: inherit !important;
	@include box-shadow (0, 2px, 8px, 0px, rgba(42, 48, 82, 0.14) !important);
	>.ic-icon
	{
		@include transition(none !important);
		position: absolute;
		left: 84%;
		top: 100%;
		line-height: 0;
		width: 10px;
		height: 10px;
		>svg
		{
			filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.14));
		}
	}
    .alrt-title
	{
		text-align: center;
		padding-top: 16px;
		justify-content:center;
		>.ic-icon
		{
			@include transition(none !important);
			padding-right :5px;
		}
		>span{
			display: inline-block;
			vertical-align:  middle;
		}
	}
	.alrt-buttons
	{
		display:flex;
		justify-content: flex-end;
		margin-top: 20px;
		margin-right: 10px;
		font-weight: bold;
		>div{
			width: 90px;
			height: 40px;
			@include themify($themes) {
                color: themed('controlDialogButton');
            }
			text-align: center;
			cursor: pointer;
		}
	}
}	
    