
.cq-slider {
    width: 150px;
    height: 10px;
    display: flex;
    align-items: center;
    position: relative;

    .cq-slider-range {
        position: relative;
        width: 120px;
        margin-top: 8px;
        height: 10px;

        > input, div {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        input[type='range'] {
            -webkit-appearance: none;
            width: 120px;
            margin: 0;
            background: transparent;
            height: 12px;
            top: -6px;

            &:focus {
                outline: none;
            }
            &::-webkit-slider-runnable-track {
                @include rangetrack();
            }
            &::-moz-range-track {
                @include rangetrack();
                height: 14px;
                margin-top: -3px;
                top: -3px;
            }
            &::-ms-track {
                @include rangetrack();
                color: transparent;
            }
            &::-ms-thumb {
                @include rangethumb();
                margin-top: 0px;
            }
            &::-moz-range-thumb {
                @include rangethumb();
                margin-top: 0px;
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                @include rangethumb();
                margin-top: 1px;
            }
        }
        .cq-slider-bar {
            width: 120px;
            outline: none;
            height: 2px;
            @include themify($themes) {
                background: themed('SliderBarBg');
            }
        }
        .cq-slider-active-bar {
            height: 2px;
            min-width: 10px;
            @include themify($themes) {
                background: themed('SliderBarActiveBg');
            }
        }
    }
    > div:last-child {
        text-align: right;
        flex-grow: 1;
        font-weight: bold;
        @include themify($themes) {
            color: themed('SliderText');
        }
    }
}

.cq-dropdown {
    position: relative;
    height: 32px;
    width: 142px;
    user-select: none;

    .title {
        height: 32px;
        line-height: 32px;
        padding-left: 8px;
        cursor: pointer;
        border-radius: 4px;
        box-sizing: border-box;
        @include themify($themes) {
            color: themed('DropdownText') !important;
            border: 1px solid themed('DropdownBorder');
        }

        svg {
            pointer-events: none;
            transition: transform 0.6s;
        }
        &.active {
            @include themify($themes) {
                border-color: themed('DropdownActiveBorder');
            }

            svg {
                transform: scaleY(-1);
                filter: fliph;
                -ms-filter: 'FlipH';
            }
        }
    }
    .dropdown {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        z-index: +2;
        width: 142px;
        max-height: 200px;
        overflow: scroll;
        box-shadow: 0 2px 8px 0 rgba(42, 48, 82, 0.14);
        box-sizing: border-box;
        border-radius: 4px;
        @include themify($themes) {
            background: themed('DropdownBg');
            border: 1px solid themed('DropdownBorder');
        }

        &.active {
            top: 36px;
            opacity: 1;
            pointer-events: all;
            transition: opacity 0.3s, top 0.2s;
        }
        .row {
            cursor: pointer;
            padding: 4px 8px;

            &:hover {
                font-weight: bold;
                @include themify($themes) {
                    background: themed('DropdownActiveBg');
                    color: themed('DropdownActiveText');
                }
            }
        }
    }

    // Pattern
    .option {
        display: inline-block;
        width: 100%;
        pointer-events: none;
    }
    /* Line style types */
    .solid-1 {
        border-top-style: solid;
        border-top-width: 1px;
    }
    .dotted-1 {
        border-top-style: dotted;
        border-top-width: 1px;
    }
    .dashed-1 {
        border-top-style: dashed;
        border-top-width: 1px;
    }
    .solid-3 {
        border-top-style: solid;
        border-top-width: 2px;
    }
    .dotted-3 {
        border-top-style: dotted;
        border-top-width: 2px;
    }
    .dashed-3 {
        border-top-style: dashed;
        border-top-width: 2px;
    }
    .solid-5 {
        border-top-style: solid;
        border-top-width: 3px;
    }
    .dotted-5 {
        border-top-style: dotted;
        border-top-width: 3px;
    }
    .dashed-5 {
        border-top-style: dashed;
        border-top-width: 3px;
    }
}

.cq-color-picker {
    position: relative;
    height: 24px;
    width: 24px;

    .title {
        height: 100%;
        width: 100%;
        cursor: pointer;
        border-radius: 2px;
        box-sizing: border-box;
        @include themify($themes) {
            background-color: themed('ColorPickerBg');
        }
    }
    .dropdown {
        position: absolute;
        top: 30px;
        right: calc(100% - 24px);
        opacity: 0;
        pointer-events: none;
        z-index: +2;
        width: 250px;
        padding: 8px;
        box-shadow: 0 2px 8px 0 rgba(42, 48, 82, 0.14);
        transition: opacity 0.1s;
        border-radius: 4px;
        @include themify($themes) {
            background: themed('ColorPickerBg');
        }

        &.open {
            z-index: 2;
            opacity: 1;
            pointer-events: all;
        }
        .row {
            height: 18px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            align-items: center;

            .tile-color {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }
}

.cq-switch {
    width: 32px;
    height: 16px;
    position: relative;
    cursor: pointer;
    border-radius: 8px;

    .handle {
        position: absolute;
        top: 1px;
        width: 14px;
        height: 14px;
        transition: left 0.2s;
        border-radius: 7px;
        @include themify($themes) {
            background: themed('SwitchHandle');
        }
    }
    &.on {
        .handle {
            left: 17px;
        }
        @include themify($themes) {
            background: themed('SwitchOnBg');
        }
    }
    &.off {
        .handle {
            left: 1px;
        }
        @include themify($themes) {
            background: themed('SwitchOffBg');
        }
    }
}

.cq-numbercolorpicker, .cq-fontsetting {
    display: inline-flex;
}

.cq-fontsetting {
    .cq-text-icon {
        margin-right: 5px;
    }
}

.cq-text-icon {
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    display: inline-flex;
    font-family: serif;
    font-size: 15px;
}

.cq-changefontsize {
    width: 56px;
    margin-right: 5px;
}

.cq-changefontfamily {
    width: 138px;
}

.cq-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cq-toggle > .ic-icon,
.cq-chart-controls .ic-icon-with-sub {
    width: 24px;
    height: 24px;

    > svg {
        padding: 4px;
    }
}
