
.cq-dialog {
    width: 344px;
    left: calc(50% - 344px/2);
    top: calc(50% - 366px/2);
    position: absolute;
    opacity: 0;
    margin-top: 120px;
    box-shadow: 0 0 0.625em 0.025em rgba(0, 0, 0, 0.14);
    visibility: hidden;
    z-index: -3;
    @include themify($themes) {
        background: themed('defaultMain');
    }
    @include dialog-transition();
    &.open{
        visibility: visible;
    	margin-top: 0px;
        opacity: 1;
        z-index: 3;
    }
}