
.cq-dialog-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 2em;
}

.cq-settings-dialog {
    display: flex;
    flex-direction: column;
    height: auto !important;

    .ciq-num-input > input[type=number] {
        width: 5.5em;
    }
    .titlebar {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include themify($themes) {
            color: themed('DialogHeadText');
        }

        .ciq-favorite {
            path {
                @include themify($themes) {
                    stroke: themed('DialogHeadIcon');
                }
            }
        }
        .title {
            font-size: 14px;
            padding-left: 16px;
        }
        .icons {
            display: flex;
            align-items: center;
            height: 50px;

            .ic-icon {
                path {
                    @include themify($themes) {
                        fill: themed('DialogHeadIcon');
                    }
                }
                &.ciq-favorite {
                    path {
                        fill: transparent;
                        @include themify($themes) {
                            stroke: themed('DialogHeadIcon');
                        }
                    }
                }
            }
        }
        &.no-tabs {
            @include themify($themes) {
                border-bottom: 1px solid themed('DialogHeadBorder');
            }
        }
    }
    .tabs {
        height: 40px;
        align-items: stretch;
        display: flex;
        position: relative;
        @include box-sizing(border-box);
        @include themify($themes) {
            border-bottom: 1px solid themed('DialogHeadBorder');
        }

        > div {
            text-align: center;
            line-height: 40px;
            width: 50%;
            cursor: pointer;
            font-size: 14px;

            &.active {
                font-weight: bold;
            }
        }
        .active-border {
            position: absolute;
            height: 2px;
            width: calc(50% + 1px);
            bottom: -1px;
            left: 0;
            @include transition(left linear 0.1s);
            @include themify($themes) {
                background: themed('DialogHeadActiveBorder');
            }

            &.second {
                left: 50%;
            }
        }
    }
    .items {
        padding: 16px 0;
        flex-grow: 1;
        overflow: scroll;
        height: 200px;
        @include themify($themes) {
            background: themed('DialogSettingBodyBg');
        }

        .item {
            @include box-sizing(border-box);
            padding: 0 16px;
            height: 25px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .title {
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include themify($themes) {
                    color: themed('DialogBodyText');
                }
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        @include themify($themes) {
            border-top: 1px solid themed('DialogFootBorder');
            background: themed('DialogFootBg');
        }

        > div {
            width: 90px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            @include themify($themes) {
                color: themed('DialogFootText');
            }
        }
    }
    .description {
        flex-grow: 1;
        padding: 16px;
        font-size: 12px;
        line-height: 18px;
    }
    input[type=number] {
        display: inline-block;
        width: 3.2em;
        line-height: 1.6em;
        margin-right: 5px;
        padding-left: 6px;
        @include border-radius(3px);
        @include themify($themes) {
            border: none;
            @include box-shadow (0, 0, 0, 1px, themed('defaultBorder'));
        }
    }
    .cq-color-picker {
        display: inline-block;

        .dropdown {
            @include themify($themes) {
                border: 1px solid themed('ColorPickerBorder');
            }
        }
    }
}

/* Mobile Style */
.smartcharts-mobile {
    .cq-dialog-overlay {
        background: rgba(0, 0, 0, 0.3);
        visibility: hidden;
        bottom: 0;
    }
    .cq-dialog-active {
        visibility: visible;
        z-index: 1;
    }
    .cq-settings-dialog {
        .items {
            padding: 5px 0;
        }
    }
}
