
.cq-chart-setting {
    .cq-menu-dropdown {
        .cq-menu-container {
            height: 0px;

            &.active {
                height: 0px;
            }
        }
    }
    .title {
        > .icon-back-menu {
            display: inline-block;
            cursor: pointer;
            @include themify($themes) {
                color: themed('DialogSettingHeadText');
            }
        }
    }
    .body {
        padding: 0 1.6em 1.6em;
        transition: height 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        min-height: 190px;

        .ciq-list-setting {
            height: auto;

            .ciq-list-item {
                height: 38px;
                line-height: normal;
                cursor: default;

                &.ciq-list-item-lng {
                    cursor: pointer;
                }
                &.ciq-list-item-position {
                    .ciq-action {
                        .ic-icon {
                            cursor: pointer;

                            svg {
                                @include themify($themes) {
                                    stroke: themed('ChartSettingIcon');
                                    fill: themed('ChartSettingIcon');
                                }
                            }
                            &.active {
                                svg {
                                    @include themify($themes) {
                                        stroke: themed('ChartSettingActiveIcon');
                                        fill: themed('ChartSettingActiveIcon');
                                    }
                                }
                            }
                        }
                    }
                }
                .ciq-icon-text {
                    width: calc(100% - 60px);
                }
                .ciq-action {
                    width: 50px;
                    height: 25px;
                    display: flex;
                    padding: 6px 0;
                    justify-content: flex-end;
                }
                .cq-switch {
                    margin: 6px 0 0;
                }
            }
        }
        .ciq-list-language {
            height: auto;

            .ciq-list-item {
                display: inline-block;
                width: 50%;
                height: 36px;
                line-height: 36px;
                padding: 0;
                padding-left: 10px;

                &:nth-child(2n) {
                    border-left: none;
                }
                &:nth-child(2) {
                    @include themify($themes) {
                        border-top: 1px solid themed('ListLiBorder');
                    }
                }
                .ic-icon {
                    cursor: pointer;
                    display: inline-block;
                    margin: 2px 4px 0px 0px;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
    .cq-setting-container {
        height: 376px;
        width: 260px;
        position: relative;
        transition: height 250ms ease-out;

        &.container-language {
            height: 300px;

            .title-text {
                position: relative;
                bottom: 4px;
            }
        }
        .cq-setting-main,
        .cq-setting-language {
            width: 260px;
            position: absolute;
            top: 0px;
            transition: transform 250ms ease-out, opacity 0.17s ease-out;
        }
        .cq-setting-main {
            transform: translateX(-100%);

            &.animate-enter-active, &.animate-enter-done {
                transform: translateX(0);
                opacity: 1;
            }
            &.animate-exit-active, &.animate-exit-done {
                transform: translateX(-100%);
            }
        }
        .cq-setting-language {
            transform: translateX(100%);

            &.animate-enter-active, &.animate-enter-done {
                transform: translateX(0);
                opacity: 1;
            }
            &.animate-exit-active, &.animate-exit-done {
                transform: translateX(100%);
            }
        }
    }
}

.cq-chart-control-left {
    .cq-chart-setting {
        .cq-menu-dropdown {
            top: auto !important;
            bottom: 1em !important;
        }
    }
}

/* Mobile Style */
.smartcharts-mobile {
    .cq-chart-setting {
        .cq-setting-container {
            width: 100%;
            position: relative;

            .cq-setting-main,
            .cq-setting-language {
                width: 100%;
            }
        }
    }
}
