

.cq-settings-dialog {
    display: flex;
    flex-direction: column;
    .titlebar {
        height: 40x;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 24px;
            padding-left: 16px;
        }
        .icons {
            display: flex;
            align-items: center;
            height: 50px;
        }
        &.no-tabs {
            @include themify($themes) {
                border-bottom: 1px solid themed('defaultBorder');
            }
        }
    }

    .tabs {
        height: 40px;
        align-items: stretch;
        display: flex;
        position: relative;
        @include themify($themes) {
            border-bottom: 1px solid themed('defaultBorder');
        }
        @include box-sizing(border-box);
        > div {
            text-align: center;
            line-height: 40px;
            width: 50%;
            cursor: pointer;
            font-size: 14px;
            &.active { font-weight: bold; }
        }
        .active-border {
            position: absolute;
            height: 2px;
            width: calc(50% + 1px);
            bottom: -1px;
            left: 0;
            @include themify($themes) {
                background: themed('activeColor');
            }
            @include transition(left linear 0.1s);
            &.second {
                left: 50%;
            }
        }
    }

    .items {
        padding: 16px 0;
        flex-grow: 1;
        overflow: scroll;
        .item {
            @include box-sizing(border-box);
            padding: 0 16px;
            height: 32px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .title {
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        @include themify($themes) {
            border-top: 1px solid themed('defaultBorder');
        }
        > div {
            width: 90px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            @include themify($themes) {
                color: themed('activeColor');
            }
        }
    }
    .description {
        flex-grow: 1;
        padding: 16px;
        font-size: 12px;
        line-height: 18px;
    }
    input[type=number] {
        display: inline-block;
        width: 3.2em;
        line-height: 1.9em;
        margin-right: 5px;
        padding-left: 6px;
        @include themify($themes) {
            border: 1px solid themed('defaultBorderMedium');
        }
        @include border-radius(3px);
    }

    .cq-color-picker {
        display: inline-block;
    }
}
