/*! rtl:begin:ignore */

.cq-crosshair-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.cq-crosshair {
    display: none;
    pointer-events: none;
}

.chartContainer {
    &:hover,
    &:active {
        .cq-crosshair.active {
            display: block;
        }
    }
}

.cq-crosshair-tooltip {
    position: absolute;
    z-index: 30;
    top: -5px;
    left: -5px;
    pointer-events: none;

    .cq-crosshair-content {
        border-radius: $border-radius;
        pointer-events: none;
        padding: 8px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        @include themify($themes) {
            color: themed('CrosshairText');
            background: themed('CrosshairBg');
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: calc(50% - 4px);
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            display: none;
        }
        &:after {
            left: -6px;
            @include themify($themes) {
                border-right: 6px solid themed('CrosshairBg');
            }
        }
        &:before {
            left: 100%;
            @include themify($themes) {
                border-left: 6px solid themed('CrosshairBg');
            }
        }
        .row {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 4px;

            span:first-child {
                padding-right: 5px;
            }
            span:last-child {
                font-weight: bold;
            }
        }
    }
    &.arrow-left .cq-crosshair-content {
        transform: translateX(30px) translateY(-50%);
    }
    &.arrow-right .cq-crosshair-content {
        transform: translateX(calc(-100% - 30px)) translateY(-50%);
    }
    &.arrow-left .cq-crosshair-content:after,
    &.arrow-right .cq-crosshair-content:before {
        display: block;
    }
}

/* -------- Crosshairs lines and labels-------- */

.cq-crosshair-line {
    /* Standard Crosshair lines color */
    position: absolute;
    pointer-events: none;
    z-index: 1;
    @include themify($themes) {
        background-color: themed('CrosshairAxis');
    }
}

.cq-crosshair-x {
    /* Horizontal Crosshair line size */
    top: -5px;
    width: 1px;
    height: 100%;
}

.cq-crosshair-y {
    /* Vertical Crosshair line size */
    left: -5px;
    top: 0px;
    height: 1px;
    width: 98%;
    margin-top: 0; /* since we're using border-top to draw the actual line */
}

.cq-float-price,
.cq-float-date {
    border-radius: $border-radius;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Helvetica';
    z-index: 3;
    padding: 0 8px;
    text-align: center;
    width: auto;
    height: 30px;
    line-height: 31px;
    @include themify($themes) {
        background-color: themed('CrosshairLabelBg');
        color: themed('CrosshairLabelText') !important;
    }
}

.cq-float-price {
    position: absolute;
    right: 0px;
}

.cq-float-date {
    position: absolute;
    bottom: 0px;
}
/*! rtl:end:ignore */
