
.ciq-draw-tools {
    .cq-menu-dropdown {
        width: 200px;
        bottom: 3.6em;
        padding: 5px 16px 16px 16px !important;
        @include box-sizing(border-box);
    }
    .cq-menu-dropdown{
        padding: 0em !important;
        overflow: visible !important;
        .title {
            height: 40px;
            line-height: 40px;
            padding-left: 16px;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            @include themify($themes) {
                color: themed('defaultTextStrong');
            }
            .ciq-bars-buttons{
                cursor: pointer;
                display: flex;
                padding: 6px 6px;
                @include svg-icon-color('controlText');
            }
        }
        .body {
            padding: 16px;
        }
    }
}
.smartcharts-mobile{
    .ciq-draw-tools {
        .ciq-list{
            margin: 0px 15px;
        }
    }   
}