
.ciq-draw-tools {
    .cq-menu-dropdown {
        width: 200px;
        box-sizing: border-box;
        overflow: visible !important;

        .body {
            padding: 0 16px;
            overflow: visible;

            .cq-draw-buttons {
                display: flex;
                margin-top: 18px;
            }
            .cq-draw-buttons + div {
                border-radius: 4px 4px 0 0;
            }
            .cq-draw-button {
                flex: 1;
                display: flex;
                justify-content: center;
                cursor: pointer;
                margin: 0 0 8px;
                border-radius: 3px;

                @include themify($themes) {
                    border: solid themed('DropdownBorder') 1px;
                }
            }
            .ciq-list {
                padding-right: 9px;
            }
        }
    }
}
