
.ciq-draw-tools {
    .cq-menu-dropdown {
        width: 200px;
        box-sizing: border-box;
        overflow: visible !important;

        .body {
            padding: 0px 7px 0px 16px;
            overflow: visible;

            .cq-draw-buttons {
                display: flex;
            }
            .cq-draw-button {
                flex: 1;
                display: flex;
                justify-content: center;
                cursor: pointer;
                margin: 8px 0;
                border-radius: 3px;

                @include themify($themes) {
                    border: solid themed('DropdownBorder') 1px;
                }
            }
            .ciq-list {
                max-height: 260px;

                .cq-draw-buttons + .ciq-list-item {
                    @include themify($themes) {
                        border-top: 1px solid themed('DropdownBorder');
                    }
                }
            }
        }
    }
}
