.sc-highlow {
    width: 160px;
    height: 160px;
}

.spot {
    &__shape {
        &-circule {
            border-radius: 100%;
            width: 6px;
            height: 6px;
            margin-left: 77px;
            margin-top: 77px;
            line-height: 1px;
            position: absolute;

        }
    }
    &__fill {
        &-red {
            @include themify ($themes) {
                background-color: themed('LowestSpotColor');
            }
        }
        &-blue {
            @include themify ($themes) {
                background-color: themed('HighestSpotColor');
            }
        }
    }
    &__label {
        text-align: center;
        padding: 4px;
        white-space: nowrap;
        position: absolute;
        z-index: 1;
        margin-left: 0px;
        line-height: 1.5;
        @include themify($themes) {
            background-color: themed('HighestLowestMarkerLabelBg');
            color: themed('HighestLowestMarkerLabelText');
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            margin-left: 0px;
            border-width: 4px;
            border-style: solid;
        }
        &[data-label-pos='top'] {
            border-radius: 3px 3px 3px 0px;
            margin-top: 42px;
            margin-left: 79px;

            &:after {
                top: 100%;
                @include themify($themes) {
                    border-color: themed('HighestLowestMarkerLabelBg') transparent transparent themed('HighestLowestMarkerLabelBg');
                }
            }
        }
        &[data-label-pos='bottom'] {
            border-radius: 0px 3px 3px;
            margin-top: 91px;
            margin-left: 79px;

            &:after {
                bottom: 100%;
                @include themify($themes) {
                    border-color: transparent transparent themed('HighestLowestMarkerLabelBg') themed('HighestLowestMarkerLabelBg');
                }
            }
        }
    }
}
