.ic-icon {
    display: block;
    height: 24px;
    width: 24px;
    line-height: 32px;
    transition: box-shadow .2s ease-in, background .2s ease-in;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;

    &.brand-blue {
        svg path {
            fill: #2a3052,
        }
    }
    &.fill-orange {
        svg path {
            fill: #E98024;
        }
    }
    &.active {
        border: 1px solid #4c5794;
        box-shadow: 0px 0px 0px 2px rgba(76,87,148,.4);
        background: #f2f3f8;

        svg {
            top: -1px;
        }
    }
    &.margin {
        margin: 0 5px;
    }
    svg {
        position: relative;
    }
}
.tooltip {
    position: relative;
    font-size: 12px;
    &:after {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        border-radius: 5px;
        height: 16px;
        width: 65px;
        line-height: 16px;
        top: 32px;
        color: #fff;
        content: attr(tooltip-title);
        left: 10%;
        padding: 6px;
        z-index: 98;
        background: rgba(21,33,45,0.88);
        box-shadow: 0 2px 8px 0 rgba(21,33,45,0.32);
        border-radius: 4px;
    }
    &:before {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        border: solid;
        border-color: rgba(21,33,45,0.88) transparent;
        border-width: 0px 4px 4px 4px;
        top: 28px;
        content: "";
        left: 40%;
        z-index: 99;
    }

    &:hover:after, &:hover:before {
        opacity: 1;
    }
}
