@import '../_variables';

.ic-icon, .cq-text-icon {
    display: block;
    height: $normal-icon-size;
    width: $normal-icon-size;
    line-height: 32px;
    transition: all 0.2s 0.15s;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;

    &.ciq-favorite, &.ic-favorite {
        svg {
            fill: none !important;
            @include themify($themes) {
                stroke: themed('MenuIcon');
            }
        }
    }
    &.ciq-active-favorite {
        svg {
            @include themify($themes) {
                fill: themed('StarIconFav') !important;
                stroke: themed('StarIconFav') !important;
            }
        }
    }
    &.margin {
        margin: 0 5px;
    }
    svg {
        position: relative;
    }
    br, .ic-subtitle {
        display: none;
    }
}

.ic-icon-with-sub {
    height: auto !important;
    width: auto !important;
    line-height: 15px;

    br, .ic-subtitle {
        display: inline;
    }
}

.cq-chart-controls .cq-menu-btn,
.sc-filter,
.cq-active-options,
.titlebar > .icons,
.cq-draw-button,
.cq-lookup-input,
.template-name,
.ciq-views .ciq-list-item,
.ciq-chart-dialog,
.cq-menu-dropdown .title, // Close icon right of dropdown title in mobile mode
.ciq-chart-types .ciq-list-item,
.sc-mcd__filter,
.sc-mcd__category__head .category-title-left,
.sc-mcd__category__head {
    .ic-icon > svg {
        @include themify($themes) {
            fill: themed('MenuIcon');
            stroke: themed('MenuIcon');
        }
    }
}

.stx-ico-up {
    transform: rotate(180deg); // reuse the down icon by rotating the up icon
}

.cq-chart-controls .stxMenuActive .cq-menu-btn .ic-icon,
.ciq-aggregate-setting > .ic-icon:hover,
.cq-active-options .ic-icon:hover,
.ciq-chart-types .ciq-list-item .active.ic-icon {
    svg {
        @include themify($themes) {
            fill: themed('MenuActiveIcon');
            stroke: themed('MenuActiveIcon');
        }
    }
}

.ic-frx, .ic-otc, .ic-wld {
    width: 32px;
    min-width: 32px;
    height: 32px;
    position: relative;
    display: inline-block;
    vertical-align: top;

    > span {
        position: absolute;
    }
}

.ic-frx {
    > span:last-child {
        top: 8px;
        left: 8px;
    }
}

.ic-otc {
    > span {
        top: 5px;
    }
    > span:last-child {
        top: -8px;
        left: 9px;
    }
}

.ic-wld {
    > span:last-child {
        > svg {
            width: 15px;
            height: 10px;
        }
        top: -11px;
        left: 13px;
    }
}

.ic-icon {
    &.ic-frxXAUUSD > svg {
        fill: #ffd700;
    }
    &.ic-frxXPDUSD > svg {
        fill: #e9eaf0;
    }
    &.ic-frxXPTUSD > svg {
        fill: #f4f3f3;
    }
    &.ic-frxXAGUSD > svg {
        fill: #e1e1e1;
    }
}

.smartcharts {
    // temp workaround for svg icon that cannot be themed
    .ic-cryptocurrency > svg {
        stroke: none !important;
    }
    &-dark {
        .ic-cryptocurrency > svg {
            filter: brightness(3);
        }
        .sc-mcd__filter__item--selected {
            .ic-cryptocurrency > svg {
                filter: brightness(6);
            }
        }
    }
    &-mobile {
        .cq-chart-controls .ciq-menu {
            padding: 0px;
        }
        br, .ic-subtitle {
            display: none;
        }
    }
}
