.cq-last-digits {
    position: absolute;
    bottom: 85px;
    left: calc(50% - 150px);
    visibility: hidden;

    &.show {
        visibility: visible;
    }
    .cq-bars {
        height: 70px;
        @include themify($themes) {
            color: themed('LastdigitsBarText');
        }

        .min {
            @include themify($themes) {
                color: themed('LastdigitsMinBarBg');
            }
        }
        .max {
            @include themify($themes) {
                color: themed('LastdigitsMaxBarBg');
            }
        }
        .cq-bar-value {
            margin: -16px 0 0 -5px;
            transition: opacity 0.8s linear;
            font-size: 10px;
        }
        .cq-bar {
            width: 10px;
            @include themify($themes) {
                background-color: themed('LastdigitsBarBg');
            }
            position: absolute;
            bottom: 40px;
            -webkit-transition: height 0.8s ease-in-out; /* For Safari 3.1 to 6.0 */
            transition: height 0.8s ease-in-out;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;

            .cq-bar-title {
                position: absolute;
                bottom: -16px;
                width: 10px;
                text-align: center;
            }
            &.min {
                @include themify($themes) {
                    background-color: themed('LastdigitsMinBarBg');
                }
            }
            &.max {
                @include themify($themes) {
                    background-color: themed('LastdigitsMaxBarBg');
                }
            }
        }
    }
    .cq-bar-footer {
        text-align: center;
        width: 325px;
        @include themify($themes) {
            color: themed('LastdigitsBarText');
        }
    }
}