.cq-loader, .cq-comparison-loader, .cq-loading {
    background-image: svg-load('icons/loading/loading-spin.svg');
    background-size: cover;
}

.cq-loader {
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 1;

    &.show {
        display: block;
        z-index: 9;
    }
}

.cq-loading {
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    margin-bottom: 2px;
    margin-left: 1px;
}
