
.sc-navigation-widget {
    width: 32px;
    position: absolute;
    bottom: 80px;
    left: 13px;
    z-index: 4;

    &__item {
        &--scale {
            margin-bottom: 8px;
        }
        &--zoom {
            .ic-icon:first-child {
                margin-bottom: 2px;
            }
        }
        &--hidden {
            display: none;
        }
        &--disabled {
            opacity: 0.5;
            pointer-events: none;
        }
        .ic-icon {
            width: 32px;
            height: 32px;
            border-radius: $border-radius;
            cursor: pointer;
            margin: auto;
            line-height: 41px;
            transition: none;
            @include themify($themes) {
                background-color: themed('NavigationWidgetBg');
            }

            svg {
                @include themify($themes) {
                    fill: themed('NavigationWidgetColor');
                }
            }
        }
    }
}

.smartcharts-mobile .sc-navigation-widget__item--indent {
    margin-bottom: calc(10% - 1rem);
}