
.sc-studies {
    $self: &;

    .react-tabs__tab-list {
        .react-tabs__tab {
            box-shadow: none !important;
            outline: none !important;

            &:after {
                display: none;
            }
        }
    }
    .hidden {
        display: none;
    }
    .cq-dialog__body {
        position: relative;
    }
    &__panel {
        width: 360px;
        height: 392px;
        padding: 8px 0px 8px 8px;
        box-sizing: border-box;

        > h3 {
            font-size: 14px;
            color: #999999;
            font-weight: normal;
            padding: 0 8px;
            margin: 18px 0;
            display: none;
        }
        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            p {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                line-height: 0.1;
                letter-spacing: normal;
                padding: 0 8px;
                @include themify($themes) {
                    color: themed('IndicatorListItemText');
                }
            }
        }
        &__content {
            width: 100%;

            &--active {
                #{ $self }__list__item {
                    height: 48px;
                    cursor: initial;

                    &__box {
                        padding: 4px 16px;
                        height: 48px;
                    }
                }
            }
        }
        &--active {
            padding-right: 8px;
        }
        &--search {
            .sc-scrollbar {
                .sc-studies__category:first-child {
                    .sc-studies__list {
                        &__item {
                            &:nth-child(1),
                            &:nth-child(2) {
                                .sc-tooltip__inner {
                                    position: fixed;
                                    left: auto;
                                    top: auto;
                                    transform: translateY(-100%) translateX(10%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &--empty {
        display: flex;
        flex-direction: column;
        padding: 8px;
        justify-content: center;
        align-content: center;
        text-align: center;

        > .ic-icon {
            width: 130px;
            height: 130px;
            margin: 60px auto 24px;
        }
        strong {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            margin-bottom: 8px;
            @include themify($themes) {
                color: themed('IndicatorEmptyTitleText');
            }
        }
        p {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            margin: 0px;
            @include themify($themes) {
                color: themed('IndicatorEmptyText');
            }
        }
    }
    &__list {
        &__item {
            display: block;
            height: 40px;

            &__box {
                height: 40px;
                cursor: pointer;
                position: relative;
                display: flex;
                margin-right: 4px;
                border-radius: $border-radius;
                box-sizing: border-box;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    @include themify($themes) {
                        background: themed('IndicatorListItemHoverBg');
                    }

                    .ic-info {
                        opacity: 1;
                    }
                }
                .info {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: 100%;
                    padding: 8px 0 8px 16px;

                    .ic-icon {
                        margin-right: 16px;
                    }
                    .text {
                        display: flex;
                        flex-direction: column;
                        padding-left: 16px;

                        span {
                            font-size: 14px;
                            font-weight: normal;
                            font-style: normal;
                            line-height: 1.43;
                            letter-spacing: normal;
                            margin-right: 16px;
                            @include themify($themes) {
                                color: themed('IndicatorListItemText');
                            }
                        }
                        small {
                            display: block;
                            font-size: 12px;
                            font-weight: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: normal;
                            margin-top: 2px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            max-width: 170px;
                            @include themify($themes) {
                                color: themed('IndicatorListItemSubText');
                            }
                        }
                    }
                }
                .detail {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0px;

                    span {
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        text-align: right;
                        margin-left: 8px;
                    }
                    .ic-icon {
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                        transition: none;

                        svg {
                            width: 16px;
                            height: 16px;
                            @include themify($themes) {
                                fill: themed('IndicatorListItemText');
                            }
                        }
                        &.ic-info {
                            margin-right: 16px;
                        }
                    }
                }
                .ic-info {
                    opacity: 0;
                }
            }
            .sc-tooltip__inner {
                width: 280px;
                height: auto;
                white-space: break-spaces;
                text-align: center;
            }
            &--disabled {
                opacity: 0.3;
                pointer-events: none;
            }
            &--disabled-prediction {
                .info {
                    opacity: 0.3;
                    pointer-events: none;
                }
            }
        }
    }
    &__category {
        &__head {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            padding: 8px;
            @include themify($themes) {
                color: themed('IndicatorCategoryText');
            }
        }
        &__body {
            width: 100%;
        }
    }
    &__info {
        width: 360px;
        right: 0px;
        z-index: 2;
        height: 100%;
        display: flex;
        position: absolute;
        padding: 16px 24px;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        @include themify($themes) {
            color: themed('IndicatorInfoText');
            background: themed('IndicatorInfoBg');
        }

        &__content {
            margin: -20px -20px 0;
            padding: 0;

            p {
                padding: 16px 24px;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                margin: 0px;
            }
        }
        &__footer {
            width: 100%;
            position: relative;

            .sc-btn {
                width: 100%;

                &:disabled {
                    opacity: 0.32;
                    pointer-events: none;
                }
            }
            .sc-tooltip__inner {
                width: 280px;
                height: auto;
                white-space: break-spaces;
                text-align: center;
            }
        }
    }
}

.smartcharts-mobile {
    .stx-panel-control {
        left: 5px;
    }
    .sc-studies {
        .react-tabs__tab-panel {
            height: 425px !important;
        }
        .sc-dialog {
            overflow-y: scroll;
            max-height: calc(100vh - 90px);
        }
    }
    .tabs--vertical .react-tabs__tab-list {
        width: 50px;
        min-width: 50px;

        .react-tabs__tab {
            span:not(.sc-notification-badge):not(.ic-icon) {
                display: none;
            }
            .sc-notification-badge {
                position: absolute;
                top: 2px;
                left: 19px;
            }
            .ic-icon {
                width: 22px;
                height: 22px;

                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
    .tabs--vertical .react-tabs__tab-panel {
        width: calc(100% - 50px);
    }
    .sc-studies__panel {
        width: 100%;

        > h3 {
            display: block;
        }
    }
    .sc-studies__panel__content--active .sc-studies__list__item {
        padding: 4px;
    }
    .sc-studies__list__item .info {
        padding: 8px 0 8px 8px;

        .text {
            padding-left: 0px;
        }
    }
    .sc-studies__list__item .ic-info {
        opacity: 1;
    }
    .sc-studies__list__item .detail span {
        margin-left: 16px;
    }
    .sc-studies__info {
        width: calc(100% - 50px);

        > p {
            max-height: 360px;
            height: 360px;
            overflow-y: scroll;
        }
    }
}
