

cq-lookup-results {
    display: flex;
    text-align: left;
    background-color: $DEFAULT-menu-bg;
    margin-top: 5px;
    color: $DEFAULT-text-medium;
    opacity: 0;
    //transition: opacity .20s .50s;
    overflow: hidden;
    height: 0px;
    @include box-shadow (0px, 2px, 4px, rgba(0, 0, 0, .2));
    .category {
        margin: 0.4em 1em 1em 1em;
        box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.08);
    }
    .category-title {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.5em 0.9em;
    }
    cq-scroll {
        background-color: #f4f4f6;
        width: 25em;
    }
}


.stxMenuActive {
    cq-lookup {
        width: 40em;
    }
    cq-lookup-results, &.cq-categorical-display > .cq-menu-dropdown {
        opacity: 1;
        height: auto;
    }
    cq-lookup-icon {
        opacity: 1;
    }
}

cq-lookup cq-menu-dropdown { /* Search Results Panel */
    position: relative;
    padding: 0px;
    transition: opacity .20s .50s;

    .break-md &,
    .break-lg & {
        width: auto;
    }
    .break-md & {
        left: 0px;
        top: $nav-height;
        right: 0px;
        bottom: auto;
    }
    .break-sm & {
        left: 0px;
        top: 10px;
        right: 0px;
        bottom: auto;
    }
}

cq-lookup-filters { /* Results Filter Row */
    display: flex;
    flex-direction: column;
    width: 15em;
    text-align: left;
    padding: 0;
    border-right: solid thin $DEFAULT-border-subtle;
}

cq-lookup-filters cq-filter { /* Filter Options */
    margin: 0 10px;
    padding: 0 5px;
    display: inline-block;
    line-height: 45px;
    font-size: 12px;
    color: $DEFAULT-text-subtle;
    font-weight: 700;
    font-family: $heading-font;
    cursor: pointer;
    transition: color .20s .0s;

    &.true,
    &.true:hover,
    &.true:active { /* Selected Filter Options */
        border-bottom: 3px solid $DEFAULT-accent;
        color: $DEFAULT-accent;
    }
    &:hover,
    &:active {
        color: $DEFAULT-text-medium;
    }
}

cq-lookup-filters {
    .break-sm &, .break-md & {
        height: 90px;
    }
}

cq-lookup cq-scroll { /* Div Containing UL Containing Results */
    padding: 0;

    .break-sm &, .break-md & {
        padding-bottom: 5px;
    }
}

cq-lookup-results {
    & .cq-iscroller {
        display: table;
        width: 100%;
    }
    & cq-scroll:first-child {
        display: table;
        width: 100%;
    }
    & cq-item {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        background-color: white;
        display: block;
        cursor: pointer;
        white-space: normal;
    }
    & cq-item[disabled] {
        pointer-events: none;
        &:not(.selected) span {
            color: #c5c5c5 !important;
        }
        &.selected {
            background-color: #efefef;
        }

    }
    & cq-item span { /* Results Row Content */
        line-height: 27px;
        display: table-cell;
        margin: 0px;
    }
}
