.ciq-period {
	padding: 0 5px!important;
	line-height: 1.5em !important;
	>.cq-menu-btn {
		padding: 0 5px;
		>.bt-priod {
			display: block;
			height: auto;
			line-height: 2em;
			transition: all .2s .15s;
			border-radius: 2px;
			box-sizing: border-box;
			cursor: pointer;
			text-align: center;
			padding-top: 5px;
			.ic-priod {
				padding: 6px 10px;
			}
		}
	}
	&.stxMenuActive,
	&:hover {
		.bt-priod {
			@include themify($themes) {color: themed('controlTextActive');}
		}
		.ic-priod {
			@include border-radius(4px);
			@include themify($themes) {
				box-shadow: inset 0 0 0 1px themed('activeColor');
				background: themed('controlBgActive');
			}
		}
	}
	&:after {
		display: none;
	}
	.unit_display {
		text-transform: capitalize;
	}
	.interval_display {
		margin: 0 5px 0 0;
	}
	.cq-menu-dropdown {
		display: flex;
		flex-direction: row;
		width: 296px;
		;
		height: 160px;
		transform: translate(-50%, 0);
		font-size: 12px;
		font-weight: normal;

		.timeUnit {
			display: flex;
			flex-direction: column;
			width: 88px;
			height: 100%;
			@include themify($themes) {border-right: 1px solid themed('controlText');}
			span {
				display: block;
				height: 40px;
				padding-left: 16px;
				line-height: 40px;
				font-weight: 300;
				@include themify($themes) {color: themed('controlText');}
				&.selected {
					@include themify($themes) {
						box-shadow: inset 0 0 0 1px themed('activeColor');
						background: themed('controlBgActive');
					}
					font-weight: 500;
				}
			}
		}

		.interval {
			display: flex;
			flex-direction: column;
			width: 208px;

			.row {
				height: 40px;
				display: flex;
				flex-direction: row;
				margin: 0 4px;
				align-items: center;
				font-weight: 300;

				span {
					cursor: pointer;
					margin: 0 4px 0 0;
					width: 24px;
					height: 24px;
					text-align: center;
					@include themify($themes) {color: themed('controlText');}
					&.selected {
						@include border-radius(4px);
						@include themify($themes) {
							box-shadow: inset 0 0 0 1px themed('activeColor');
							background: themed('controlBgActive');
						}
						line-height: 24px;
					}
				}
			}
		}
	}
}


/* Mobile Style */

.smartcharts-mobile {
	.ciq-period {
		padding: 0 5px !important;
		>.cq-menu-btn {
			padding: 0 10px;
			>span {
				padding: 0 2px;
			}
		}
	}
}