.sc-interval {
    $self: &;
    display: flex;
    padding: 24px;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: $border-radius;
    @include themify($themes) {
        background: themed('TimeBg');
        color: themed('TimeText');
    }

    &__head {
        display: flex;

        strong {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            @include themify($themes) {
                color: themed('TimeTitleText');
            }
        }
    }
    &__info {
        display: none;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        padding-top: 16px;

        #{ $self }__item {
            width: 23.9%;
            height: 32px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 4px 8px 0px;
            cursor: pointer;
            border-radius: $border-radius;
            border: 1px solid transparent;
            box-sizing: border-box;
            position: relative;

            &:hover {
                @include themify($themes) {
                    background: themed('TimeHoverBg');
                }
            }
            &--active {
                background: transparent !important;
                @include themify($themes) {
                    color: themed('TimeActiveText');
                    border-color: themed('TimeActiveItemBorder');
                    font-weight: bold;
                }
            }
            &--disabled {
                cursor: initial;
                background: transparent !important;

                span {
                    opacity: 0.32;
                    pointer-events: none;
                }
            }
        }
    }
}

/* Mobile Style */
.smartcharts-mobile {
    .sc-interval {
        padding: 8px 10px 24px;
    }
    .sc-interval__info {
        display: block;
    }
    .sc-interval__content .sc-interval__item {
        width: 31.9% !important;
        margin: 0 4px 8px 0px;
    }
}
