.ciq-period {
    padding: 0;
    line-height: 1.5em !important;

    > .cq-menu-btn {
        padding: 0 5px;

        > .bt-priod {
            display: block;
            height: auto;
            line-height: 2em;
            border-radius: 2px;
            box-sizing: border-box;
            text-align: center;
            font-size: 1em;
            @include themify($themes) {
                color: themed('menuText');
            }

            .ic-priod {
                font-size: 1.2em;
                border-radius: 4px;
                padding: 3px 5px;
            }
        }
    }
    &:hover {
        .ic-priod {
            @include themify($themes) {
                background: themed('menuActiveBg');
            }
        }
    }
    &.stxMenuActive {
        .bt-priod {
            font-weight: 500;
        }
        .ic-priod {
            @include themify($themes) {
                background: themed('menuActiveBg');
            }
        }
        .ic-subtitle,
        .ic-priod span {
            @include themify($themes) {
                color: themed('MenuActiveText');
            }
        }
    }
    &:after {
        display: none;
    }
    .unit_display {
        text-transform: capitalize;
    }
    .interval_display {
        margin: 0 5px 0 0;
    }
    .cq-menu-dropdown {
        width: 424px;
        height: 216px;
        font-size: 1.2em;
        font-weight: normal;
    }
}

.cq-interval {
    $self: &;
    display: flex;
    padding: 24px;
    flex-direction: column;
    box-sizing: border-box;
    @include themify($themes) {
        background: themed('TimeBg');
        color: themed('TimeText');
    }

    &__head {
        display: flex;

        strong {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        padding-top: 16px;

        #{ $self }__item {
            width: 88px;
            height: 32px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            display: flex;
            justify-content: center;
            margin: 0 4px 8px 0px;
            align-items: center;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid transparent;
            box-sizing: border-box;

            &--active {
                @include themify($themes) {
                    border-color: themed('TimeActiveItemBorder');
                }
            }
        }
    }
}

.cq-chart-control-left {
    .ciq-period {
        .cq-menu-btn {
            padding: 0 3px !important;

            .bt-priod {
                line-height: 1.8em;
            }
        }
    }
}

/* Mobile Style */
.smartcharts-mobile {
    .ciq-period {
        padding: 0 !important;

        > .cq-menu-btn {
            padding: 0 !important;

            .bt-priod {
                > span {
                    padding: 5px !important;
                }
            }
        }
    }
}

.cq-chart-control-bottom .ciq-period {
    .smartcharts-480 & {
        // width: 70px !important;
        top: 0px;

        > .cq-menu-btn {
            //padding: 16px 5px !important;
        }
    }
    .smartcharts-900 & {
        // width: 80px !important;
        top: 0px;

        > .cq-menu-btn {
            // padding: 16px 5px !important;
        }
    }
    .smartcharts-1280 & {
        // width: 100px !important;
        top: 0px;

        // .bt-priod {
        //     padding-top: 8px;
        // }
    }
}
