.ciq-period {
	padding: 0 5px!important;
	line-height: 1.5em !important;
	>.cq-menu-btn {
		padding: 0 5px;
		>.bt-priod {
			display: block;
			height: auto;
			line-height: 2em;
			transition: all .2s .15s;
			border-radius: 2px;
			box-sizing: border-box;
			cursor: pointer;
			text-align: center;
			padding-top: 5px;
			.ic-priod {
				@include border-radius(4px);
				padding: 6px 10px;
			}
		}
	}
	&:hover {
		.ic-priod {
			@include themify($themes) {
				background: themed('defaultBgActive');
			}
		}
	}
	&.stxMenuActive {
		.bt-priod {
			font-weight: 500;
			@include themify($themes) {color: themed('controlTextActive');}
		}
		.ic-priod {
			@include themify($themes) {
				box-shadow: inset 0 0 0 1px themed('activeColor');
				background: themed('defaultBgActive');
			}
		}
	}
	&:after {
		display: none;
	}
	.unit_display {
		text-transform: capitalize;
	}
	.interval_display {
		margin: 0 5px 0 0;
	}
	.cq-menu-dropdown {
		width: 296px;
		height: 160px;
		transform: translate(-50%, 0);
		font-size: 12px;
		font-weight: normal;
		.cq-interval{
			height: 160px;
			width: 100%;
			display: flex;
			flex-direction: row;
			@include themify($themes) {background: themed('defaultMain');}
		}
		.timeUnit {
			display: flex;
			flex-direction: column;
			width: 88px;
			height: 100%;
			span {
				display: block;
				height: 40px;
				padding-left: 16px;
				line-height: 40px;
				font-weight: 300;
				@include themify($themes) {
					color: themed('controlText');
					border-right: 1px solid themed('defaultBorder');
				}
				&.selected {
					font-weight: 500;
					@include themify($themes) {
						border-right: 2px solid themed('activeColor');
						background: themed('defaultBgActive');
						color: themed('activeColor');
					}
				}
			}
		}

		.interval {
			display: flex;
			flex-direction: column;
			width: 208px;
			.row {
				height: 40px;
				display: flex;
				flex-direction: row;
				margin: 0 4px;
				align-items: center;
				font-weight: 300;
				span {
					cursor: pointer;
					margin: 0 4px 0 0;
					width: 24px;
					height: 24px;
					text-align: center;
					@include themify($themes) {color: themed('controlText');}
					&.selected {
						line-height: 24px;
						@include border-radius(4px);
						@include themify($themes) {
							box-shadow: inset 0 0 0 1px themed('activeColor');
							background: themed('activeColor');
							color: themed('defaultMain');
						}
					}
				}
			}
		}
	}
}

.cq-chart-control-left{
	.ciq-period {
		>.cq-menu-btn {
			>.bt-priod {
				.ic-priod {
					padding: 6px 20px;
				}
			}
		}
	}
}

/* Mobile Style */
.smartcharts-mobile {
	.ciq-period {
		padding: 0 !important;
		>.cq-menu-btn {
			padding: 0 !important;
			.bt-priod{
				>span {
					padding: 5px 5px !important;
				}
			}
		}
	}
}

.smartcharts-480 {
    .ciq-period{
        width: 70px !important;
        top: -5px;
    }
}
.smartcharts-900 {
    .ciq-period{
        width: 80px !important;
        top: 0px;
    }
}
.smartcharts-1100 {
    .ciq-period{
        width: 100px !important;
        top: 0px;
    }
}
