
.ciq-toolbar-widget {
    position: absolute;
    border-radius: 4px;
    width: 40px;
    top: 102px;
    left: 1.1em;
    z-index: 9;
    box-sizing: content-box;
    @include themify($themes) {
        background: themed('ToolbarWidgetBg');
        border: 8px solid themed('ToolbarWidgetBorder');
    }

    &--bottom {
        top: auto;
        bottom: 38px;
    }
    .ciq-menu {
        .cq-menu-btn {
            .ciq-chart-mode__menu {
                width: 40px;
                height: 40px;

                .ic-icon {
                    width: 24px !important;
                    height: 24px !important;

                    svg {
                        width: 24px !important;
                        height: 24px !important;
                    }
                }
            }
        }
    }
}
