.ciq-views {
    .cq-menu-dropdown {
        width: 280px;
        height: 200px;
        transform: translate(-50%);
        left: 50%;

        .title {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            display: flex;

            .title-text {
                display: block;
                font-size: 16px;
                line-height: 40px;
                font-weight: 400;
                padding: 0 0.7em;
            }
        }
        .template-name {
            display: flex;
            align-items: center;
            height: 32px;
            padding: 0 0 0 16px;
            margin: 16px 11px 0 0;
            @include box-sizing(border-box);
            @include themify($themes) {
                border: 1px solid themed('ListLiBorder');
                background: themed('ListLiBg');
            }

            .icon {
                display: flex;
                justify-content: flex-end;

                &.hide {
                    display: none;
                }
                .tick-icon {
                    @include svg-icon-stroke('TemplateAddIcon');
                }
                .add-icon {
                    @include svg-icon-color('TemplateAddIcon');
                }
            }
            .add {
                display: flex;
                flex-grow: 8;

                .ic-icon {
                    @include svg-icon-color('TemplateAddIcon');
                }
            }
            .add-new {
                flex: 8 0 0;
                cursor: pointer;
            }
            .view-input {
                font-size: 12px;
                font-weight: normal;
                width: 100%;
                padding: 0 30px 0 5px;
                border: none;
                outline: none;
                @include themify($themes) {
                    color: themed('TemplateInputText');
                    background-color: themed('DefaultMain');
                }
            }
        }
        .content {
            display: block;
            height: 145px;
            padding: 0px 5px 16px 16px;

            .ciq-list {
                height: 115px;
                overflow: auto;
                display: block;

                .ciq-list-item {
                    align-items: center;
                    justify-content: flex-start;
                    display: flex;

                    &:hover {
                        @include themify($themes) {
                            color: themed('TemplateActiveIcon');
                        }

                        .ic-icon {
                            opacity: 1;
                            @include themify($themes) {
                                color: themed('TemplateActiveIcon');
                            }
                            @include svg-icon-color('TemplateActiveIcon');
                        }
                    }
                    .ciq-list-item-text {
                        width: calc(100% - 40px);
                    }
                    .ic-icon {
                        justify-content: flex-end;
                        width: 40px;
                        opacity: 0;
                        transition: opacity 0.15s 0.2s;
                        @include svg-icon-color('TemplateText');
                    }
                    &:first-child {
                        border-top: none;
                        margin-top: 0;
                    }
                    &:nth-last-child(-n+3) {
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
    }
    .ovrwrit-alrt {
        margin: 16px 0 0 -16px;

        .ovrwrit-alrt-title {
            text-align: center;

            .ic-icon {
                width: 100%;
                margin-bottom: 10px;

                > svg {
                    width: 24px;
                    height: 24px;
                }
            }
            > span {
                display: block;
                text-align: center;
                height: 20px;
            }
        }
        .ovrwrit-alrt-buttons {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: 16px;
            right: 30px;
            font-weight: bold;

            > div {
                width: 90px;
                text-align: center;
                cursor: pointer;
                @include themify($themes) {
                    color: themed('TemplateBtn');
                }
            }
        }
    }
}

.smartcharts-mobile {
    .cq-menu-dropdown {
        .dropdown-title {
            .icon {
                flex: none;
            }
        }
        .content .ciq-list .ciq-list-item .ic-icon {
            opacity: 1;
        }
    }
}
