.ciq-views {
	.cq-menu-dropdown {
		width: 280px;
		height: 200px;
		transform: translate(-50%);
		left: 50%;
		overflow: visible !important;
		.title {
			display: flex;
			align-items: center;
			flex-direction: row;
			height: 40px;
			padding: 5px 10px;
			@include box-sizing(border-box);
			.icon {
				display: flex;
				flex: 8 0 0;
				justify-content: flex-end
			}
			.add {
				margin-bottom: 1px;
				display: flex;
				.ic-icon {
					flex: 1 0 0;
					position: relative;
					right: 20px;
					@include svg-icon-color('controlText');
				}
			}
			.view-input {
				flex: 8 0 0;
				font-size: 12px;
				font-weight: normal;
				width: 100%;
				padding: 0 30px 0 0;
				line-height: 24px;
				border: none;
				outline: none;
				border-bottom: 1px solid #4b5794;
				@include themify($themes) {
					color: themed('controlText');
					background-color: themed('defaultMain');
				}
			}
		}
		.content {
			display: block;
			height: 135px;
			overflow: scroll;
			padding: 16px;
			.ciq-list{
				.ciq-list-item{
					align-items: center;
					justify-content: flex-start;
					display: flex;
					&:hover{
						@include themify($themes) {
							color: themed('defaultTextActive');
							background-color: themed('listBgActive');
						}
						.ic-icon{
							opacity: 1;
							@include themify($themes) {color: themed('controlTextActive');}
							@include svg-icon-color('controlTextActive');
						}
					}
					.ciq-list-item-text{
						width: calc( 100% - 40px );
					}
					.ic-icon{
						justify-content: flex-end;
						width: 40px;
						opacity: 0;
						transition: opacity 0.15s .2s;
						@include svg-icon-color('controlText');
					}
				}
			}
			.placeholder {
				p {
					height: 20px;
					font-size: 12px;
					margin: 0;
					text-align: center;
					color: #aeaeaf;
				}
			}
		}
	}
	.cq-view-dialog
	{
		margin-top: 100;
		background: #0b1838;
		opacity: .7;
		margin-bottom: 5px;
		width: 340px;
		height: 80px !important;
		border-radius: 5px;
		color: white;
		&.open{
			position: relative;
		}
	}
	.cq-view-dialog .dlg-content
	{
		text-align: center;
		padding-top: 10px;
		display: flex;
		justify-content:center;
		>.ic-icon
		{
			-moz-transition: none;
			-webkit-transition: none;
			-ms-transition: none;
    		-o-transition: color 0 ease-in;
			transition: none;
			padding-right :5px;
		}
	}
	.cq-view-dialog .dlg-buttons
	{
		display:flex;
		justify-content: flex-end;
		margin-top: 10px;
		margin-right: 10px;
		>div{
			width: 90px;
			height: 40px;
			text-align: center;
			cursor: pointer;
			font-size: 12px;
		}
	}
}
.smartcharts-mobile{
	.cq-menu-dropdown {
		.dropdown-title {
			.icon {
				flex: none;
			}
		}
	}
}
