.ciq-views {
    .cq-menu-dropdown {
        width: 260px;
        height: 196px;

        .template-name {
            display: flex;
            align-items: center;
            height: 32px;
            padding: 0 4px 0 16px;
            box-sizing: border-box;
            @include themify($themes) {
                border: 1px solid themed('ListLiBorder');
                background: themed('ListLiBg');
            }

            .icon {
                display: flex;
                justify-content: flex-end;

                &.hide {
                    display: none;
                }
            }
            .add {
                display: flex;
                flex-grow: 8;
            }
            .add-new {
                flex: 8 0 0;
                cursor: pointer;
            }
            .view-input {
                font-size: 12px;
                font-weight: normal;
                width: 100%;
                padding: 0 30px 0 5px;
                border: none;
                outline: none;
                @include themify($themes) {
                    color: themed('TemplateInputText');
                    background-color: themed('DefaultMain');
                }
            }
        }
        .content {
            display: block;
            height: 140px;
            padding: 16px;
            position: relative;

            .ciq-list {
                max-height: 107px !important;
                width: 100%;
                padding: 0px !important;
                display: block;

                .ciq-list-item {
                    align-items: center;
                    justify-content: flex-start;
                    display: flex;

                    &:hover {
                        @include themify($themes) {
                            color: themed('TemplateActiveIcon');
                        }

                        .ic-icon {
                            opacity: 1;
                            @include themify($themes) {
                                color: themed('TemplateActiveIcon');
                            }
                        }
                    }
                    .ciq-list-item-text {
                        width: calc(100% - 40px);
                    }
                    .ic-icon {
                        justify-content: flex-end;
                        width: 40px;
                        opacity: 0;
                        transition: opacity 0.15s 0.2s;
                    }
                    &:first-child {
                        border-top: none;
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
    }
    .ovrwrit-alrt {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 40;
        @include themify($themes) {
            background-color: themed('DialogBodyBg');
        }

        .ovrwrit-alrt-title {
            text-align: center;

            .ic-icon {
                width: 100%;
                margin-bottom: 10px;

                > svg {
                    width: 24px;
                    height: 24px;
                }
            }
            > span {
                display: block;
                text-align: center;
                height: 20px;
            }
        }
        .ovrwrit-alrt-buttons {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: 16px;
            right: 30px;
            font-weight: bold;

            > div {
                width: 90px;
                text-align: center;
                cursor: pointer;
                @include themify($themes) {
                    color: themed('TemplateBtn');
                }
            }
        }
    }
}

.smartcharts-mobile {
    .cq-menu-dropdown {
        .dropdown-title {
            .icon {
                flex: none;
            }
        }
        .content .ciq-list {
            .ciq-list-inner {
                width: 100%;
            }
            .ciq-list-item .ic-icon {
                opacity: 1;
            }
        }
    }
}
