.calendar {
    position: absolute;
    top: 0;
    left: 0;
    background: $COLOR_WHITE;
    outline: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    z-index: 999;
    font-size: 14px;
    box-sizing: border-box;
    width: 280px;

    @media (max-width: 1024px) {
        left: unset;
        right: 0;
    }

    .calendar-input {
        margin: 0;
        border: none;
        outline: none;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 300;
        height: 34px;
        padding: 6px 10px;
        color: rgba(0, 0, 0, 0.65);

        &[readonly] {
            cursor: default;
        }
    }
    .calendar-footer {
        font-size: 14px;
        border-top: 1px solid $COLOR_GRAY;
        display: grid;
        align-items: center;
        line-height: 38px;
        padding: 0 8px;
        color: $COLOR_LIGHT_BLACK;
        font-weight: 500;

        .calendar-footer-extra + .calendar-footer-btn {
            border-top: 1px solid $COLOR_GRAY;
            margin: 0 -12px;
        }
        .calendar-footer-btn {
            cursor: pointer;
            color: $COLOR_BLUE;
            text-align: center;
        }
    }
    .calendar-header {
        display: flex;
        justify-content: center;
        height: 32px;
        line-height: 32px;
        border-top: 1px solid $COLOR_GRAY;
        border-bottom: 1px solid $COLOR_GRAY;
        font-weight: 500;

        .calendar-select-month-btn, .calendar-select-year-btn, .calendar-select-decade-btn, .calendar-select-century-btn {
            padding: 0 4px;
            cursor: pointer;

            &:hover {
                color: $COLOR_BLUE;
            }
            &.calendar-select-century-btn {
                cursor: default;
            }
        }
        .calendar-prev-year-btn, .calendar-next-year-btn, .calendar-prev-month-btn, .calendar-next-month-btn {
            position: absolute;
            color: rgba(0, 0, 0, 0.45);
            padding: 0 5px;
            display: inline-block;
            line-height: 32px;
            cursor: pointer;

            &:hover {
                color: $COLOR_BLUE;
            }
            &.calendar-prev-year-btn {
                left: 7%;

                &:after {
                    content: '\AB';
                }
            }
            &.calendar-next-year-btn {
                right: 7%;

                &:after {
                    content: '\BB';
                }
            }
            &.calendar-prev-month-btn {
                left: 14%;

                &:after {
                    content: '\2039';
                }
            }
            &.calendar-next-month-btn {
                right: 14%;

                &:after {
                    content: '\203A';
                }
            }
        }
    }
    .calendar-date-panel, .calendar-month-panel, .calendar-year-panel, .calendar-decade-panel, .calendar-century-panel {
        display: grid;
        grid-gap: 2px;
        padding: 8px 12px;
        height: 226px;

        &.calendar-date-panel {
            grid-template-columns: repeat(7, 1fr);
        }
        &.calendar-month-panel, &.calendar-year-panel, &.calendar-decade-panel, &.calendar-century-panel {
            grid-template-columns: repeat(3, 1fr);
        }
        .calendar-date, .calendar-month, .calendar-year, .calendar-decade {
            justify-content: center;
            align-self: center;
            cursor: pointer;
            margin: 0 auto;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 0;
            color: $COLOR_LIGHT_BLACK;
            text-align: center;
            background: transparent;
            transition: all 0.3s;
            font-size: 14px;
            line-height: 24px;

            &.calendar-date {
                width: 24px;
                color: $COLOR_BLUE;
            }
            &.calendar-month, &.calendar-year {
                padding: 0 8px;
            }
            &.calendar-decade {
                padding: 6px 4px;
                font-size: 14px;
            }
            &-header {
                line-height: 18px;
                width: 33px;
                padding: 6px 0;
                text-align: center;
                align-self: center;
                font-weight: 500;
                color: $COLOR_LIGHT_BLACK;
            }
            &.today {
                font-weight: 400;
                border: 1px solid $COLOR_BLUE;

                &.disabled {
                    color: $COLOR_GRAY;
                    border: 1px solid $COLOR_GRAY;
                }
            }
            &.active {
                background: $COLOR_BLUE;
                color: $COLOR_WHITE;
                font-weight: 300;

                &.disabled {
                    color: $COLOR_GRAY;
                    border: 1px solid $COLOR_GRAY;
                }
            }
            &.disabled {
                color: $COLOR_GRAY;
                cursor: default;
            }
            &:hover:not(.disabled) {
                cursor: pointer;
                background: $COLOR_GRAY;
            }
        }
    }
}

div.datepicker-container {
    position: relative;

    &:hover .datepicker-display, .datepicker-display:focus {
        border-color: $COLOR_BLUE;
    }
    .datepicker-display:focus + .datepicker-native-overlay {
        .datepicker-native-overlay__arrowhead .arrow-path {
            fill: $COLOR_BLUE;
        }
    }
    .datepicker-display, .datepicker-native-overlay {
        background: $COLOR_WHITE;
        height: 32px;
        cursor: pointer;
        border: 1px solid $COLOR_GRAY;
        border-radius: 5px;
        font-size: 14px;
        line-height: 100%;
        vertical-align: middle;
        padding: 4px 11px;
        box-sizing: border-box;
        font-weight: 300;
        transition: border 0.25s;
    }
    .datepicker-native-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        border-color: transparent;
        background-clip: padding-box;
        text-align: left;

        &__arrowhead {
            display: block;
            position: absolute;
            top: 8px;
            right: 6px;

            & .arrow-path {
                fill: $COLOR_GRAY;
            }
        }
    }
    // style native date picker
    input[type=date] {
        appearance: none;
        // sometimes we have 2 different elements with hover and focus in chrome mobile
        &:hover:not(:focus) {
            border-color: $COLOR_GRAY;
        }
        &::-webkit-date-and-time-value {
            margin: 0;
        }
    }
    .picker-calendar-icon, .close-circle-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s;
        user-select: none;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;

        &:before {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background-size: 14px 14px;
        }
        &.show {
            opacity: 1;
            pointer-events: auto;
        }
        &.picker-calendar-icon:before {
            // background-image: url('../images/app_2/common/calendar.svg');
            background-repeat: no-repeat;
        }
        &.close-circle-icon:before {
            // background-image: url('../images/app_2/common/close_circle.svg');
            background-repeat: no-repeat;
        }
    }
    .datepicker-calendar {
        .calendar {
            opacity: 0;
            transform: scale(1, 0);
            transform-origin: top;
            transition: all 0.25s;

            & span {
                user-select: none;
            }
        }
        &.show > div.calendar {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
}

// Dark Theme
.theme-wrapper.dark {
    input.datepicker-display {
        background: $COLOR_BLUE;
        border-color: $COLOR_BRANDBLUE_85;
        color: $COLOR_WHITE;

        &:hover, &:focus, &:active {
            border-color: $COLOR_WHITE;
        }
    }
    .calendar {
        background: $COLOR_BRANDBLUE_95;
        border: 1px solid $COLOR_BRANDBLUE_85;

        input.calendar-input {
            border-radius: 0;
            background: $COLOR_BRANDBLUE_95;
            border-color: $COLOR_BRANDBLUE_85;
            color: $COLOR_WHITE;

            &:hover, &:focus, &:active {
                border-color: $COLOR_WHITE;
            }
        }
        .calendar-header, .calendar-footer {
            border-color: $COLOR_BRANDBLUE_85;
            color: $COLOR_WHITE;

            .calendar-prev-year-btn, .calendar-prev-month-btn, .calendar-next-month-btn, .calendar-next-year-btn {
                color: $COLOR_BRANDBLUE_40;

                &:hover {
                    color: $COLOR_WHITE;
                }
            }
            span a {
                color: $COLOR_WHITE;
            }
        }
        .calendar-header {
            background: $COLOR_BLUE;

            span:hover {
                color: $COLOR_BRANDBLUE_40;
            }
        }
        span.calendar-date-header {
            color: $COLOR_WHITE;
        }
        span.calendar-date, span.calendar-month, span.calendar-year {
            color: $COLOR_BRANDBLUE_40;
            background: $COLOR_BRANDBLUE_95;

            &.active {
                font-weight: 600;
                color: $COLOR_BLUE;
                background: $COLOR_WHITE;
            }
            &:hover:not(.active) {
                background: $COLOR_BRANDBLUE_85;
            }
            &.disabled {
                color: $COLOR_BRANDBLUE_75;
                pointer-events: none;
            }
            &.today {
                border: 1px solid $COLOR_WHITE;
                color: $COLOR_WHITE;

                &.disabled {
                    background: $COLOR_BLUE;
                    border: 1px solid $COLOR_BRANDBLUE_75;
                    color: $COLOR_BRANDBLUE_75;
                }
                &.active {
                    color: $COLOR_BLUE;
                }
            }
        }
        div.calendar-footer span.calendar-footer-btn {
            color: $COLOR_BRANDBLUE_40;
        }
    }
    .datepicker-container {
        .datepicker-native-overlay {
            background: $COLOR_BLUE;
            border-color: $COLOR_BRANDBLUE_85;

            &:hover, &:focus, &:active {
                border-color: $COLOR_WHITE;
            }
        }
    }
}