@charset "UTF-8";


/* Images */

.price-arrow,
.price-arrow span,
.price {
    background: url(img/stx-sprite-trade.png) no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .price-arrow,
    .price-arrow span,
    .price {
        background-image: url(img/stx-sprite-trade@2x.png);
        background-size: 80px 650px;
    }
}


/*--------------------------------------------------*/


/* Drag Lines and Prices */

.horizontal {
    &.chart-line,
    .drag-price,
    .price,
    .price-arrow {
        height: 23px;
    }
}

.chart-line {
    position: absolute;
    z-index: 100;

    &.horizontal {
        width: 100%;
        left: 0px;
        font-size: 10px;

        .drag-line {
            height: 0px;
            float: left;
            width: 100%;
            margin-left: -10px;
            margin-top: 11px;
            border-top: 2px dashed;
        }
    }

    &.vertical {
        height: 100%;
        top: 0px;

        .drag-line {
            border-image: linear-gradient(to top, black 80%, transparent) 1 100%;
            height: 100%;
            width: 10px;
            border-left: 2px dashed;
            left: 200px;
            margin-left: 10px;
        }
    }
}

/*hover*/

.draggable.chart-line:hover {
    background: rgba(0, 0, 0, 0.05);

    &.horizontal {
        cursor: ns-resize;
    }

    &.vertical {
        cursor: ew-resize;
    }
}

.red .price-arrow {
    background-position: 0 -360px;
}

.green .price-arrow {
    background-position: 0 -390px;
}


/*hover*/

.draggable.horizontal.chart-line:hover .drag-line {
    border-top-style: solid;
}

.drag-price {
    position: absolute;
    right: 0px;
    display: block;
    width: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.price-arrow {
    float: left;
    position: relative;
    width: 12px;
    transition: width .2s;
}

.red {
    .price-arrow {
        background-position: 0 -360px;
    }

    .price {
        background-position: right -360px;
    }

    .drag-line {
        color: #ff7862;
    }
}

.green {
    .price-arrow {
        background-position: 0 -390px;
    }

    .price {
        background-position: right -390px;
    }

    .drag-line {
        color: #8cc176;
    }
}

/*hover*/

.no-touch .chart-line:hover .price-arrow {
    width: 20px;
    height: 23px;
}

.no-touch .price-arrow span {
    position: absolute;
    top: 4px;
    left: 6px;
    display: block;
    width: 15px;
    height: 15px;
    background-position: -4px -488px;
    opacity: 0;
    transition: opacity 0.2s;
}


/*hover*/

.no-touch .chart-line:hover .price-arrow span {
    opacity: 1;
}

.price {
    color: #000;
    display: block;
    float: left;
    width: 45px;
    line-height: 23px;
    overflow: hidden;
}


/*--------------------------------------------------*/


/* shade */

.shade {
    position: absolute;
    width: 100%;
    right: 0px;
}

$trade-end-color: #e98024;
$trade-start-color: #a2a2a2;
$trade-text-distance: 1.6em;

/* Trade Start and End */
.chart-line.vertical {
    .trade-text {
        top: 1em;
        position: absolute;
        font-size: 0.9em;
    }

    &.trade-start-line {
        .drag-line {
            border-image: linear-gradient(to top, $trade-start-color 80%, transparent) 1 100%;
        }

        .trade-text {
            text-align: right;
            right: $trade-text-distance;
            color: $trade-start-color;
        }
    }

    &.trade-end-line {
        .drag-line {
            border-image: linear-gradient(to top, $trade-end-color 80%, transparent) 1 100%;
        }

        .trade-text {
            text-align: left;
            left: $trade-text-distance;
            color: $trade-end-color;
        }

        .trade-end-flag {
            bottom: 1.9em;
            position: absolute;

            .ic-flag {
                $icon-diameter: 1.9em;
                background: url(img/ic-flag.svg) no-repeat;
                height: $icon-diameter;
                width: $icon-diameter;
                position: inherit;
                left: -0.07em;
                top: 0.07em;
            }

            .circle {
                $circle-diameter: 1.9em;
                border-radius: 100%;
                width: $circle-diameter;
                height: $circle-diameter;
                background-color: $trade-end-color;
                position: inherit;
            }
        }
    }
}
