@charset "UTF-8";


/* Images */

.price-arrow,
.price-arrow span,
.price {
    background-image: url(img/stx-sprite-trade.png);
    background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .price-arrow,
    .price-arrow span,
    .price {
        background-image: url(img/stx-sprite-trade@2x.png);
        background-size: 80px 650px;
    }
}


/*--------------------------------------------------*/


/* Drag Lines and Prices */

.drag-price-line,
.drag-price,
.price,
.price-arrow {
    height: 23px;
}

.drag-price-line {
    position: absolute;
    width: 100%;
    left: 0px;
    font-size: 10px;
    z-index: 100;
}


/*hover*/

.draggable.drag-price-line:hover {
    cursor: ns-resize;
    background: rgba(0, 0, 0, 0.05);
}

.horizontal .drag-line {
    height: 0px;
    float: left;
    width: 100%;
    margin-left: -10px;
    margin-top: 11px;
    border-top-style: dashed;
    border-top-width: 2px;
}

.red .price-arrow {
    background-position: 0 -360px;
}

.green .price-arrow {
    background-position: 0 -390px;
}

.vertical .drag-line {
    height: 100%;
    width: 10px;
    border-left: 2px dashed blue;
    left: 200px; // position: absolute;
    margin-left: 10px;
}


/*hover*/

.draggable.drag-price-line:hover .drag-line {
    border-top-style: solid;
}

.drag-price {
    position: absolute;
    right: 0px;
    display: block;
    width: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.price-arrow {
    float: left;
    position: relative;
    width: 12px;
    transition: width .2s;
}

.red .price-arrow {
    background-position: 0 -360px;
}

.green .price-arrow {
    background-position: 0 -390px;
}


/*hover*/

.no-touch .drag-price-line:hover .price-arrow {
    width: 20px;
    height: 23px;
}

.no-touch .price-arrow span {
    position: absolute;
    top: 4px;
    left: 6px;
    display: block;
    width: 15px;
    height: 15px;
    background-position: -4px -488px;
    opacity: 0;
    transition: opacity 0.2s;
}


/*hover*/

.no-touch .drag-price-line:hover .price-arrow span {
    opacity: 1;
}

.price {
    color: #000;
    display: block;
    float: left;
    width: 45px;
    line-height: 23px;
    overflow: hidden;
}

.red .price {
    background-position: right -360px;
}

.green .price {
    background-position: right -390px;
}


/*--------------------------------------------------*/


/* shade */

.shade {
    position: absolute;
    width: 100%;
    right: 0px;
}

.shade-above.green {
    background-image: linear-gradient(to bottom, rgba(140, 193, 118, 0) 30%, rgba(140, 193, 118, 0.3));
}

.shade-above.red {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 30%, rgba(255, 0, 0, 0.2));
}

.shade-below.green {
    background-image: linear-gradient(to bottom, rgba(140, 193, 118, 0.3), rgba(140, 193, 118, 0) 70%);
}

.shade-below.red {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0) 70%);
}
