.ciq-period {
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    padding: 0;

    > div {
        margin: 0 12px;

        > span {
            padding: 3px 0;
            border-radius: 3px;
        }
    }
    &.stxMenuActive {
        > div > span {
            background: #e4e6f1;
        }
    }
    &:after {
        display: none;
    }
    .unit_display {
        text-transform: capitalize;
        margin: 0 15px;
    }
    .interval_display {
        margin: 0 15px 0 0;
    }
    .icon {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 0 0 15px;
        background: url('../icons/time interval/ic-timeinterval-light.svg');
    }
    &.stxMenuActive .timePeriod {
        visibility: visible;
    }
}
.timePeriod {
    width: 344px!important;
    height: 200px!important;
    border: 0!important;
    max-height: 200px!important;
    left: -140px;
    font-size: 12px;
    font-weight: normal;
    visibility: hidden;

    .timeUnit {
        display: inline-block;
        width: 112px;
        height: 100%;
        box-shadow: 2px 0px 5px 0px rgba(42, 48, 82, 0.08);

        span {
            display: block;
            height: 40px;
            width: 100%;
            line-height: 40px;
            color: #c2c2c2;

            &.selected {
                color: #e98024;
            }
        }
    }

    .interval {
        display: inline-block;
        width: 232px;
        height: 100%;
        text-align: left;

        .row {
            height: 40px;
            line-height: 8px;

            span {
                display: inline-block;
                margin: 0 4px;
                width: 24px;
                height: 18px;
                line-height: 1.5;
                text-align: center;
                color: #2a3052;

                &.selected {
                    height: 24px;
                    background: #e98024;
                    border-radius: 12px;
                    color: #fff;
                    line-height: 24px;
                }
            }
        }
    }
}
