/* Used for app only. Do not deploy with library! */

html {
    font-size: 62.5%; /* 1rem = 10px */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); //stylelint-disable-line number-max-precision
    text-rendering: optimizeLegibility !important; //stylelint-disable-line plugin/no-unsupported-browser-features
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

#root {
    display: flex;
}

.smartcharts-mobile {
    /*
      For charts app, we want the chart controls to still
      be visible when its dropdown shows up. To do this we
      assume the height of the chart controls is always 40px
      in mobile:
     */
    .ciq-period, .cq-download, .ciq-views, .ciq-drawtools, .ciq-studies, .cq-chart-setting, .ciq-draw-tools, .cq-comparison-new, .ciq-chart-types {
        .cq-menu-overlay {
            height: calc(100% - 40px);
        }
    }
}
