/* Used for app only. Do not deploy with library! */

#root {
    display: flex;
}

/* Doorbell */

#doorbell-button {
    left: -30px;
    bottom: 30%;
    background: #4C5794;
    color: #fff;
    border: 1px solid #4C5794;
    border-bottom: none;
    padding: 4px 8px;
    transform: rotate(90deg);
    max-width: 80px;
}

#doorbell form {
    box-shadow: none;
    border: 1px solid #4c4c4c;

    input, textarea {
        outline: 0;
        &:focus {
            border: 1px solid #4C5794;
        }
    }

    #doorbell-submit-button {
        color: #4C5794;
        border: none;
        background: white;
        &:hover {
            background: white;
        }
    }
}

#doorbell-background {
    opacity: 0;
}

.smartcharts-mobile .cq-chart-controls .ciq-menu .cq-menu-overlay
{
    height: calc(var(--view-height) - 39px) !important;
}