.ciq-chart-history {
    border-radius: $border-radius;
    z-index: 41;
    position: relative;
    top: 0px;
    display: none;
    padding: 0.8px;
    @include themify($themes) {
        background: themed('ChartHistoryBg');
    }

    &--container {
        display: flex;
        border-radius: $border-radius;
        position: relative;
        padding: 1.2rem 0.8rem;
        justify-content: center;
        align-items: center;
        width: calc(100% - 1%);
        flex-flow: row wrap;
        @include themify($themes) {
            background: themed('ChartHistoryBgContainer');
        }

        > strong {
            font-family: 'IBM Plex Sans';
            font-size: 1.4em;
            font-weight: normal;
            font-style: normal;
            line-height: normal;
            white-space: nowrap;
            max-width: 9.2rem;
            @include themify($themes) {
                color: themed('ChartHistoryColor');
            }
        }
    }
    .datepicker-container,
    .time-picker {
        border-radius: $border-radius;
        height: 3.2rem;
    }
    .datepicker-container {
        margin-left: 0.6rem;

        .datepicker-display-wrapper .datepicker-display {
            max-width: 9.4rem;

            &:focus-visible {
                outline: none;
            }
        }
    }
    .time-picker {
        width: 7.8rem;
        margin-left: 0.8rem;

        input {
            width: 100%;
            height: 30px !important;
        }
    }
}

.smartcharts-mobile .ciq-chart-history {
    position: fixed;
    bottom: 39px;
    left: 0px;
    top: auto;
    margin: 0px;
    width: calc(100% - 20px);
    border-right: none;
    border-left: none;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;

    .time-picker {
        min-width: 72px;

        .time-picker-dropdown {
            bottom: calc(100% + 10px);
            top: auto !important;
            right: 0px !important;

            &.active {
                bottom: calc(100% + 10px);
            }
        }
    }
    .datepicker-container {
        .datepicker-display-wrapper .datepicker-display {
            max-width: 9.4rem;
        }
        .datepicker-calendar {
            > div.calendar {
                bottom: calc(100% - 8px);
                top: auto !important;
                right: -55px !important;
                left: auto !important;
            }
            &.show > div.calendar {
                bottom: calc(100% + 8px);
            }
        }
    }
}

.cq-chart-title + .ciq-chart-history {
    display: inline-flex;
}
