.ciq-chart-history {
    border-radius: $border-radius;
    z-index: 41;
    position: relative;
    top: 0px;
    display: none;
    padding: 0.8rem;
    @include themify($themes) {
        background: themed('ChartHistoryBg');
    }

    &--container {
        display: flex;
        border-radius: $border-radius;
        position: relative;
        padding: 1.2rem 0.8rem;
        justify-content: center;
        align-items: center;
        width: calc(100% - 1%);
        flex-flow: row wrap;
        @include themify($themes) {
            background: themed('ChartHistoryBgContainer');
        }

        > strong {
            font-family: 'IBM Plex Sans';
            font-size: 1.4em;
            font-weight: normal;
            font-style: normal;
            line-height: normal;
            white-space: nowrap;
            width: 9.2rem;
            @include themify($themes) {
                color: themed('ChartHistoryColor');
            }
        }
    }
    .datepicker-container,
    .time-picker {
        border-radius: $border-radius;
    }
    .datepicker-container {
        margin-left: 0.6rem;

        .datepicker-display-wrapper .datepicker-display {
            max-width: 9.4rem;
            font-family: 'IBM Plex Sans';
            font-weight: normal;

            &:focus-visible {
                outline: none;
            }
        }
    }
    .time-picker {
        display: flex;
        align-items: center;
        width: 7.8rem;
        height: 32px;
        margin-left: 0.8rem;
        box-sizing: border-box;
        cursor: pointer;
        @include themify($themes) {
            border: 1px solid themed('ChartHistoryPickerActiveBorder');
            background: themed('ChartHistoryPickerBg');
        }

        input {
            width: 100%;
            border: none;
        }
    }
}

.smartcharts-mobile .ciq-chart-history {
    position: fixed;
    bottom: 39px;
    left: 0px;
    top: auto;
    margin: 0px;
    width: calc(100% - 20px);
    border-right: none;
    border-left: none;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;

    .time-picker {
        min-width: 72px;
        height: 100%;

        span {
            display: flex;
            align-items: center;
            height: inherit;

            .picker-time-icon {
                position: inherit;
            }
        }
        .time-picker-input {
            border: none;
        }
        .time-picker-dropdown {
            position: absolute;
            top: auto !important;
            right: 0px !important;
            bottom: calc(100% + 24px);
            transform: translate(-20%, 0);

            &.active {
                bottom: calc(100% + 24px);
            }
        }
    }
    .datepicker-container {
        height: auto;

        .datepicker-display-wrapper {
            padding: 1.9rem 0;
        }
        .datepicker-display-wrapper .datepicker-display {
            max-width: 9.4rem;
        }
        .datepicker-calendar {
            > div.calendar {
                top: auto !important;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
            }
            &.show > div.calendar {
                bottom: calc(100% + 24px);
            }
        }
    }
}

.cq-chart-title + .ciq-chart-history {
    display: inline-flex;
}
