.ciq-menu {
	position: relative;
	@include themify($themes) {color: themed('MenuText');}
	&:active{
		& {
			@include themify($themes) {color: themed('MenuActiveText');}
		}
	}
	&.stxMenuActive{
		@include themify($themes) {
			box-shadow: 0px -2px 0px 0 themed('MenuActiveBorder');
		}
		.break-sm & {
			@include themify($themes) {
				border-bottom: solid 3px themed('MenuActiveBorder');
			}
		}
		.cq-menu-btn{
			@include themify($themes) {
				background: themed('MenuActiveBg');
			}
			> .ic-icon,
			> .cq-toggle {
				@include themify($themes) {color: themed('MenuActiveText');}
				svg {
					@include themify($themes) {
						box-shadow: inset 0 0 0 1px themed('MenuActiveIconBorder');
						background: themed('MenuActiveIconBg');
					}
				}
				@include svg-icon-color('MenuActiveIcon');
				.ic-subtitle{
					font-weight: 500;
					@include themify($themes) {
						color: themed('MenuActiveText');
					}
				}
			}
		}
	}
	.cq-menu-btn{
		padding: 0 5px;
		&:hover{
			@include themify($themes) {
				background: themed('MenuHoverBg');
			}
			> .ic-icon,
			> .cq-toggle {
				svg {
					@include themify($themes) {background: themed('MenuHoverIconBg');}
				}
			}
		}
		> .ic-icon{
			padding: .35em .5em;
		}
		> .ic-icon,
		> .cq-toggle {
			&.active{
				svg {
					@include themify($themes) {
						box-shadow: inset 0 0 0 1px themed('MenuActiveIconBorder');
						background: themed('MenuActiveIconBg');
					}
				}
				.ic-subtitle{
					font-weight: 500;
					@include themify($themes) {
						color: themed('MenuActiveText');
					}
				}
			}
			@include svg-icon-color('MenuIcon');
			svg{@include border-radius(4px);}
			.ic-subtitle{
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				@include themify($themes) {
					color: themed('MenuText');
				}
			}
		}
	}
	> .ic-icon,
	> .cq-toggle {
		@include svg-icon-color('MenuIcon');
	}
	> span {
		padding:0 12px 0 0;
		position:relative;
		font-weight:400;
	}
	.cq-menu-dropdown {
		position: absolute;
		overflow: hidden;
		height: auto;
        margin-top: 5px;
        bottom: 5em;
		pointer-events: none;
		opacity: 0;
		z-index: -3;
		@include transition(all 150ms ease-out, background 0s linear);
		@include box-shadow (0px, 2px, 4px, rgba(0, 0, 0, .2));
		@include border-radius();
		@include themify($themes) {
			background: themed('DialogBodyBg');
			color: themed('DialogBodyText');
		}
    	&.open {
            visibility: visible;
            margin-top:5px;
            z-index: 3;
            bottom: 5em;
        }
		&.cq-menu-dropdown-enter-done {
			pointer-events: initial;
		}
		.break-sm & {
			top: $nav-height;
			width:auto;
			left:0;
			right:0;
			@include border-radius(0px);
		}
		/* cq-menu can be once removed from the menu button but no further. Anything further is a sub-menu */
		.stxMenuActive > &,
		.stxMenuActive > * > & {
			opacity: 1;
			height:auto;
			margin-top:5px;
		}

		&[cq-lift] {
			width:auto;
		}
		.title{
			@include themify($themes) {
				color: themed('DialogHeadText');
				background: themed('DialogHeadBg');
				border-bottom: 1px solid themed('DialogHeadBorder');
			}
			> .ic-icon {
				@include themify($themes) {
					color: themed('DialogHeadIcon');
				}
				svg, path, g{
					@include themify($themes) {
						color: themed('DialogHeadIcon');
						fill: themed('DialogHeadIcon');
					}
				}
			}
		}
		.cq-mobile-title{
			@include themify($themes) {
				color: themed('DialogHeadText');
				background: themed('DialogHeadBg');
				border-bottom: 1px solid themed('DialogHeadBorder');
			}
			padding-top: 0.2em;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 30px;
			.mobile-title{
				font-size: 14px;
				line-height: 30px;
				font-weight: 400;
				padding: 0em .9em;
				@include themify($themes) {
				    color: themed('DefaultText');
				}
			}
			.icon-close-menu{
			    margin-right: 6px;
			    cursor: pointer;
			}
		}
	}
}

.cq-chart-control-left{
	.ciq-menu {
		&.stxMenuActive{
			@include themify($themes) {
				box-shadow: 2px 0.3px 0px 0 themed('MenuActiveBorder');
			}
		}
	}
}

.smartcharts-mobile{
	.ciq-menu {
		position: initial;
		&.stxMenuActive{
			z-index: 9;
		}
		.cq-menu-btn{
			&:hover{
				> .ic-icon,
				> .cq-toggle {
					svg {
						background: transparent;
					}
				}
			}
		}
	}
}
