.ciq-menu {
    position: relative;
    @include themify($themes) {
        color: themed('MenuText');
    }

    > .ic-icon,
    > .cq-toggle {
        @include svg-icon-color('MenuIcon');
    }
    > span {
        padding: 0 12px 0 0;
        position: relative;
        font-weight: 400;
    }
    .cq-menu-btn {
        user-select: none;
    }
    &.ciq-enabled > .cq-menu-btn {
        cursor: pointer;
    }
}

.cq-menu-dropdown {
    display: block;
    line-height: 2.1em;
    position: absolute;
    overflow: hidden;
    height: auto;
    border-radius: 3px;
    bottom: 5em;
    pointer-events: none;
    opacity: 0;
    z-index: 3;
    transition: transform 150ms, opacity 150ms;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    @include themify($themes) {
        color: themed('DialogBodyText');
        border: 1px solid themed('DialogBorder');
        background-color: themed('DialogBodyBg');
    }

    &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active {
        opacity: 1;
    }
    &.cq-menu-dropdown-enter-done {
        pointer-events: initial;
    }
    .title {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        display: flex;

        .title-text {
            display: block;
            font-size: 16px;
            line-height: 40px;
            font-weight: 400;
            padding: 0 0.7em;
        }

        @include themify($themes) {
            color: themed('DialogHeadText');
            background: themed('DialogHeadBg');
            border-bottom: 1px solid themed('DialogHeadBorder');
        }

        > .ic-icon {
            @include themify($themes) {
                color: themed('DialogHeadIcon');
            }

            svg, path, g {
                @include themify($themes) {
                    color: themed('DialogHeadIcon');
                    fill: themed('DialogHeadIcon');
                }
            }
        }
    }
    .icon-close-menu {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        pointer-events: none;
        opacity: 0;
    }
    .cq-categorical-display {
        .cq-lookup-filters {
            @include themify($themes) {
                background: themed('DialogHeadBg');
            }
        }
    }
}

.smartcharts-mobile {
    .ciq-menu {
        &.stxMenuActive {
            z-index: 9;
        }
        .cq-menu-btn:hover {
            > .ic-icon,
            > .cq-toggle {
                svg {
                    background: transparent;
                }
            }
        }
    }
    .cq-modal-dropdown {
        pointer-events: none;
        z-index: 90;
        position: fixed;
        height: inherit;
        width: 100%;
        top: 0;

        &.ciq-studies, &.cq-comparison-new, &.cq-chart-title {
            .cq-menu-overlay .cq-menu-dropdown {
                /* for studies and comparison dropdown, fill screen in mobile */
                height: 100%;

                .title {
                    border-bottom: none !important;
                }
            }
        }
        .cq-menu-overlay {
            position: relative;
            transition: opacity 150ms;
            background: rgba(0, 0, 0, 0.3);
            height: inherit;
            width: 100%;
            padding: 0;
            opacity: 0;
        }
        &.stxMenuActive .cq-menu-overlay {
            opacity: 1;
            pointer-events: initial;
            visibility: visible;
        }
        &.cq-chart-title .cq-menu-dropdown {
            transform: translateY(-3em);
        }
        .cq-menu-dropdown {
            height: auto;
            bottom: 0;
            box-shadow: none;
            border-radius: 0;
            width: 100%;
            position: absolute;
            transform: translateY(3em);

            &.cq-menu-dropdown-enter-done, &.cq-menu-dropdown-enter-active {
                transform: translateY(0em);
            }
            .icon-close-menu {
                pointer-events: initial;
                opacity: 1;
            }
        }
    }
}
