.ciq-menu {
    position: relative;
    @include themify($themes) {
        color: themed('MenuText');
    }

    > .ic-icon,
    > .cq-toggle {
        @include svg-icon-color('MenuIcon');
    }
    > span {
        padding: 0 12px 0 0;
        position: relative;
        font-weight: 400;
    }
    .cq-menu-btn {
        user-select: none;
    }
    &.ciq-enabled > .cq-menu-btn {
        cursor: pointer;
    }
}

.cq-menu-dropdown {
    position: absolute;
    overflow: hidden;
    height: auto;
    bottom: 5em;
    pointer-events: none;
    opacity: 0;
    z-index: -3;
    @include transition(
        visibility 150ms ease-out,
        z-index 150ms ease-out,
        transform 150ms ease-out,
        opacity 150ms ease-out
    );
    @include box-shadow (0px, 2px, 4px, rgba(0, 0, 0, 0.2));
    @include border-radius();
    @include themify($themes) {
        color: themed('DialogBodyText');
        border: 1px solid themed('DialogBorder');
        background-color: themed('DialogBodyBg');
    }

    &.open {
        visibility: visible;
        z-index: 3;
    }
    &.cq-menu-dropdown-enter-done {
        pointer-events: initial;
    }
    /* cq-menu can be once removed from the menu button but no further. Anything further is a sub-menu */
    .stxMenuActive > &,
    .stxMenuActive > * > & {
        opacity: 1;
        height: auto;
        margin-top: 5px;
    }
    .title {
        @include themify($themes) {
            color: themed('DialogHeadText');
            background: themed('DialogHeadBg');
            border-bottom: 1px solid themed('DialogHeadBorder');
        }

        > .ic-icon {
            @include themify($themes) {
                color: themed('DialogHeadIcon');
            }

            svg, path, g {
                @include themify($themes) {
                    color: themed('DialogHeadIcon');
                    fill: themed('DialogHeadIcon');
                }
            }
        }
    }
    .cq-mobile-title {
        padding-top: 0.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 16px;
        @include themify($themes) {
            color: themed('DialogHeadText');
            background: themed('DialogHeadBg');
            border-bottom: 1px solid themed('DialogHeadBorder');
        }

        .mobile-title {
            font-size: 14px;
            line-height: 40px;
            font-weight: 400;
            padding: 0em 0.9em;
            @include themify($themes) {
                color: themed('DialogHeadText');
            }
        }
        .icon-close-menu {
            top: 10px;
        }
    }
    .icon-close-menu {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        pointer-events: none;
        opacity: 0;
    }
    .cq-categorical-display {
        .cq-lookup-filters {
            @include themify($themes) {
                background: themed('DialogHeadBg');
            }
        }
    }
}

.smartcharts-mobile {
    .ciq-menu {
        &.stxMenuActive {
            z-index: 9;
        }
        .cq-menu-btn:hover {
            > .ic-icon,
            > .cq-toggle {
                svg {
                    background: transparent;
                }
            }
        }
    }
    .cq-modal-dropdown {
        height: inherit;

        .cq-menu-overlay {
            .cq-menu-dropdown {
                bottom: 0;
                box-shadow: none;
                border-radius: 0;
                width: 100%;
                position: absolute;

                .icon-close-menu {
                    pointer-events: initial;
                    opacity: 1;
                }
            }
        }
    }
}
