/* --------------------------------------------------------- FIELDS, SELECTS, INPUTS --------------------------------------------------------- */
/* Inputs */
.stx-textarea {
    padding: 0 5px 0 10px;
    box-sizing: border-box;
    user-select: text;
    @include themify($themes) {
        border-left: 1px solid themed('DefaultBorder');
    }
}

/* --------------------------------------------------------- BUTTONS --------------------------------------------------------- */

/* Basic Buttons */
.annotationCancel,
.annotationSave {
    // font-size:$font-size-button;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    line-height: 27px;
    height: 27px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    transition: all 0.2s 0s, opacity 0.2s 0s;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    @include themify($themes) {
        background: themed('DefaultBg');
        color: themed('MenuText');
    }

    &:hover {
        border: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    &:active {
        border: none;
        transition: all 0s 0s;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    }
}

.cq-menu-dropdown .ps-scrollbar-y-rail {
    z-index: 1000000;
}

/* --------------------------------------------------------- Layout --------------------------------------------------------- */

.ciq-chart-area,
.ciq-chart,
.stx-panel-side {
    box-sizing: border-box;
}

/* Chart Area Block */
.ciq-chart-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0px;
    z-index: 1;
    padding: 0px;
    @include themify($themes) {
        background: themed('DefaultBg');
    }
}

/* --------------------------------------------------------- Navigation --------------------------------------------------------- */

/* Menus/Panel Toggles */
.smartcharts {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: $base-font;
    font-size: $font-size-base;
    overflow: hidden;
    @include themify($themes) {
        background: themed('DefaultMain');
    }

    input {
        font-weight: 300;
        user-select: text;
        @include themify($themes) {
            color: themed('DefaultText');
            background-color: themed('DefaultMain');
        }

        &::placeholder,
        &::-moz-placeholder {
            @include themify($themes) {
                color: themed('DefaultText');
            }
        }
    }
    div, li, span, a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* eliminated annoying flash when tapping screen on ipads */
        -webkit-tap-highlight-color: transparent; /* For some Androids */
    }
    .cq-top-ui-widgets {
        position: absolute;
        z-index: 5;
        margin: 0.2em 0.5em;
        width: 100%;
        pointer-events: none;

        > div {
            // top widgets panel will have no pointer events, but it's children should not be affected:
            pointer-events: initial;
        }
    }
    .ciq-menu {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
    }
    .ciq-menu-section {
        float: right;
    }
    .smartcharts-mobile,
    .smartcharts-desktop {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    /* Mobile Style */
    .smartcharts-mobile {
        user-select: none;
    }
    .cq-chart-control-left {
        .cq-top-ui-widgets {
            left: 90px;
        }
        .cq-notifications {
            right: 100px;
        }
    }
}

@import 'menu';

/* -------------------------- custom styles -------------------------------------*/

.cq-chart-unavailable {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    z-index: 1;
    font-size: 17px;
    color: #878787;
}
