/* --------------------------------------------------------- FIELDS, SELECTS, INPUTS --------------------------------------------------------- */
/* Inputs */
.stx-textarea {
    padding: 0 5px 0 10px;
    box-sizing: border-box;
    user-select: text;
    @include themify($themes) {
        border-left: 1px solid themed('DefaultBorder');
    }
}

/* --------------------------------------------------------- BUTTONS --------------------------------------------------------- */

/* Basic Buttons */
#annotationCancel,
#annotationSave {
    // font-size:$font-size-button;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    line-height: 27px;
    height: 27px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    transition: all 0.2s 0s, opacity 0.2s 0s;
    box-sizing: border-box;
    box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.2);
    @include themify($themes) {
        background: themed('DefaultBg');
        color: themed('DefaultBorder');
    }

    &:hover {
        border: none;
        box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.3);
        @include themify($themes) {
            color: themed('DefaultBorder');
        }
    }
    &:active,
    &:active {
        border: none;
        transition: all 0s 0s;
        box-shadow: inset 0, 1px, 2px, rgba(0, 0, 0, 0.2);
        @include themify($themes) {
            color: themed('DefaultBorder');
        }
    }
    &.ciq-primary,
    &.ciq-primary {
        color: #fff;
        @include themify($themes) {
            background: themed('DefaultBorder');
        }

        &:hover,
        &:active {
            color: #fff;
            @include themify($themes) {
                background: themed('DefaultBorder');
            }
        }
        &.ciq-simple {
            border: none;
            background: transparent;
            box-shadow: 0, 0, 0, 0, rgba(0, 0, 0, 0);

            &:hover,
            &:active {
                box-shadow: 0, 0, 0, 0, rgba(0, 0, 0, 0);
            }
        }
    }
}

.cq-menu-dropdown {
    display: block;
    line-height: 2.1em;
}

.cq-menu-dropdown .ps-scrollbar-y-rail {
    z-index: 1000000;
}

/* --------------------------------------------------------- Layout --------------------------------------------------------- */

.ciq-nav,
.ciq-chart-area,
.ciq-chart,
.stx-panel-side,
.ciq-footer {
    box-sizing: border-box;
}

/* Navigation Bar */
.ciq-nav {
    height: $nav-height;
    @include themify($themes) {
        border-bottom: 1px solid themed('DefaultBorder');
    }
}

/* Chart Area Block */
.ciq-chart-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0px;
    z-index: 1;
    padding: 0px;
    @include themify($themes) {
        background: themed('DefaultBg');
    }
}

/* --------------------------------------------------------- Navigation --------------------------------------------------------- */

/* Search Area */

.ciq-search {
    width: 130px;
    height: $nav-height;
    bottom: -0.7em;
    right: 52px;
    float: left;
    position: absolute;
    z-index: -12;
    box-sizing: border-box;

    &.stxMenuActive {
        z-index: 4;
    }
    & input {
        height: 2em;
        border: none;
    }
}

/* Menus/Panel Toggles */
.smartcharts {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: $base-font;
    font-size: $font-size-base;
    overflow: hidden;
    @include themify($themes) {
        background: themed('DefaultMain');
    }

    input {
        font-weight: 300;
        @include themify($themes) {
            color: themed('DefaultText');
            background-color: themed('DefaultMain');
        }
        user-select: text;

        &::placeholder,
        &::-moz-placeholder {
            @include themify($themes) {
                color: themed('DefaultText');
            }
        }
    }
    div, li, span, a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* eliminated annoying flash when tapping screen on ipads */
        -webkit-tap-highlight-color: transparent; /* For some Androids */
    }
    .cq-top-ui-widgets {
        position: absolute;
        z-index: 2;
        margin: 0.2em 0.5em;
        width: 100%;
    }
    .ciq-menu {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
    }
    .ciq-menu-section {
        float: right;
    }
    /* Mobile Style */
    .smartcharts-mobile {
        user-select: none;
    }
    .cq-chart-control-left {
        .cq-top-ui-widgets {
            left: 90px;
        }
    }
}

@import 'menu';

/* -------------------------- custom styles -------------------------------------*/

.cq-chart-unavailable {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    z-index: 1;
    font-size: 17px;
    color: #878787;
}

.smartcharts-mobile {
    .cq-modal-dropdown {
        &.stxMenuActive {
            z-index: 90;
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
        }
        .cq-menu-dropdown {
            height: auto;
            width: 100%;
        }
        &.ciq-studies, &.cq-comparison-new, &.cq-chart-title {
            .cq-menu-dropdown {
                /* for studies and comparison dropdown, fill screen in mobile */
                height: 100%;
            }
        }
    }
    .cq-menu-overlay {
        position: relative;
        background: rgba(0, 0, 0, 0.3);
        height: inherit;
        width: 100%;
        left: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 150 ease-out;
    }
    .stxMenuActive {
        .cq-menu-overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}
